Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

test(setup): update test inputs to match reordered download prompts
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: none

fix(setup): make keep_existing input checks more flexible
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(setup): show extraction tips only when auto-extract is enabled
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Configuration

feat(setup): add boolean coercion utility and improve error handling
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

test(setup): add tests for boolean coercion and partial download runs
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: none

refactor(setup): use _coerce_bool for boolean inputs in setup
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(setup): apply _coerce_bool to config booleans and add utf-8 encoding to file operations
  src/fetchtastic/setup_config.py
Due: Configuration

feat(setup): extend _coerce_bool to handle float values
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

refactor(download): remove release body check from channel detection
  src/fetchtastic/download/release_history.py
Due: Core Downloads

fix(download): skip apk cleanup when no stable releases available
  src/fetchtastic/download/android.py
Due: Core Downloads

fix(download): change default release channel to beta for full releases
  src/fetchtastic/download/release_history.py
  tests/test_release_history.py
Due: Core Downloads

fix(cli): require interactive terminal for clean operation
  src/fetchtastic/cli.py
Due: User Interface

refactor(download): update release channel detection for full releases
  src/fetchtastic/cli.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/release_history.py
  tests/test_channel_suffixes.py
  tests/test_download_firmware.py
  tests/test_release_history.py
Due: Core Downloads, User Interface

test: add tests for cleanup, release handling, and setup config
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_release_history.py
  tests/test_setup_config.py
Due: none

fix(config): improve error handling and robustness in setup config
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_download_firmware.py
  tests/test_release_history.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

fix(config): improve error handling in config loading
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_download_android.py
  tests/test_release_history.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

refactor(config): extract yaml loading function and improve error handling
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

test(config): update assertion for invalid yaml handling
  tests/test_config_edge_cases.py
Due: none

fix(config): improve apk selection handling in partial runs
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Configuration

fix(config): abort migration on backup failure to prevent data loss
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

refactor(config): add safe input handling for non-interactive environments
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: User Interface, Configuration

test(cli): fix mock paths and config load behavior in extended tests
  tests/test_cli_extended.py
Due: none

refactor(config): enhance input handling and config loading robustness
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_cli_extended.py
  tests/test_setup_config.py
Due: User Interface, Configuration

fix(test): replace yaml.dump with yaml.safe_dump in setup config tests
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: none

refactor(config): replace input with _safe_input in setup prompts
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

fix(config): improve exception handling in config loading and input prompts
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

refactor(config): replace manual boolean coercion with _coerce_bool function
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): replace input with _safe_input in cli and repo downloader
  src/fetchtastic/cli.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

fix(download): skip cleanup when keep set mismatches existing directories
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  tests/test_download_android.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(config): consolidate boolean coercion and setup logic
  src/fetchtastic/cli.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration

test(download): update storage tag candidates test for disabled suffixes
  tests/test_download_firmware.py
Due: none

refactor(config): replace manual boolean checks with _coerce_bool function
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

fix(config): improve error logging and prerelease handling
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

test(config): update assertions to check exception logging
  tests/test_config_edge_cases.py
  tests/test_setup_config.py
Due: none

test(config): fix assertion indentation in edge cases test
  tests/test_config_edge_cases.py
Due: none

refactor(config): change configure_exclude_patterns to return exclude patterns list
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

refactor(config): add List to typing imports
  src/fetchtastic/setup_config.py
Due: Configuration

feat(cli): add quit option to setup prompt
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_setup_config.py
Due: User Interface, Configuration

test(config): update tests for configure_exclude_patterns return value
  tests/test_setup_config.py
  tests/test_setup_config_noninteractive.py
  tests/test_setup_config_patch_coverage.py
Due: none

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
