Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(downloader): refactor exception handling and conditional expressions for readability
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): enhance exception handling readability and update tracking data management
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve code formatting and readability
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify conditional logic and improve code readability
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(constants): move GitHub API retry and version handling constants to constants module
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

test(constants): add tests for moved GitHub API retry and version hash constants
  tests/test_constants_module.py
  tests/test_prereleases.py
Due: none

refactor(downloader): break down large tracking data validation function into smaller helpers
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): normalize data and improve error handling in multiple functions
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve error handling and simplify conditional logic
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): enhance prerelease commit tracking and history management
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): enhance prerelease commit tracking and cleanup deprecated function
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify logic and improve error handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): enhance prerelease tracking and error handling
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

refactor(downloader): simplify prerelease detection logic
  src/fetchtastic/downloader.py
Due: Core Downloads

feat(prerelease): add commit history tracking for prerelease builds
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads, Infrastructure

feat(prerelease): add simplified commit history tracking and display formatting
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(prerelease): optimize commit history building by parsing messages instead of individual API calls
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor: improve file size validation with tolerance checking
  src/fetchtastic/downloader.py
Due: Core Downloads

feat(prerelease): add caching for commits API responses
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

refactor(downloader): simplify file size validation and remove unused variable
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

chore(deps): update tool versions in CI configuration
  .trunk/trunk.yaml
  pyproject.toml
Due: none

refactor(prerelease): simplify tracking by removing commit change caching
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads, Infrastructure

feat(prerelease): add GitHub token authentication support for directory fetching
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  tests/test_prereleases.py
Due: Core Downloads, User Interface

refactor(downloader): remove unused _fetch_commit_detail function and simplify exception handling
  src/fetchtastic/downloader.py
Due: Core Downloads

feat(downloader): add force_refresh parameter to bypass cache in _fetch_recent_repo_commits
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): extract common helper functions and eliminate code duplication in history entry processing
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify timestamp comparison using max() function
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): extract _sort_key function and add comprehensive test coverage
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): extract helper functions and improve error handling
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

test(downloader): add test coverage for new helper functions and cache logic
  tests/test_prereleases.py
Due: none

test(downloader): add comprehensive test coverage for prerelease history parsing and cache logic
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

test(downloader): improve prerelease cache expiry test with comprehensive mocking
  tests/test_prereleases.py
Due: none

refactor(downloader): improve cache loading logic with conditional loading
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): simplify cache tests and fix filename consistency
  tests/test_prereleases.py
Due: none

refactor(downloader): improve prerelease tracking logic and cleanup formatting
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(prerelease): extract regex patterns to constants
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

fix(downloader): add missing conditional check for added_sha field
  src/fetchtastic/downloader.py
Due: Core Downloads

chore(config): update trunk plugin to v1.7.4
  .trunk/trunk.yaml
  tests/test_prereleases.py
Due: none

refactor(downloader): convert regex patterns to compiled regex objects
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
  tests/test_security_paths.py
Due: Core Downloads

refactor(downloader): extract cache handling into reusable helpers
  src/fetchtastic/downloader.py
Due: Core Downloads
