Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(log): simplify debug log format to remove detailed module info
  src/fetchtastic/constants.py
  src/fetchtastic/log_utils.py
  tests/test_log_utils.py
Due: Infrastructure

fix(downloader): correct prerelease tracking error handling to return existing commit count
  src/fetchtastic/downloader.py
  tests/test_log_utils_level.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): enhance error handling and improve code formatting
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
Due: Core Downloads, Configuration

refactor(downloader): improve code formatting and simplify error handling
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads

refactor(downloader): simplify code formatting and improve readability
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify code formatting and improve readability
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): simplify code formatting and improve error handling
  src/fetchtastic/downloader.py
  tests/test_downloader_original.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(tests): split test_downloader_original.py into focused modules
  tests/test_downloader.py
  tests/test_downloader_original.py
Due: none

feat(downloader): add github token support for higher rate limits
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify error handling and improve security
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_prereleases.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

refactor(setup): move configuration save to after all interactive sections
  src/fetchtastic/log_utils.py
  src/fetchtastic/setup_config.py
Due: Configuration, Infrastructure

refactor(downloader): remove debug logging in version normalization and cleanup
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify version comparison and cache handling
  AGENTS.md
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

chore(deps): update minimum Python version to 3.10
  AGENTS.md
  docs/linux-installation.md
  docs/macos-installation.md
  setup.cfg
Due: none

refactor(downloader): refactor prerelease tracking data handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): replace hardcoded firmware prefix with constant
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

refactor(downloader): simplify version comparison and exception handling
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
  tests/test_setup_config.py
Due: Core Downloads

refactor(downloader): simplify code and enhance tests
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
  tests/test_setup_config.py
Due: Core Downloads

refactor(downloader): simplify exception handling and code formatting
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads

feat(cli): add --force flag to bypass cache in downloads
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration

refactor(api): simplify API response logging and exception handling
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(downloader): simplify exception handling and code formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

feat(api): add GitHub token authentication and improve error handling
  setup.cfg
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

refactor(downloader): simplify exception handling and improve sorting
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

refactor(downloader): simplify exception handling and enhance cache logging
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(api): simplify exception handling in API calls
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor: extract constants and simplify exception handling
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(downloader): simplify exception handling and parameter passing
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify exception handling and code formatting
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(logging): update debug log format to include logger name
  .trunk/trunk.yaml
  src/fetchtastic/constants.py
  tests/test_log_utils.py
Due: Infrastructure

refactor(downloader): add allow_env_token parameter and simplify code
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

test(download_core): add test for partial download failure notification
  tests/test_download_core.py
Due: none

refactor(menu_repo): add allow_env_token parameter and simplify token handling
  src/fetchtastic/menu_repo.py
Due: User Interface

refactor(downloader): simplify exception handling and code formatting
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

test(download_core): add pytest marks and new test for no downloads attempted
  tests/test_download_core.py
Due: none

refactor(downloader): simplify cache logic, exception handling, and return types
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

test(prereleases): add tests for commit hash extraction and timestamp caching
  tests/test_prereleases.py
Due: none

test(download_core): remove unused import and parameter from test
  tests/test_download_core.py
Due: none

refactor(downloader): update prerelease tracking data format and improve code style
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads
