Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(api): clarify GitHub API request terminology and add cache miss tracking
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  tests/test_utils.py
Due: Core Downloads, User Interface

feat(downloader): add prerelease directory caching with configurable expiry
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads, Infrastructure

refactor(downloader): clarify cache statistics terminology and formatting
  src/fetchtastic/downloader.py
  tests/test_utils.py
Due: Core Downloads

refactor(downloader): optimize commit cache saving to only persist new entries
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): improve cache statistics formatting to include lookup count with arrow
  src/fetchtastic/downloader.py
  tests/test_utils.py
Due: Core Downloads

refactor(api): remove unused cache hit tracking
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

refactor(test): update mock paths to remove downloader module reference
  tests/test_prereleases.py
Due: none

test(prereleases): correct mock decorator paths to match refactored module structure
  tests/test_prereleases.py
Due: none

test(prereleases): add cache clearing for fresh mock data in prerelease test
  tests/test_prereleases.py
Due: none

refactor(utils): remove unused rate limit cache retrieval
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(downloader): improve rate limit display robustness
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(cli,downloader): improve cleanup logic and logging messages
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  tests/test_utils.py
Due: Core Downloads, User Interface

docs(api): improve API summary documentation and wording
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

refactor(cli,downloader,utils,test): improve code documentation, add API cache tracking, and enhance tests
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads, User Interface

refactor(logger): improve error message wording from "Error" to "Could not"
  src/fetchtastic/menu_repo.py
  tests/test_menu_repo.py
Due: User Interface

refactor(api): remove cache miss tracking from API call
  src/fetchtastic/menu_repo.py
Due: User Interface

refactor(api): remove track_api_cache_miss import from menu_repo
  src/fetchtastic/menu_repo.py
Due: User Interface

refactor(downloader): move file existence check outside try block
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): migrate legacy text tracking files to JSON format
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): consolidate file removal logic in cleanup_superseded_prereleases
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): migrate legacy text tracking files to JSON format
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): add age-based cleanup for legacy files to prevent migration
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads, Infrastructure

refactor(downloader): move legacy file migration to main function and improve logging
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
  tests/test_token_warning_fix.py
Due: Core Downloads

refactor(downloader): improve error handling and robustness in legacy file migration
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
  tests/test_token_warning_fix.py
Due: Core Downloads

refactor(downloader): remove legacy file migration in favor of cleanup
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads, Infrastructure

refactor(downloader): refactor hardcoded JSON filenames to use constants and centralize basename logic
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

fix: update prerelease tracking to use cache directory consistently
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): remove prerelease_dir parameter and use cache directory consistently
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): migrate all legacy tracking files to JSON format and improve file existence handling
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

test(download-core): add comprehensive tests for legacy file migration functionality
  tests/test_coverage_fix.py
  tests/test_download_core.py
Due: none

refactor(downloader): remove legacy file migration and simplify tracking functionality
  src/fetchtastic/downloader.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/utils.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): continue removal of legacy file tracking and simplify version handling
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

fix(downloader): prevent already-complete releases from being flagged as new candidates
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_notifications.py
  tests/test_prereleases.py
Due: Core Downloads

test: modify cache test to prevent disk reload after clearing
  tests/test_prereleases.py
Due: none

refactor(downloader): improve cache loading and data structure handling
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): clarify JSON-only tracking in comments
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve logging and cleanup legacy
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): improve thread safety with double-checked locking pattern
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): rename JSON field from 'type' to 'file_type' and improve handling
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_notifications.py
Due: Core Downloads
