Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

Remove unreachable invariant check in update_release_history
  src/fetchtastic/download/android.py
Due: Core Downloads

refactor(test): relocate RELEASE_CACHE_SCHEMA_VERSION import to module level
  tests/test_cache_management.py
Due: none

refactor(cache): consolidate release cache schema version constants
  src/fetchtastic/constants.py
  src/fetchtastic/download/cache.py
  tests/test_cache_management.py
Due: Core Downloads, Infrastructure

refactor(download): remove prerelease invariant check from release history update
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  tests/test_android_downloader_comprehensive.py
Due: Core Downloads

refactor(download): remove prerelease invariant check and enhance cache debugging
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
Due: Core Downloads

docs(cache): add type annotation to return value docstring
  src/fetchtastic/download/cache.py
Due: Core Downloads

Add cache schema versioning and validation to fetch system (#174)
  pyproject.toml
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cache_flow_integration.py
  tests/test_cache_management.py
Due: Core Downloads, Infrastructure

refactor(cli): rename cache update to clear for clarity
  docs/usage-guide.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  tests/test_cli.py
  tests/test_cli_additional.py
  tests/test_download_cli_integration.py
Due: Core Downloads, User Interface

perf(cache): increase releases cache expiry to 10 minutes
  src/fetchtastic/constants.py
Due: Infrastructure

docs(cli): update docstring parameter name to cache_clear
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads

chore(deps): bump linter versions and apply formatting
  .trunk/trunk.yaml
  tests/test_cache_flow_integration.py
  tests/test_cache_management.py
Due: none

docs: update cache command in README
  README.md
Due: none

Rename cache operations from update to clear (#176)
  .trunk/trunk.yaml
  README.md
  docs/usage-guide.md
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  tests/test_cache_flow_integration.py
  tests/test_cache_management.py
  tests/test_cli.py
  tests/test_cli_additional.py
  tests/test_download_cli_integration.py
Due: Core Downloads, User Interface, Infrastructure

refactor(error-handling): add custom exception hierarchy and improve error handling
  requirements-dev.txt
  requirements.txt
  src/fetchtastic/device_hardware.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/exceptions.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_device_hardware.py
Due: Core Downloads, User Interface, Configuration

test: add CodeRabbit generated unit tests and fix error handling
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  tests/test_base_downloader.py
  tests/test_exceptions.py
  tests/test_menu_comprehensive.py
Due: User Interface

refactor(exceptions): rename PermissionError to FilePermissionError and improve error handling
  requirements.txt
  src/fetchtastic/device_hardware.py
  src/fetchtastic/exceptions.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/setup_config.py
  tests/test_device_hardware.py
  tests/test_exceptions.py
Due: User Interface, Configuration

chore(deps): update linting tool versions and clean up unused imports
  .trunk/trunk.yaml
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  tests/test_base_downloader.py
  tests/test_exceptions.py
  tests/test_menu_comprehensive.py
Due: Core Downloads

test: add exception handler tests for device_hardware, setup_config, and utils
  tests/test_device_hardware.py
  tests/test_download_cli_integration.py
  tests/test_menu_firmware.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: none

chore: add noqa comments for BLE001, update test config, and add testing guide
  codecov.yml
  docs/TESTING_GUIDE.md
  src/fetchtastic/exceptions.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_base_downloader.py
  tests/test_device_hardware.py
  tests/test_exceptions.py
  tests/test_menu_comprehensive.py
Due: Core Downloads, User Interface, Configuration

refactor(exceptions): replace generic Exception with specific types
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_menu_repo.py
Due: User Interface, Configuration

style: add missing newlines at end of files and normalize docstring whitespace
  src/fetchtastic/device_hardware.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/exceptions.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_base_downloader.py
  tests/test_device_hardware.py
  tests/test_download_cli_integration.py
  tests/test_menu_comprehensive.py
Due: Core Downloads, User Interface, Configuration

Add exception hierarchy and enhance error handling (#177)
  .trunk/trunk.yaml
  codecov.yml
  docs/TESTING_GUIDE.md
  requirements-dev.txt
  requirements.txt
  src/fetchtastic/device_hardware.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/exceptions.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_base_downloader.py
  tests/test_cli.py
  tests/test_device_hardware.py
  tests/test_download_cli_integration.py
  tests/test_exceptions.py
  tests/test_menu_comprehensive.py
  tests/test_menu_firmware.py
  tests/test_menu_repo.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: Core Downloads, User Interface, Configuration

feat(download): add async HTTP client and download capabilities
  requirements.txt
  src/fetchtastic/download/__init__.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/github_source.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cache_flow_integration.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_downloader.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_log_utils.py
  tests/test_notifications.py
Due: Core Downloads

build(deps): add async dependencies for parallel downloads
  pyproject.toml
Due: none

test(async): add comprehensive async client and downloader tests
  pyproject.toml
  requirements-dev.txt
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  tests/conftest.py
  tests/test_async_client.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
Due: Core Downloads

fix(download): improve cross-platform file handling and error management
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/github_source.py
  tests/test_base_downloader.py
Due: Core Downloads

test: update async tests to match Path.replace and new security behavior
  tests/test_async_client.py
  tests/test_async_downloader.py
Due: none

refactor(download): improve async concurrency control and error handling
  pyproject.toml
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/github_source.py
  tests/test_async_client.py
  tests/test_base_downloader.py
Due: Core Downloads

refactor(download): improve async concurrency control and error handling
  pyproject.toml
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  tests/test_base_downloader.py
Due: Core Downloads

feat(download): add github_token parameter for authenticated downloads
  requirements.txt
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/github_source.py
  tests/test_async_client.py
  tests/test_base_downloader.py
Due: Core Downloads

refactor(download): add input validation and error handling for malformed release data
  src/fetchtastic/download/android.py
  src/fetchtastic/download/github_source.py
  tests/test_download_android.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(download): add defensive validation and error handling for download operations
  src/fetchtastic/download/android.py
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/github_source.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/setup_config.py
  tests/test_async_client.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
  tests/test_download_android.py
  tests/test_download_firmware.py
Due: Core Downloads, Configuration

fix(download): add timeout to wifi connectivity check subprocess
  pyproject.toml
  src/fetchtastic/download/orchestrator.py
  tests/conftest.py
Due: Core Downloads

refactor(download): reuse aiohttp session and validate concurrency limits
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/repository.py
  tests/conftest.py
  tests/test_async_client.py
  tests/test_base_downloader.py
Due: Core Downloads

refactor(download): extract shared async download logic into mixin
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
Due: Core Downloads

fix(download): add input validation and error handling for config and parameters
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/repository.py
  tests/test_async_client.py
  tests/test_async_downloader.py
Due: Core Downloads

fix(download): handle non-numeric Content-Length and improve error propagation
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
  tests/test_async_client.py
  tests/test_async_downloader.py
Due: Core Downloads

test: move async marker from class to method level in test_async_downloader
  tests/test_async_downloader.py
Due: none

fix(async_client): handle non-numeric X-RateLimit-Remaining header gracefully
  requirements.txt
  src/fetchtastic/download/android.py
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/github_source.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/setup_config.py
  tests/conftest.py
  tests/test_async_client.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
  tests/test_downloader.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_log_utils.py
  tests/test_notifications.py
Due: Core Downloads, Configuration

refactor(download): extract asset creation logic into reusable function
  src/fetchtastic/download/android.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/github_source.py
  tests/test_async_downloader.py
Due: Core Downloads
