Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

Address code review feedback - improve pattern matching robustness and maintainability
  src/fetchtastic/constants.py
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

Fix test failures after JSON tracking file format change
  tests/test_downloader.py
Due: none

Improve UI coverage and address code review feedback
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Apply comprehensive code review fixes - all 11 actionable items addressed
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Add comprehensive UI coverage tests to achieve 60%+ target
  tests/test_downloader.py
Due: none

Address new code review feedback - fix data corruption risk and platform compatibility
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Address additional code review feedback - fix test issues and improve clarity
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Add comprehensive UI coverage tests to exceed 60% target
  tests/test_downloader.py
Due: none

Add CLI tests for LOG_LEVEL configuration to improve UI coverage
  tests/test_cli.py
Due: none

Apply trunk formatting fixes
  tests/test_cli.py
  tests/test_downloader.py
Due: none

Optimize prerelease tracking with batch updates for better performance
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Address comprehensive code review feedback - robustness and quality improvements
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  tests/test_cli.py
  tests/test_downloader.py
Due: Core Downloads

Implement dynamic User-Agent header with version detection
  src/fetchtastic/device_hardware.py
  src/fetchtastic/utils.py
  tests/test_downloader.py
Due: Core Downloads

Fix prerelease download and notification logic issues
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix test expectations to match corrected prerelease download logic
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Apply trunk formatting fixes
  tests/test_cli.py
Due: none

Refactor duplicate tracking data reading logic into helper function
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Address comprehensive code review feedback systematically
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Address second round of code review feedback systematically
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
Due: Core Downloads

Remove legacy terminology and fix all code review issues systematically
  src/fetchtastic/downloader.py
Due: Core Downloads

Address third round of code review feedback
  src/fetchtastic/downloader.py
Due: Core Downloads

Apply trunk formatting fixes
  tests/test_downloader.py
Due: none

Address fourth round of code review feedback
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Address fifth round of code review feedback
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Fix incomplete reporting for existing prereleases (HIGH PRIORITY)
  src/fetchtastic/downloader.py
Due: Core Downloads

Address sixth round of code review feedback
  src/fetchtastic/downloader.py
  tests/test_cli.py
Due: Core Downloads

Apply trunk formatting fixes after pulling latest changes
  src/fetchtastic/cli.py
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  src/fetchtastic/log_utils.py
  src/fetchtastic/utils.py
  tests/test_cli.py
Due: Core Downloads, User Interface, Infrastructure

Address seventh round of code review feedback
  src/fetchtastic/downloader.py
Due: Core Downloads

Adjust docstrings
  src/fetchtastic/setup_config.py
Due: Configuration

Fix CI test failures and complete setup wizard enhancement
  tests/test_setup_config.py
Due: none

Add comprehensive tests to improve patch coverage
  tests/test_setup_config.py
Due: none

Address comprehensive code review feedback with systematic fixes
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  src/fetchtastic/log_utils.py
  src/fetchtastic/setup_config.py
  tests/test_downloader.py
Due: Core Downloads, Configuration, Infrastructure

Refactor prerelease tracking functions to reduce code duplication
  src/fetchtastic/downloader.py
Due: Core Downloads

Implement code quality improvements from gemini-code-assist feedback
  src/fetchtastic/cli.py
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
Due: Core Downloads, User Interface

Fix notification bugs, deprecation warning, and remove outdated littlefs references
  docs/usage-guide.md
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

Improve log message clarity for prerelease downloads
  src/fetchtastic/downloader.py
Due: Core Downloads

Address nitpick comments from code review - precision improvements
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

Bump version to 0.7.0 and fix redundant condition in device pattern matching
  setup.cfg
  src/fetchtastic/device_hardware.py
Due: none

Implement comprehensive setup flow improvements and address all user feedback
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration
