Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

test(config): refactor upgrade command tests with Termux scenarios
  tests/test_setup_config.py
Due: none

test(cli): rename test functions and add mock for HTTP call prevention
  tests/test_cli.py
Due: none

test(utils): refactor test suite by removing legacy cache tests and improving assertions
  tests/test_utils.py
Due: none

refactor(tests): restructure import paths from fetchtastic to src.fetchtastic
  tests/test_cli.py
  tests/test_setup_config.py
Due: none

test(cli): improve mocking and refactor repo_clean test
  tests/test_cli.py
Due: none

refactor(tests): update import paths and mock patches for refactored modules
  tests/test_cli.py
  tests/test_setup_config.py
Due: none

refactor(tests): update CLI mock structure and assertions in test_cli.py
  tests/test_cli.py
Due: none

refactor(tests): update CLI mock structure and simplify test assertions
  tests/test_cli.py
Due: none

refactor(tests): update import paths from fetchtastic to src.fetchtastic
  tests/test_setup_config.py
Due: none

refactor(cli): update import paths in tests to match real usage
  src/fetchtastic/cli.py
  tests/test_cli.py
  tests/test_setup_config.py
Due: User Interface

refactor(tests): update import paths and mock configurations for refactored modules
  tests/test_cli.py
  tests/test_cli_additional.py
  tests/test_setup_config.py
Due: none

test: update test function parameters in test_run_setup_first_run_termux
  tests/test_setup_config.py
Due: none

test: add comprehensive test coverage for CLI, config, and setup modules
  tests/test_cli_extended.py
  tests/test_config_coverage_fixes.py
  tests/test_setup_config_extended.py
Due: none

test(config): add comprehensive test coverage for setup configuration
  tests/test_config_simple.py
Due: none

test(cli): add comprehensive CLI test coverage
  tests/test_cli_simple.py
Due: none

test(tests): update CLI test parameters and mock configurations
  tests/test_cli_extended.py
  tests/test_cli_simple.py
Due: none

fix(cli): add error handling for config operations
  src/fetchtastic/cli.py
  tests/test_cli_extended.py
  tests/test_cli_simple.py
Due: User Interface

test(tests): remove obsolete CLI test cases
  tests/test_cli_simple.py
Due: none

test(tests): remove cli simple test
  tests/test_cli_simple.py
Due: none

test(config): fix pipx install assertion count
  tests/test_setup_config_extended.py
Due: none

feat(config): add non-interactive environment support to configure_exclude_patterns
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

test(config): refactor CI environment mocking in exclude patterns tests
  tests/test_setup_config_extended.py
Due: none

build(config): add pythonpath configuration to pytest
  pyproject.toml
Due: none

test(config): add comprehensive test coverage for configuration functionality
  tests/test_automation_config.py
  tests/test_config_edge_cases.py
  tests/test_config_utils_comprehensive.py
  tests/test_pip_migration.py
Due: none

test(config): simplify test configuration and remove redundant path setup
  tests/test_automation_config.py
  tests/test_config_edge_cases.py
  tests/test_config_utils_comprehensive.py
  tests/test_pip_migration.py
Due: none

feat(config): allow full words for cron frequency choices
  src/fetchtastic/setup_config.py
Due: Configuration

test(config): add comprehensive test coverage for config cron functionality
  tests/test_setup_config_patch_coverage.py
Due: none

refactor(download): remove repository downloads from automatic pipeline and add TTL caching
  docs/refactor-parity-audit.md
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cache_repo_directories.py
  tests/test_download_firmware.py
  tests/test_download_integration.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_retry.py
  tests/test_prerelease_tracking_cleanup.py
  tests/test_version_management.py
Due: Core Downloads

refactor(download): extract datetime parser and move path sanitizer, improve error handling
  .trunk/trunk.yaml
  docs/migration-progress-summary.md
  docs/test-migration-plan.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/__init__.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/repository.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cli.py
  tests/test_cli_extended.py
Due: Core Downloads, User Interface

refactor(download): centralize cache operations with CacheManager and enhance error handling
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config_patch_coverage.py
Due: Core Downloads, Configuration

refactor(download): enhance prerelease configuration and logging, improve download statistics
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_download_cli_integration.py
  tests/test_orchestrator_token_and_stats.py
Due: Core Downloads

refactor(download): make commit history cache refresh conditional on prerelease presence
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_retry.py
Due: Core Downloads

refactor(download): simplify release filtering and improve rate limit handling
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/utils.py
  tests/test_download_orchestrator.py
Due: Core Downloads

refactor(download): improve version-based release selection and prerelease filtering
  docs/delegate_cleanup_tasks.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  tests/test_automation_config.py
  tests/test_download_orchestrator.py
  tests/test_setup_config_first_run.py
  tests/test_setup_config_noninteractive.py
  tests/test_version_management.py
Due: Core Downloads, Infrastructure

chore(config): remove sample fetchtastic configuration file
  ~/.config/fetchtastic/fetchtastic.yaml
Due: none

chore: remove outdated documentation and improve code quality
  docs/delegate_cleanup_tasks.md
  docs/migration-progress-summary.md
  docs/refactor-handoff.md
  docs/refactor-implementation-plan.md
  docs/refactor-parity-audit.md
  docs/refactor-remaining-work.md
  docs/refactoring-plan-downloader.md
  docs/test-migration-plan.md
  docs/version-refactoring-summary.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_cli_extended.py
  tests/test_utils.py
Due: Core Downloads, User Interface, Configuration

test: update mocks to use centralized github api request function
  tests/test_menu_apk.py
  tests/test_menu_firmware.py
  tests/test_menu_repo.py
Due: none

test: skip unstable tests due to rate limiting cache issues
  tests/test_menu_repo.py
Due: none

refactor(test): remove skip markers and update mock patches
  src/fetchtastic/cli.py
  tests/test_menu_repo.py
Due: User Interface
