Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

fix(download): use case-insensitive manifest scan and map fields
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads

feat(download): cleanup superseded prereleases after latest release
  .gitignore
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

feat(download): notify new releases when wifi is skipped
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli_notifications.py
Due: Core Downloads

refactor(download): remove archive extraction and manifest retrieval
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  tests/test_base_downloader.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
Due: Core Downloads

feat(download): introduce stable baseline prerelease handling and wifi-skip tracking
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/notifications.py
  tests/test_cli_notifications.py
  tests/test_download_orchestrator.py
  tests/test_notifications.py
Due: Core Downloads

feat(download): add wifi-skip version discovery and expose to CLI
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli_notifications.py
  tests/test_download_orchestrator.py
Due: Core Downloads

feat(download): split wifi-skip version discovery into dedicated firmware/apk handlers
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_wifi_only.py
Due: Core Downloads

test(download): update prerelease tests and extend keep limit to 5
  tests/test_download_orchestrator.py
Due: none

refactor(download): add _select_latest_official_firmware_release for baseline derivation
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
Due: Core Downloads

refactor(download): remove official baseline selector
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

test(download): align prerelease tests with latest-by-version selection
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_prereleases_modular.py
Due: Core Downloads

feat(download): use actual selected firmware releases in summary
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

refactor(download): snapshot selected releases for summary per run
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(download): baseline prerelease cleanup against latest stable release
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_wifi_only.py
Due: Core Downloads

Bump version
  pyproject.toml
Due: none

.trunk/trunk upgrade
  .trunk/trunk.yaml
Due: none

refactor(fetchtastic): update cleanup and API log messages
  src/fetchtastic/download/desktop.py
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

After refactor: re-add firmware prerelease cleanup, fix firmware prerelease baseline regression & wifi connectivity awareness for Termux; remove dead code (#200)
  .gitignore
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/notifications.py
  src/fetchtastic/utils.py
  tests/test_base_downloader.py
  tests/test_cli_notifications.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_notifications.py
  tests/test_prereleases_modular.py
  tests/test_utils.py
  tests/test_wifi_only.py
Due: Core Downloads

chore(config): add renovate.json for automated dependency updates
  renovate.json
Due: none

chore(github): remove dependabot.yml to migrate to Renovate
  .github/dependabot.yml
Due: none

Switch to Renovate for dependency management (#201)
  .github/dependabot.yml
  renovate.json
Due: none

chore: bump version to 0.10.7 and update trunk linters
  .trunk/trunk.yaml
  pyproject.toml
Due: none

chore: ignore .opencode directory
  .gitignore
Due: none

refactor(download): unify client app artifacts into a single app directory
  README.md
  docs/usage-guide.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  tests/test_constants.py
Due: Core Downloads, Infrastructure

test(download): update tests for unified app directory structure
  tests/test_android_downloader_comprehensive.py
  tests/test_download_android.py
  tests/test_download_desktop.py
Due: none

feat(download): differentiate release notes and refine cleanup logic
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/desktop.py
  tests/test_channel_suffixes.py
  tests/test_download_android.py
  tests/test_download_desktop.py
Due: Core Downloads

feat(download): implement platform-specific pruning for unified storage
  .trunk/trunk.yaml
  README.md
  docs/usage-guide.md
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  tests/test_channel_suffixes.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads

feat(download): implement unified client app asset management
  README.md
  docs/usage-guide.md
  src/fetchtastic/client_app_config.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/__init__.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_app.py
  src/fetchtastic/setup_config.py
  tests/test_client_app_config.py
  tests/test_client_app_downloader.py
Due: Core Downloads, Configuration, Infrastructure

refactor(download): refine client app cleanup and configuration logic
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

Update .gitignore
  .gitignore
Due: none

fix(download): prevent accidental deletion of cross-platform assets
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
Due: Core Downloads

refactor(download): simplify cleanup logic by removing cross-platform guards
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  tests/test_download_android.py
  tests/test_download_desktop.py
Due: Core Downloads

feat(download): re-unify Android and Desktop assets into a single client app tree
  .gitignore
  .trunk/trunk.yaml
  README.md
  docs/usage-guide.md
  src/fetchtastic/client_app_config.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/__init__.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_app.py
  src/fetchtastic/setup_config.py
  tests/test_channel_suffixes.py
  tests/test_client_app_config.py
  tests/test_client_app_downloader.py
  tests/test_constants.py
  tests/test_download_android.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads, Configuration, Infrastructure

refactor(download): streamline client app pipeline and migration logic
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_comprehensive.py
  tests/test_orchestrator_retry.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
  tests/test_wifi_only.py
Due: Core Downloads, Configuration

chore(config): unify client app setup and constants
  src/fetchtastic/constants.py
  src/fetchtastic/setup_config.py
Due: Configuration, Infrastructure

test(config): update setup tests for unified client app menu
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
Due: none

fix(config): add timeouts to subprocess calls in setup_config
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_config_coverage_fixes.py
  tests/test_config_simple.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
Due: Configuration

test(config): refine setup config mocks and input handling
  tests/test_setup_config.py
Due: none

fix(test-config): update setup section shortcuts and validation
  tests/test_setup_config.py
Due: none
