Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

feat(download): add prerelease version handling and notification control
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/notifications.py
  tests/test_cli_notifications.py
  tests/test_download_cli_integration.py
  tests/test_notifications.py
Due: Core Downloads

refactor(config): make allow_env_token configurable via config
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  tests/test_allow_env_token.py
  tests/test_wifi_only.py
Due: Core Downloads

Fixes
  src/fetchtastic/download/cli_integration.py
  tests/test_cli_notifications.py
  tests/test_wifi_only.py
Due: Core Downloads

chore(download): remove unused variable and fix formatting
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

refactor(download): adjust prerelease tag comparison logic and fix docstring indentation
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads

refactor(download): simplify notification logic and remove new releases handling
  src/fetchtastic/download/cli_integration.py
  tests/test_cli_notifications.py
  tests/test_download_cli_integration.py
Due: Core Downloads

test: fix assertions for skipped assets in migration reporting
  tests/test_migration_reporting.py
Due: none

refactor(download): adjust logging levels and messages for asset completion
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): update backward compatibility and error handling
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli_notifications.py
  tests/test_migration_reporting.py
Due: Core Downloads

refactor(download): simplify tag prefix removal and fix code formatting
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/notifications.py
  src/fetchtastic/repo_downloader.py
  tests/test_allow_env_token.py
Due: Core Downloads

style: simplify code formatting in repo downloader and test
  src/fetchtastic/repo_downloader.py
  tests/test_allow_env_token.py
Due: none

Re-add configuration flags and Wi-Fi detection after refactor (#146)
  .bandit
  pyproject.toml
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/notifications.py
  src/fetchtastic/repo_downloader.py
  tests/test_allow_env_token.py
  tests/test_cli_notifications.py
  tests/test_download_cli_integration.py
  tests/test_download_orchestrator.py
  tests/test_migration_reporting.py
  tests/test_notifications.py
  tests/test_wifi_only.py
Due: Core Downloads

feat(config): add optional update notification to display_version_info
  pyproject.toml
  src/fetchtastic/setup_config.py
  tests/test_config_simple.py
Due: Configuration

feat(cli): add update check and notification after download
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

refactor(config): remove show_update_message parameter from display_version_info
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_config_simple.py
Due: User Interface, Configuration

test(cli): add test for download command with update check
  tests/test_cli.py
Due: none

refactor(config): rename display_version_info to get_version_info
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_config_simple.py
Due: User Interface, Configuration

refactor(config): rename display_version_info to get_version_info
  tests/test_config_coverage_fixes.py
  tests/test_pip_migration.py
  tests/test_setup_config_extended.py
Due: none

style(tests): remove unused mock_logger variable in test
  tests/test_cli.py
Due: none

refactor(cli): rename display_version_info to get_version_info in CLI and tests
  src/fetchtastic/cli.py
  tests/test_cli.py
  tests/test_cli_additional.py
  tests/test_cli_extended.py
  tests/test_config_coverage_fixes.py
  tests/test_pip_migration.py
  tests/test_setup_config_extended.py
Due: User Interface

refactor(cli): ignore current_version in get_version_info calls
  src/fetchtastic/cli.py
  tests/test_cli.py
Due: User Interface

test(cli): add test for download command with no update available
  tests/test_cli.py
Due: none

Add show_update_message parameter (#148)
  pyproject.toml
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_cli_additional.py
  tests/test_cli_extended.py
  tests/test_config_coverage_fixes.py
  tests/test_config_simple.py
  tests/test_pip_migration.py
  tests/test_setup_config_extended.py
Due: User Interface, Configuration

feat(android): add APK prerelease directory management
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_android.py
  tests/test_download_orchestrator.py
Due: Core Downloads

refactor(android): refactor prerelease directory cleanup to remove unexpected entries
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_android.py
  tests/test_download_orchestrator.py
Due: Core Downloads

test(android): add tests for asset completeness and prerelease cleanup
  tests/test_download_android.py
Due: none

refactor(android): sort stable releases by version in cleanup
  src/fetchtastic/download/android.py
  tests/test_download_android.py
Due: Core Downloads

refactor(android): delegate cleanup_old_versions to prerelease-aware cleanup
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_android.py
  tests/test_download_orchestrator.py
Due: Core Downloads

refactor(android): remove unused version directory check method
  src/fetchtastic/download/android.py
  tests/test_download_android.py
Due: Core Downloads

Restore prerelease APK verification/cleanup support, post refactor (#149)
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_android.py
  tests/test_download_orchestrator.py
Due: Core Downloads

feat(menu): add commit time-based sorting for firmware directories
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

test(menu): add tests for cache manager and commit times
  src/fetchtastic/menu_repo.py
  tests/test_menu_repo.py
  tests/test_prereleases_modular.py
  tests/test_repo_downloader.py
Due: User Interface

refactor(menu): use global version manager instance
  src/fetchtastic/menu_repo.py
  tests/test_menu_repo.py
Due: User Interface

Update src/fetchtastic/menu_repo.py
  src/fetchtastic/menu_repo.py
Due: User Interface

chore(menu): add .gitignore to excluded files
  src/fetchtastic/menu_repo.py
Due: User Interface

refactor(menu): update select_item to use pick.Option for improved menu handling
  src/fetchtastic/menu_repo.py
  tests/test_cli_extended.py
  tests/test_menu_repo.py
Due: User Interface

refactor(menu): simplify menu selection and config handling logic
  src/fetchtastic/menu_repo.py
Due: User Interface

refactor(menu): simplify run_menu logic and exclude .github directory
  src/fetchtastic/menu_repo.py
  tests/test_menu_repo.py
Due: User Interface

refactor(menu): simplify select_item logic and improve type access safety
  src/fetchtastic/menu_repo.py
Due: User Interface

feat(menu): add page navigation and improved menu actions
  src/fetchtastic/menu_repo.py
  tests/test_cli_extended.py
  tests/test_menu_repo.py
Due: User Interface

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
