Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(download): extract method for collecting non-revoked releases
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads

refactor(download): make collect_non_revoked_releases public and enhance filtering logic
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(download): correct fetch limit calculation to enforce maximum and handle negatives
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
Due: Core Downloads

style(test): add newline at end of file
  tests/test_orchestrator_comprehensive.py
Due: none

Add revoked release filtering to firmware downloads (#165)
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_comprehensive.py
  tests/test_setup_config.py
Due: Core Downloads, Infrastructure

refactor(orchestrator): add caching helper for android releases
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

feat(download): add prerelease summary capture and filtered release reporting
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_release_history.py
Due: Core Downloads

fix(orchestrator): ensure each android release is downloaded in loop
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

chore: bump version to 0.10.1
  pyproject.toml
Due: none

refactor(download): extract release sorting into dedicated method
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/release_history.py
  tests/test_release_history.py
Due: Core Downloads

refactor(download): extract channel map building into helper function
  src/fetchtastic/download/release_history.py
Due: Core Downloads

refactor(download): optimize release history filtering and sorting
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

refactor(download): simplify prerelease summary handling
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): extract channel mapping and summary building into methods
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

refactor(download): extract release caching logic with limit handling
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): extract generic release caching logic
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

refactor(download): simplify android releases fetching and prerelease summary handling
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): simplify release caching logic and error handling
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

refactor(download): simplify release fetching logic and prerelease validation
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): simplify conditional logic and tag filtering
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): simplify should_fetch conditional logic
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): simplify prerelease validation and release filtering
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

refactor(download): add check for missing prerelease directory and move summary creation
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(download): rename fallback_channel_map to display_channel_map
  src/fetchtastic/download/release_history.py
Due: Core Downloads

Extend prerelease handling and add cached release helpers (#169)
  pyproject.toml
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_release_history.py
Due: Core Downloads

fix(release): only report newly removed entries in status summary
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/release_history.py
  tests/test_release_history.py
Due: Core Downloads

chore(deps): bump multiple tool versions and project version
  .trunk/trunk.yaml
  pyproject.toml
Due: none

chore: add build directory to .gitignore
  .gitignore
Due: none

test: add test for log_download_results_summary logging order
  tests/test_download_cli_integration.py
Due: none

style: fix whitespace and formatting issues
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

fix(android): filter out prereleases from release history tracking
  src/fetchtastic/download/android.py
  tests/test_download_android.py
Due: Core Downloads

fix(android): filter legacy prereleases from release history
  src/fetchtastic/download/android.py
  tests/test_download_android.py
Due: Core Downloads

fix(release): simplify removed entry reporting logic
  src/fetchtastic/download/release_history.py
  tests/test_release_history.py
Due: Core Downloads

apk prerelease fix - Modify update_release_history() to filter out prereleases before passing to release_history_manager (#171)
  .gitignore
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/release_history.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_release_history.py
Due: Core Downloads

feat(cache): add cache schema versioning and entry validation
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
Due: Core Downloads, Infrastructure

Bump version
  pyproject.toml
Due: none

refactor(cache): consolidate releases cache clearing into specialized helper method
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
Due: Core Downloads

test(cache): enhance cache management tests with null checks and realistic data
  tests/test_cache_management.py
Due: none

fix: address code review feedback and improve patch coverage
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cache_management.py
Due: Core Downloads

Replace assert with production-safe check for prerelease invariant
  src/fetchtastic/download/android.py
Due: Core Downloads
