Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

test(cli): remove duplicate force flag test
  tests/test_cli_additional.py
Due: none

refactor(cli): improve code formatting and add comprehensive tests
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads, User Interface

refactor(cli): rename download function and require explicit config
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads, User Interface

refactor(cli): make config parameter optional in main method
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads

test(download): enhance integration test with realistic mock results
  tests/test_download_cli_integration.py
Due: none

feat(android): implement dynamic release scanning and prerelease filtering
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_android.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(cli): add KeyError to exception handling in CLI integration
  src/fetchtastic/download/cli_integration.py
  tests/test_download_android.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(config): enforce required config parameter and improve error handling
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/setup_config.py
  tests/test_download_cli_integration.py
  tests/test_setup_config_first_run.py
Due: Core Downloads, User Interface, Configuration

fix(cli): improve error handling and config validation
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_download_cli_integration.py
Due: Core Downloads, User Interface

test(cli): fix test expectations for SystemExit behavior
  tests/test_cli.py
  tests/test_cli_additional.py
Due: none

fix(cli): remove redundant config null checks and improve type safety
  src/fetchtastic/cli.py
  tests/test_download_cli_integration.py
Due: User Interface

feat(config): add option to skip initial download during setup
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

style: fix trailing whitespace and formatting issues across codebase
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/config_utils.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_automation_config.py
  tests/test_cache_repo_directories.py
  tests/test_download_firmware.py
  tests/test_download_integration.py
  tests/test_files_operations.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_orchestrator_comprehensive.py
  tests/test_orchestrator_retry.py
  tests/test_prerelease_tracking_cleanup.py
Due: Core Downloads, User Interface, Configuration

style: fix typos and improve type safety
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  tests/test_prereleases.py
Due: Core Downloads

fix(download): improve type safety and error handling
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
  tests/test_extraction.py
  tests/test_notifications.py
  tests/test_prereleases.py
  tests/test_security_paths.py
  tests/test_single_blob_cache.py
  tests/test_token_warning_fix.py
  tests/test_versions.py
Due: Core Downloads, User Interface

style: improve code clarity and remove redundant type casting
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/version.py
  src/fetchtastic/utils.py
Due: Core Downloads

fix(config): replace assertions with proper error handling
  src/fetchtastic/cli.py
Due: User Interface

refactor(config): remove redundant null checks after preparation
  src/fetchtastic/cli.py
Due: User Interface

fix(config): handle non-interactive sessions and improve type safety
  src/fetchtastic/cli.py
  tests/test_cli.py
Due: User Interface

test(cli): add test for non-interactive terminal handling
  tests/test_cli_additional.py
Due: none

chore(config): add high-level summary instructions and fix newline
  .coderabbit.yml
Due: none

chore(config): update high-level summary instructions
  .coderabbit.yml
Due: none

refactor(android): use APKS_DIR_NAME constant for directory paths
  src/fetchtastic/download/android.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_android.py
Due: Core Downloads

refactor(download): use FIRMWARE_DIR_NAME and APKS_DIR_NAME constants for directory paths
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/repository.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_android.py
Due: Core Downloads

refactor(config): remove unused constants from constants.py
  src/fetchtastic/constants.py
Due: Infrastructure

refactor(constants): replace hardcoded strings with constants
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

chore(deps): update ruff to 0.14.10 and trufflehog to 3.92.4
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/download/android.py
  src/fetchtastic/download/prerelease_history.py
Due: Core Downloads

refactor(download): simplify prerelease directory handling
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/version.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

refactor(download): use cache manager for prerelease tracking file paths
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_firmware_downloader_comprehensive.py
Due: Core Downloads

test(download): add test for directory creation failure handling
  tests/test_repo_downloader.py
Due: none

test(download): add tests for firmware download exception handling and version validation logging
  tests/test_download_firmware.py
Due: none

refactor(download): use APKS_DIR_NAME constant for android file type detection
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

docs(download): update docstrings for android downloader and orchestrator
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

Centralize hardcoded directory paths into constants (#137)
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_repo_downloader.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

chore: bump version to 0.9.2 and remove outdated test files
  pyproject.toml
  test_config_parity.py
  test_prerelease_functionality.py
  test_repository_integration.py
Due: none

feat(notifications): add NTFY notification system for download events
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/notifications.py
  tests/test_download_firmware.py
  tests/test_notifications.py
Due: Core Downloads

refactor(download): improve version tracking logic with set-based deduplication
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads

test(notifications): add CLI notification tests for download completion and up-to-date scenarios
  tests/test_cli_notifications.py
Due: none

feat(notifications): add new releases notification for skipped downloads
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  tests/test_cli_notifications.py
Due: Core Downloads, User Interface

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
