Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(download): improve logging in repository cleanup method
  src/fetchtastic/download/repository.py
Due: Core Downloads

Add custom picker to repo menu & add prerelease timestamp extraction and commit-based sorting (#151)
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  tests/test_cli_extended.py
  tests/test_menu_repo.py
  tests/test_prereleases_modular.py
  tests/test_repo_downloader.py
Due: Core Downloads, User Interface

refactor(menu): remove unnecessary type check in select_files
  src/fetchtastic/menu_repo.py
Due: User Interface

chore: bump version to 0.9.7
  .trunk/trunk.yaml
  pyproject.toml
Due: none

feat(dfu): add Nordic DFU Android app build support
  docs/dfu-build-progress.md
  src/fetchtastic/build/__init__.py
  src/fetchtastic/build/base.py
  src/fetchtastic/build/dfu/__init__.py
  src/fetchtastic/build/dfu/modules.py
  src/fetchtastic/build/registry.py
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_build_dfu_module.py
  tests/test_setup_config.py
Due: User Interface, Configuration

refactor(build): extract interactive DFU build flow into shared module
  docs/dfu-build-progress.md
  src/fetchtastic/build/dfu/modules.py
  src/fetchtastic/build/interactive.py
  src/fetchtastic/build/registry.py
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: User Interface, Configuration

refactor(env_utils): extract is_termux function to env_utils module
  src/fetchtastic/build/base.py
  src/fetchtastic/env_utils.py
  src/fetchtastic/setup_config.py
Due: Configuration

test(dfu): add tests for DFU build functionality
  tests/test_cli.py
  tests/test_setup_config.py
Due: none

feat(build): add configurable clone depth and enhance artifact search
  codecov.yml
  src/fetchtastic/build/base.py
Due: none

fix(build): initialize candidates list in artifact search
  src/fetchtastic/build/base.py
Due: none

feat(dfu): add setup command and environment preparation
  docs/dfu-build-progress.md
  src/fetchtastic/build/base.py
  src/fetchtastic/build/dfu/modules.py
  src/fetchtastic/build/environment.py
  src/fetchtastic/build/interactive.py
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_build_environment.py
  tests/test_build_interactive.py
  tests/test_cli.py
  tests/test_setup_config.py
Due: User Interface, Configuration

feat(dfu): add optional Termux package detection and installation
  docs/dfu-build-progress.md
  src/fetchtastic/build/dfu/modules.py
  src/fetchtastic/build/environment.py
  src/fetchtastic/build/interactive.py
Due: none

feat(dfu): add auto-download of Android cmdline-tools in setup
  docs/dfu-build-progress.md
  src/fetchtastic/build/dfu/modules.py
  src/fetchtastic/build/environment.py
  src/fetchtastic/build/interactive.py
  tests/test_build_environment.py
  tests/test_build_interactive.py
Due: none

feat(build): ensure cmdline-tools executables are marked executable
  src/fetchtastic/build/environment.py
  tests/test_build_environment.py
Due: none

feat(dfu): add support for building from specific git refs and update to JDK 21
  docs/dfu-build-progress.md
  src/fetchtastic/build/base.py
  src/fetchtastic/build/dfu/modules.py
  src/fetchtastic/build/environment.py
  src/fetchtastic/build/interactive.py
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_build_dfu_module.py
  tests/test_build_environment.py
  tests/test_build_interactive.py
  tests/test_cli.py
  tests/test_setup_config.py
Due: User Interface, Configuration

feat(build): make aapt2 required for Termux builds and add automatic override
  docs/dfu-build-progress.md
  src/fetchtastic/build/base.py
  src/fetchtastic/build/dfu/modules.py
  src/fetchtastic/build/environment.py
  tests/test_build_environment.py
Due: none

feat(build): add support for Android platform aliases
  src/fetchtastic/build/environment.py
  src/fetchtastic/build/interactive.py
  tests/test_build_environment.py
Due: none

feat(mtand): add build support for Meshtastic Android app
  docs/mtand-build-progress.md
  src/fetchtastic/build/base.py
  src/fetchtastic/build/interactive.py
  src/fetchtastic/build/mtand/__init__.py
  src/fetchtastic/build/mtand/modules.py
  src/fetchtastic/build/registry.py
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
  tests/test_build_mtand_module.py
  tests/test_build_repo_helpers.py
  tests/test_cli.py
  tests/test_setup_config.py
Due: User Interface, Configuration

fix(build): fix regex escaping for GitHub URL parsing
  src/fetchtastic/build/base.py
Due: none

feat(download): add release history tracking for revoked releases
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads, Infrastructure

feat(download): add release notes storage alongside assets
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

test(download): add tests for release notes and history tracking
  src/fetchtastic/download/orchestrator.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_release_history.py
Due: Core Downloads

feat(download): enhance release revocation detection logic
  src/fetchtastic/download/release_history.py
  tests/test_release_history.py
Due: Core Downloads

fix(download): improve robustness in release revocation and firmware handling
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

feat(download): add release channel support to firmware storage and logging
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/release_history.py
  tests/test_download_firmware.py
Due: Core Downloads

feat(download): add firmware release history summary logging
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

feat(download): enhance release revocation handling and add comprehensive tests
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/release_history.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_release_history.py
Due: Core Downloads

fix(download): prevent symlink usage in release notes and refactor channel handling
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

feat(download): enhance release selection to handle revoked releases and fix path security
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

chore: bump version to 0.9.8 and clean up android downloader
  pyproject.toml
  src/fetchtastic/download/android.py
Due: Core Downloads

Add release history tracking with revoked release detection (#153)
  pyproject.toml
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_release_history.py
Due: Core Downloads, Infrastructure

refactor: add type annotations to functions and variables across modules
  src/fetchtastic/cli.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/tools/__init__.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface, Configuration

refactor(types): improve type annotations and add cast usage across modules
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(types): clean up cast usage and imports
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration

refactor(types): improve type annotations and add cache validation
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor: enhance code robustness with type safety and input validation
  src/fetchtastic/download/cache.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration

refactor(types): update type annotations to use built-in generics and modern syntax
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(types): enhance type safety and remove unnecessary casts
  src/fetchtastic/cli.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/prerelease_history.py
Due: Core Downloads, User Interface

refactor(types): add type checks for assets in release data functions
  src/fetchtastic/download/files.py
Due: Core Downloads

refactor(types): update type annotations to use built-in generics and modern syntax
  src/fetchtastic/download/files.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface
