Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(downloader): move JSON tracking to cache dir and improve thread safety
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_notifications.py
Due: Core Downloads

test(download-core): add comprehensive test coverage for core downloader functionality
  src/fetchtastic/downloader.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/utils.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
  tests/test_notifications.py
  tests/test_token_warning_fix.py
Due: Core Downloads

refactor(downloader): invert condition logic for release tag writing operations
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): move cache I/O operations outside lock for performance
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify function API by replacing specific file path with cache directory parameter
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_notifications.py
Due: Core Downloads

test(downloader): update tests to use new cache directory API
  tests/test_security_paths.py
Due: none

refactor(downloader): improve logging performance and code quality
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): standardize timezone handling and simplify code
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve thread safety and standardize docstrings across cache modules
  src/fetchtastic/downloader.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/utils.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
  tests/test_notifications.py
Due: Core Downloads

fix(downloader): add type validation for JSON data parsing
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

fix(downloader): improve path validation and error handling
  src/fetchtastic/downloader.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/utils.py
  tests/test_download_core.py
Due: Core Downloads

test: add comprehensive test coverage for downloader error handling and validation
  tests/test_download_core.py
Due: none

perf(downloader): move I/O outside locks to reduce contention
  src/fetchtastic/downloader.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

test: add codespell ignore comment to test
  tests/test_download_core.py
Due: none

style(downloader): fix docstring indentation in _load_commit_cache
  src/fetchtastic/downloader.py
Due: Core Downloads

Bump version
  setup.cfg
Due: none

test(download_core): refactor path traversal test to use integration testing approach
  src/fetchtastic/downloader.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/utils.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): simplify cached releases logging messages
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
Due: Core Downloads

fix(downloader): initialize releases variable to prevent NameError
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(logger): reduce log verbosity and improve rate limit warnings
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

test(utils): add debug logging and rate limit warning test coverage
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

refactor(utils): remove first-auth/first-unauth logged flags
  src/fetchtastic/utils.py
Due: Core Downloads

Complete API request logging cleanup
  src/fetchtastic/utils.py
  tests/test_token_warning_fix.py
Due: Core Downloads

Fix docstring indentation in get_prerelease_directories
  src/fetchtastic/downloader.py
Due: Core Downloads

style(utils): fix docstring whitespace and add missing trailing newline
  src/fetchtastic/utils.py
Due: Core Downloads

Replace deprecated license classifier with SPDX license expression
  pyproject.toml
  setup.cfg
Due: none

build(trunk): update linter versions
  .trunk/trunk.yaml
Due: none

feat(api): add retry logic for GitHub releases API to handle response quirks
  src/fetchtastic/downloader.py
Due: Core Downloads

feat(tracker): enhance prerelease tracking with historical data preservation and GitHub API integration
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): improve code structure and exception handling
  src/fetchtastic/downloader.py
Due: Core Downloads

fix(downloader): normalize version string for improved prerelease matching
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): enhance prerelease tracking data preservation and improve exception handling
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

refactor(downloader): improve code efficiency and structure with set operations and simplified logic
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve tracking data handling and code structure
  src/fetchtastic/downloader.py
Due: Core Downloads

Add review branches to CI workflow triggers
  .github/workflows/test-and-coverage.yml
Due: none

refactor(downloader): extract tracking data reading into reusable function
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): extract tracking data validation and migration into reusable functions
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): refactor first_seen tracking to dictionary structure for multiple prerelease IDs
  src/fetchtastic/downloader.py
Due: Core Downloads
