Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

test: apply black formatter to nightly test modules
  tests/test_cache_nightly.py
  tests/test_firmware_nightlies.py
Due: none

test(nightly): parametrize commit-malformed test to silence B023
  tests/test_firmware_nightlies.py
Due: none

Bump version to 0.11.3 and update linter dependencies (#252)
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/cli.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  tests/test_cache_nightly.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, User Interface

fix(cleanup): normalize firmware prerelease versions
  src/fetchtastic/download/firmware.py
  tests/test_cleanup_prerelease_versions.py
Due: Core Downloads

fix(cleanup): reconcile stale firmware directories
  src/fetchtastic/download/firmware.py
  tests/test_cleanup_retention_reconciliation.py
Due: Core Downloads

fix(cleanup): require release-like history evidence
  src/fetchtastic/download/firmware.py
  tests/test_cleanup_retention_reconciliation.py
Due: Core Downloads

fix(cleanup): require fully parsed prerelease versions
  src/fetchtastic/download/firmware.py
  tests/test_cleanup_prerelease_versions.py
  tests/test_download_firmware.py
Due: Core Downloads

Fix firmware prerelease cleanup version parsing (#253)
  src/fetchtastic/download/firmware.py
  tests/test_cleanup_prerelease_versions.py
  tests/test_download_firmware.py
Due: Core Downloads

Fix firmware retention when storage layouts don't match (#254)
  src/fetchtastic/download/firmware.py
  tests/test_cleanup_retention_reconciliation.py
Due: Core Downloads

fix(cleanup): tighten destructive path boundaries
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/repository.py
  tests/test_download_firmware.py
  tests/test_files_operations.py
  tests/test_repository_downloader.py
Due: Core Downloads

fix(cleanup): contain managed directory removals
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/repository.py
  tests/test_download_firmware.py
  tests/test_repository_downloader.py
Due: Core Downloads

Harden firmware and repository cleanup deletion boundaries (#255)
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/repository.py
  tests/test_download_firmware.py
  tests/test_files_operations.py
  tests/test_repository_downloader.py
Due: Core Downloads

Skip missing per-variant firmware-nightly manifests instead of failing the run
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  tests/test_cache_nightly.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Treat legacy cached empty nightly payloads as a cache miss
  src/fetchtastic/download/cache.py
  tests/test_cache_nightly.py
Due: Core Downloads

Distinguish failed release checks from 'all assets up to date'
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/github_source.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli_notifications.py
  tests/test_client_app_downloader.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Track the version-selected firmware release, not the raw list head
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

Re-download prerelease files whose size differs from the remote listing
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

Never run firmware cleanup from an empty release list, even with keep=0
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

Validate the published MD5 in the nightly executable-bit repair path
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Drop the dead pre-scan from firmware prerelease tracking management
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

fix(prerelease): honor zero-byte remote sizes
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

docs(nightly): include repair validation path
  src/fetchtastic/download/firmware.py
Due: Core Downloads

fix(nightly): require published target payloads
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

fix(releases): propagate expansion fetch failures
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(prerelease): respect explicit empty release cache
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

fix(cleanup): verify releases for keep-zero cleanup
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

Provide release data to keep-zero nightlies-preservation tests
  tests/test_firmware_nightlies.py
Due: none

Apply trunk formatting to the follow-up patch
  src/fetchtastic/download/firmware.py
Due: Core Downloads

Apply trunk formatting to the follow-up patch
  tests/test_download_orchestrator.py
Due: none

Mark the test manifest MD5 as usedforsecurity=False
  tests/test_firmware_nightlies.py
Due: none

Apply trunk formatting to the follow-up patch
  src/fetchtastic/download/run_lock.py
  tests/test_run_lock.py
Due: Core Downloads

Serialize download runs with a cross-process lock file
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/run_lock.py
  tests/test_cli_notifications.py
  tests/test_firmware_nightlies.py
  tests/test_run_lock.py
Due: Core Downloads, Infrastructure

fix(lock): use OS-backed download run ownership
  src/fetchtastic/constants.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/run_lock.py
  tests/test_run_lock.py
Due: Core Downloads, Infrastructure

Serialize download runs with a cross-process lock file (#267)
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/run_lock.py
  tests/test_cli_notifications.py
  tests/test_firmware_nightlies.py
  tests/test_run_lock.py
Due: Core Downloads, Infrastructure

Report failed release checks instead of claiming everything is up to date (#261)
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/github_source.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli_notifications.py
  tests/test_client_app_downloader.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Track the version-selected firmware release, not the raw list head (#262)
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

Skip missing firmware-nightly variant manifests instead of failing the run (#260)
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  tests/test_cache_nightly.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Never run firmware cleanup from an empty release list (#264)
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Re-download prerelease files whose size differs from the remote listing (#263)
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

Validate the published MD5 in the nightly executable-bit repair (#265)
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
