Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

test(download): enhance security test coverage and improve assertion formatting
  src/fetchtastic/setup_config.py
  tests/test_download_core.py
Due: Configuration

refactor(downloader): simplify complex expressions and improve type safety
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

refactor(downloader): improve exclude_patterns type safety filtering
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): consolidate exclude_patterns filtering into reusable helper function
  .trunk/trunk.yaml
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads, Infrastructure

refactor(downloader): simplify multi-line expressions and improve code formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(constants): rename PRERELEASE_DIR to FIRMWARE_PRERELEASES_DIR_NAME
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_constants_module.py
Due: Core Downloads, Infrastructure

refactor(downloader): remove unused constants imports from downloader module
  pyproject.toml
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(constants): remove unused constants from constants module
  src/fetchtastic/constants.py
  src/fetchtastic/utils.py
  tests/test_constants_module.py
Due: Core Downloads, Infrastructure

feat(download-config): add default download configuration constants
  src/fetchtastic/constants.py
  src/fetchtastic/utils.py
Due: Core Downloads, Infrastructure

refactor(downloader): improve string list config parsing robustness
  src/fetchtastic/downloader.py
  tests/test_constants_module.py
Due: Core Downloads

refactor(downloader): optimize exclusion logic and extract prerelease check
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads

refactor(downloader): optimize APK prerelease cleanup logic
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): standardize string list config parsing and simplify exception handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): rename variables for clarity and remove unused directory from managed directories
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

fix(downloader): skip legacy Android releases before 2.7.0 tagging scheme
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): improve APK prerelease version comparison logic
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

feat(downloader): add logging for direct API requests
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve APK prerelease cleanup handling
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

feat(apk): add support for downloading and managing APK prereleases (#113)
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_constants_module.py
  tests/test_download_core.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration, Infrastructure

chore(release): bump version to 0.8.6
  pyproject.toml
  src/fetchtastic/downloader.py
Due: Core Downloads

chore(release): bump version to 0.8.6 (#115)
  pyproject.toml
  src/fetchtastic/downloader.py
Due: Core Downloads

chore(deps): bump ruff to 0.14.6
  .trunk/trunk.yaml
Due: none

fix(utils): improve pattern matching for nrf52 zip archives
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

refactor(utils): improve pattern matching logic with explicit match tracking
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

style(utils): fix trailing whitespace in docstrings
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

Fix: Handle trailing separators in extraction patterns (#116)
  .trunk/trunk.yaml
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

feat(extraction): add pattern validation to verify extraction matching
  pyproject.toml
  src/fetchtastic/downloader.py
  tests/test_extraction.py
Due: Core Downloads

refactor(extraction): improve code style and exception handling
  src/fetchtastic/downloader.py
  tests/test_extraction.py
Due: Core Downloads

style(downloader): improve code formatting and remove unnecessary constructs
  src/fetchtastic/downloader.py
Due: Core Downloads

fix(security): strengthen path validation and symlink handling
  src/fetchtastic/downloader.py
  tests/test_security_paths.py
Due: Core Downloads

feat(downloader): use commit history for prerelease lookup optimization
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

test(downloader): enhance test isolation by mocking additional network functions
  tests/test_prereleases.py
Due: none

refactor(downloader): simplify path validation and streamline exception handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): centralize prerelease history lookup logic
  src/fetchtastic/downloader.py
  tests/test_security_paths.py
Due: Core Downloads

perf(cache): reduce prerelease history cache expiry from 5min to 1min
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  tests/test_prereleases.py
Due: Core Downloads, User Interface, Infrastructure

refactor(downloader): centralize path validation with reusable _is_within_base function
  src/fetchtastic/downloader.py
  tests/test_extraction.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): centralize prerelease history processing logic
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): enhance prerelease cache with SHA tracking and incremental updates
  src/fetchtastic/downloader.py
Due: Core Downloads

test(prereleases): refactor assertion formatting and extend cache entry structure
  src/fetchtastic/downloader.py
  tests/test_extraction.py
  tests/test_prereleases.py
Due: Core Downloads
