Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(config): migrate desktop asset keys and gate desktop downloads
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_download_orchestrator.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

refactor(download): group failures by product category in logs
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

fix(download): clamp DESKTOP_VERSIONS_TO_KEEP and warn on invalid
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_desktop.py
  src/fetchtastic/setup_config.py
  tests/test_download_cli_integration.py
  tests/test_menu_desktop.py
Due: Core Downloads, Configuration

test: address code review feedback on test robustness and mocks
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_setup_config_uncovered.py
Due: none

feat(client_release_discovery): add release-asset discovery helpers and integrate across modules
  src/fetchtastic/client_release_discovery.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_desktop.py
  tests/test_menu_apk.py
  tests/test_menu_desktop.py
Due: Core Downloads, User Interface

feat(client_release_discovery): add release-asset discovery helpers
  pyproject.toml
  tests/test_client_release_discovery.py
Due: none

feat(download): support android_prerelease path and asset validation
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_desktop.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_download_orchestrator.py
  tests/test_menu_apk.py
  tests/test_menu_desktop.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, User Interface, Configuration

feat: Add Android legacy layout migration and improved prerelease tracking
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_desktop.py
  tests/test_download_android.py
  tests/test_download_orchestrator.py
  tests/test_menu_desktop.py
Due: Core Downloads

Address code review feedback: desktop asset filtering, version management, and test improvements
  src/fetchtastic/client_release_discovery.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/setup_config.py
  tests/test_client_release_discovery.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_menu_desktop.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, User Interface, Configuration

Additional code review fixes: CLI result normalization, version management, and test coverage
  src/fetchtastic/cli.py
  src/fetchtastic/client_release_discovery.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_cli.py
  tests/test_client_release_discovery.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_integration.py
  tests/test_download_orchestrator.py
  tests/test_menu_apk.py
  tests/test_menu_desktop.py
  tests/test_setup_config_uncovered.py
  tests/test_version_management.py
Due: Core Downloads, User Interface, Configuration

feat(download): add include_desktop option and extended results
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_integration.py
  tests/test_setup_config_uncovered.py
  tests/test_version_management.py
Due: Core Downloads, Configuration

test(download): simplify android mocks patching and islink/isdir usage
  tests/test_download_android.py
  tests/test_download_desktop.py
Due: none

Address code review comments: revoked filtering, style cleanup, and test fixes
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

Additional code review fixes: cache keys and desktop prerelease tracking
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  tests/test_cache_management.py
  tests/test_cache_manager_releases_optimization.py
  tests/test_download_cli_integration.py
Due: Core Downloads

fix(desktop): stop pagination on repeated payloads and cap pages in desktop downloader
  src/fetchtastic/download/desktop.py
  tests/test_download_desktop.py
Due: Core Downloads

feat(utils): add expand_apk_selected_patterns for F-Droid naming compatibility
  src/fetchtastic/download/android.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_download_android.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: Core Downloads, Configuration

feat(download): implement prerelease backfill tracking
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_desktop.py
  tests/test_download_orchestrator.py
Due: Core Downloads

Address code review comments: stable cache keys, input validation, and test fixes
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/setup_config.py
  tests/test_cache_management.py
  tests/test_download_cli_integration.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

fix(download): validate managed paths before migrating android dirs
  src/fetchtastic/download/android.py
  src/fetchtastic/setup_config.py
  tests/test_download_desktop.py
  tests/test_setup_config_uncovered.py
  tests/test_utils.py
Due: Core Downloads, Configuration

fix(download): enforce safe android dir and align cli results
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_desktop.py
  tests/test_download_orchestrator.py
Due: Core Downloads, User Interface

refactor(utils): add coerce_bool and centralize boolean coercion
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/notifications.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_cli_notifications.py
Due: Core Downloads, User Interface, Configuration

fix(download): enforce safe prerelease desktop dir checks
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  tests/test_cli_notifications.py
Due: Core Downloads

test(tests): add global network blocking fixture and tests
  src/fetchtastic/download/desktop.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/setup_config.py
  tests/conftest.py
  tests/test_download_desktop.py
  tests/test_network_mocking.py
Due: Core Downloads, User Interface, Configuration

fix(download): correct firmware manifest handling and result filtering
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_repo.py
  tests/test_download_cli_integration.py
  tests/test_download_integration.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads, User Interface

refactor(download): unify artifact counting with group matching
  src/fetchtastic/download/orchestrator.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads

refactor(download): centralize path resolution and sort improvements
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  tests/test_download_android.py
  tests/test_download_desktop.py
Due: Core Downloads

refactor(download): unify cache handling and path resolution
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_allow_env_token.py
  tests/test_base_downloader.py
  tests/test_constants_module.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_menu_apk.py
  tests/test_orchestrator_comprehensive.py
  tests/test_setup_config_patch_coverage.py
  tests/test_setup_config_uncovered.py
  tests/test_utils.py
  tests/test_version_management.py
Due: Core Downloads, Configuration, Infrastructure

refactor(download): unify cache flow, path resolution, and checks
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_orchestrator_comprehensive.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: Core Downloads, Configuration

test(download): use tmp_path to simulate real file paths for desktop retries
  tests/test_download_orchestrator.py
Due: none

fix(download): harden legacy android migration and desktop asset checks
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/setup_config.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_network_mocking.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

refactor(download): centralize path resolution and strengthen verifications
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_cli_notifications.py
  tests/test_download_android.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_network_mocking.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

test(download): switch mocks to _is_asset_complete_for_target
  tests/test_android_downloader_comprehensive.py
Due: none

fix(download): make get_latest_release_tag robust against non-dict JSON
  src/fetchtastic/download/android.py
  tests/test_channel_suffixes.py
  tests/test_download_android.py
  tests/test_network_mocking.py
Due: Core Downloads

refactor(download/desktop): centralize desktop release URL handling with fallbacks
  src/fetchtastic/constants.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/menu_desktop.py
  tests/test_constants_module.py
  tests/test_download_desktop.py
  tests/test_menu_desktop.py
Due: Core Downloads, Infrastructure

refactor(download/desktop): switch to a single desktop feed
  src/fetchtastic/constants.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/menu_desktop.py
  tests/test_constants_module.py
  tests/test_download_desktop.py
  tests/test_menu_desktop.py
Due: Core Downloads, Infrastructure

feat(download): track known 2.7.14 prerelease mismatches and log in CLI
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
Due: Core Downloads

refactor(download/desktop): implement per-run mismatch tracking and logs
  src/fetchtastic/download/desktop.py
  tests/test_download_desktop.py
Due: Core Downloads

refactor(core): unify error handling and test resilience across modules
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/menu_desktop.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/conftest.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_android.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_menu_desktop.py
  tests/test_migration_reporting.py
  tests/test_network_mocking.py
  tests/test_setup_config_first_run.py
  tests/test_setup_config_uncovered.py
  tests/test_utils.py
Due: Core Downloads, Configuration

feat(download/desktop): log only newest 2.7.14 mismatch tag per scan
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
Due: Core Downloads

refactor(download): harden prerelease handling and manifest checks
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_firmware.py
Due: Core Downloads
