Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(downloader): simplify cache logic and exception handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify token handling and improve exclude pattern matching
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): simplify code structure and exception handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify timestamp sorting in prerelease check
  .trunk/trunk.yaml
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): enhance prerelease tracking and simplify code style
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): centralize GitHub token and API request handling
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

refactor(menu_repo): improve type safety and authentication logic
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(downloader): simplify exception handling and code formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(menu_repo): centralize GitHub API request handling
  src/fetchtastic/menu_repo.py
  tests/test_menu_repo.py
Due: User Interface

refactor(downloader): simplify exception handling and API token usage
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(downloader, menu_repo): improve code safety and remove unused imports
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

feat(downloader): add commit identifier normalization functions
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader,menu_repo): improve thread safety for GitHub token handling
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

refactor(downloader): simplify code structure and improve thread safety
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify code structure and improve readability
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(menu_repo): make token warning thread-safe
  src/fetchtastic/menu_repo.py
Due: User Interface

refactor(menu_repo): remove unnecessary type annotations and variables
  src/fetchtastic/menu_repo.py
Due: User Interface

refactor: centralize GitHub token warning logic
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

refactor(menu_repo): improve firmware directory sorting with proper version parsing
  src/fetchtastic/menu_repo.py
Due: User Interface

refactor: simplify code structure and centralize token handling
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor: centralize GitHub API token retry logic and simplify exception handling
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

refactor(utils): rename allowed_methods to method_whitelist in retry strategy
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(downloader): extract JSON parsing logic into separate functions
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(downloader): add force refresh option and improve version handling
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(api): centralize GitHub API requests and improve error handling
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads, User Interface

test(utils): add null checks for hash calculations in tests
  tests/test_utils.py
Due: none

refactor(api): improve error handling for GitHub API JSON responses
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  tests/test_prereleases.py
Due: Core Downloads, User Interface

refactor(downloader): align prerelease handling with Meshtastic scheme and update tests
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

test: remove unused Mock imports from prerelease tests
  tests/test_prereleases.py
Due: none

fix(test): correct mock functions in security tests to handle string paths
  tests/test_security_paths.py
Due: none

refactor(downloader): add validation for commits data and clean up formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

style(downloader): clean up code formatting and simplify expressions
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor: enhance error logging and streamline code structure
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

feat(downloader): add force refresh support for asset downloads
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): normalize commit identifiers and deduplicate prerelease tracking
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  tests/test_prereleases.py
Due: Core Downloads, User Interface

refactor(downloader): refine exception handling and simplify code structure
  src/fetchtastic/downloader.py
Due: Core Downloads

feat(downloader): add expected prerelease version to commit identifiers
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads
