Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

Apply code review improvements for better code quality
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
Due: Core Downloads, User Interface

Refactor setup_config: Extract _setup_base helper function
  src/fetchtastic/setup_config.py
Due: Configuration

Refactor setup_config: Extract _setup_downloads and _setup_android helpers
  src/fetchtastic/setup_config.py
Due: Configuration

Refactor setup_config: Extract _setup_firmware helper function
  src/fetchtastic/setup_config.py
Due: Configuration

Refactor setup_config: Extract _setup_notifications helper function
  src/fetchtastic/setup_config.py
Due: Configuration

Fix test failure after refactoring: Mock subprocess calls and fix assertions
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Configuration

Fix bandit security warnings: Replace bare except with specific exceptions
  src/fetchtastic/cli.py
  tests/test_setup_config.py
Due: User Interface

Address code review feedback: Improve error handling and remove redundant I/O
  src/fetchtastic/setup_config.py
Due: Configuration

Bump version
  setup.cfg
Due: none

Address additional code review feedback: Functional and security improvements
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

Improve test quality: Address code review feedback on test improvements
  tests/test_setup_config.py
Due: none

Fix final code review issues: pipx migration exit and cleanup globals
  src/fetchtastic/setup_config.py
Due: Configuration

Address latest code review feedback: Fix logging, imports, and code quality
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
Due: Core Downloads, Configuration

Complete modular refactoring: Extract _setup_automation helper function
  src/fetchtastic/setup_config.py
Due: Configuration

Clean up unused parameter in _summarise_scan_window function
  src/fetchtastic/downloader.py
Due: Core Downloads

Apply targeted code review improvements: Safety, performance, and accuracy
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

Bump verison
  setup.cfg
Due: none

Fix prerelease downloading functionality and add version tracking
  .trunk/trunk.yaml
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Add debug logging to prerelease detection
  src/fetchtastic/downloader.py
Due: Core Downloads

Add more detailed debug logging for prerelease detection
  src/fetchtastic/downloader.py
Due: Core Downloads

Add support for LOG_LEVEL in config file
  src/fetchtastic/cli.py
Due: User Interface

Add debug logging to prerelease completeness check
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix prerelease pattern matching - use EXTRACT_PATTERNS instead of SELECTED_FIRMWARE_ASSETS
  src/fetchtastic/downloader.py
Due: Core Downloads

Address code review feedback - improve code quality and performance
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix prerelease tracking for existing complete directories
  src/fetchtastic/downloader.py
Due: Core Downloads

Implement .txt-based prerelease tracking with cleanup logic
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Fix prerelease pattern matching - use simple substring matching for EXTRACT_PATTERNS
  src/fetchtastic/downloader.py
Due: Core Downloads

Add comprehensive tests for prerelease functionality to improve coverage
  tests/test_downloader.py
Due: none

Fix logging format - remove module/function/line info from INFO messages
  src/fetchtastic/log_utils.py
Due: Infrastructure

Implement smart pattern matching for EXTRACT_PATTERNS
  src/fetchtastic/downloader.py
Due: Core Downloads

Implement dynamic device pattern matching using Meshtastic API
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Address code review feedback - fix critical bugs and improve code quality
  src/fetchtastic/constants.py
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads, Infrastructure

Fix user feedback issues - remove configurable prerelease retention and fix test failures
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads, Infrastructure

Add comprehensive UI coverage tests to reach 60% target
  tests/test_downloader.py
Due: none

Fix UI coverage test failures
  tests/test_downloader.py
Due: none

Address code review feedback - security, reliability, and performance improvements
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix critical test failures
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Fix remaining test failures - focus on functionality over log validation
  src/fetchtastic/device_hardware.py
  tests/test_downloader.py
Due: none

Complete test failure fixes - all UI coverage tests now pass
  tests/test_downloader.py
Due: none

Path conditions:
  Core Downloads: any of: src/fetchtastic/downloader.py, src/fetchtastic/repo_downloader.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
