Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

chore: bump version to 0.11.1 and remove empty setup.cfg (#230)
  .github/workflows/test-and-coverage.yml
  .trunk/trunk.yaml
  pyproject.toml
  setup.cfg
Due: none

fix: clarify firmware nightly setup flow
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
Due: Configuration

fix: finish firmware setup ordering
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Configuration

Fix firmware nightly setup wording and question order (#231)
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
Due: Configuration

fix: download selected firmware nightly device files
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, Configuration

fix: fail closed on invalid nightly selections
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_firmware_nightlies.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

fix: require valid nightly manifests and patterns
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, Configuration

Validate Firmware Nightly Device Assets and Reject Stale Generations (#232)
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_firmware_nightlies.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

chore: bump version to 0.11.2
  pyproject.toml
Due: none

chore: upgrade trunk tooling
  .trunk/trunk.yaml
Due: none

Chore/bump version 0.11.2 (#244)
  .trunk/trunk.yaml
  pyproject.toml
Due: none

Refresh rolling firmware nightly source on every enabled check
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Keep firmware beta retention out of client app prerelease cleanup
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads

Expose stale Android snapshot state and configure snapshot retention
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
  tests/test_snapshots.py
Due: Core Downloads, Configuration

Add setup controls for experimental build notifications
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

Fix firmware prerelease availability reconciliation and latest pointer cleanup
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
Due: Core Downloads

Fix firmware prerelease availability reconciliation and latest pointer cleanup (#239)
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
Due: Core Downloads

Refresh rolling firmware nightly source on every enabled check (#240)
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

Keep firmware beta retention out of client app prerelease cleanup (#241)
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads

Expose stale Android snapshot state and configure snapshot retention (#242)
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
  tests/test_snapshots.py
Due: Core Downloads, Configuration

Add setup controls for experimental build notifications (#243)
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

fix(firmware-nightly): add nightly.meshtastic.org base URL constants
  src/fetchtastic/constants.py
Due: Infrastructure

test(cache): add coverage for nightly-manifest fetch helpers (RED)
  tests/test_cache_nightly.py
Due: none

fix(cache): add nightly.meshtastic.org manifest fetchers
  src/fetchtastic/download/cache.py
  tests/test_cache_nightly.py
Due: Core Downloads

test(firmware-nightly): rewrite fetch_nightlies tests to drive off manifests (RED)
  tests/test_firmware_nightlies.py
Due: none

fix(firmware-nightly): drive fetch from nightly.meshtastic.org manifests
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

fix(firmware-nightly): verify MD5 of every downloaded asset
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

docs(firmware-nightly): update source URL to nightly.meshtastic.org
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/setup_config.py
Due: Configuration

fix(firmware-nightly): preserve error classification through cache layer
  src/fetchtastic/download/cache.py
  tests/test_cache_nightly.py
Due: Core Downloads

fix(firmware-nightly): fetch helper scripts from meshtastic/firmware
  docs/configuration.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, Infrastructure

fix(cache): keep failed nightly fetches out of cache
  src/fetchtastic/download/cache.py
  tests/test_cache_nightly.py
Due: Core Downloads

perf(firmware-nightly): share session and reuse TTL for target manifests
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

fix(firmware-nightly): surface per-device manifests and enforce MD5 on same-build
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

fix(firmware-nightly): preserve expected_md5 across retries
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

fix(firmware-nightly): ignore unpublished ELF outputs
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, Infrastructure

perf(firmware-nightly): extend target manifest cache TTL
  src/fetchtastic/constants.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  tests/test_cache_nightly.py
Due: Core Downloads, Infrastructure

Update nightly firmware manifest and asset verification flow (#251)
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_cache_nightly.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, Configuration, Infrastructure

chore(release): bump version to 0.11.3
  pyproject.toml
Due: none

chore(deps): bump trunk-managed linter versions
  .trunk/trunk.yaml
Due: none

style: apply trunk formatter; drop unused FIRMWARE_NIGHTLY_SOURCE_DIR import
  src/fetchtastic/cli.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads, User Interface
