Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

Bump version
  pyproject.toml
Due: none

docs: add refactor status tracking document
  docs/refactor-status.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_android_downloader_comprehensive.py
  tests/test_automation_config.py
  tests/test_cache_management.py
  tests/test_cache_repo_directories.py
  tests/test_cli.py
  tests/test_cli_additional.py
  tests/test_cli_extended.py
  tests/test_config_utils.py
  tests/test_config_utils_comprehensive.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_download_integration.py
  tests/test_download_orchestrator.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_orchestrator_comprehensive.py
  tests/test_orchestrator_retry.py
  tests/test_orchestrator_token_and_stats.py
  tests/test_pip_migration.py
  tests/test_prerelease_tracking_cleanup.py
Due: Core Downloads, User Interface, Configuration

feat(cli): gracefully skip cron cleanup when crontab is unavailable
  docs/refactor-status.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/cache.py
  tests/test_cli.py
  tests/test_cli_extended.py
Due: Core Downloads, User Interface

feat(cli): add repository cleanup summary logging
  src/fetchtastic/cli.py
  src/fetchtastic/download/repository.py
  tests/test_cli_extended.py
  tests/test_repo_downloader.py
Due: Core Downloads, User Interface

feat(prerelease): add commit-history-aware remote prerelease directory selection
  docs/refactor-status.md
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_prereleases_modular.py
Due: Core Downloads

refactor(deps): move imports to top of file and update ruff ignores
  pyproject.toml
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

chore(deps): update ruff configuration key from per-file-ignores to lint.per-file-ignores
  pyproject.toml
Due: none

test(download): replace static method test with orchestrator configuration test
  tests/test_firmware_downloader_comprehensive.py
Due: none

refactor(download): improve repository file path validation and normalization
  src/fetchtastic/download/repository.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
Due: Core Downloads

refactor(cache): remove legacy cache management functions
  src/fetchtastic/constants.py
  src/fetchtastic/download/cache.py
  tests/test_cache_management.py
Due: Core Downloads, Infrastructure

refactor(config): consolidate crontab availability checks and messaging
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(download): sanitize release tags and remove unused parameters
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/repository.py
  tests/test_automation_config.py
  tests/test_cache_management.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_setup_config_patch_coverage.py
Due: Core Downloads

test(download): add mock setup for cache clearing test
  tests/test_download_cli_integration.py
Due: none

refactor(error handling): improve exception specificity and error handling
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/setup_config.py
  tests/test_cache_management.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_repo_downloader.py
Due: Core Downloads, User Interface, Configuration

refactor(error handling): improve exception specificity and error handling
  .bandit
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cli_extended.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_integration.py
Due: Core Downloads, User Interface, Configuration

refactor(config): remove non-interactive mode check for exclude patterns
  src/fetchtastic/setup_config.py
  tests/test_cache_management.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
Due: Configuration

Bump version
  docs/refactor-status.md
  pyproject.toml
Due: none

refactor(download): improve error handling and restructure downloader architecture
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/menu_repo.py
  tests/test_download_android.py
  tests/test_download_firmware.py
Due: Core Downloads, User Interface

chore(download): add os import
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): improve error handling and logging patterns
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_android.py
  tests/test_download_firmware.py
Due: Core Downloads

test(download): add file_type attribute to mock test results
  tests/test_download_cli_integration.py
Due: none

refactor(download): remove check_for_prereleases method from DownloadCLIIntegration
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads

refactor(download): improve error handling and code formatting
  src/fetchtastic/downloader.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
Due: none

refactor(download): reuse orchestrator's downloaders to unify state and caches
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
Due: Core Downloads

refactor(download,cli): improve error handling and add symlink protection
  src/fetchtastic/cli.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads, User Interface

test(cli): update error message assertions to check stderr
  tests/test_cli_extended.py
Due: none

refactor(download): remove direct downloader imports and commit history cache
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/downloader.py
  tests/test_cli_extended.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_prereleases.py
Due: Core Downloads, User Interface

refactor(download): add commit history cache and reuse orchestrator downloaders
  src/fetchtastic/download/orchestrator.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
Due: Core Downloads

refactor(cleanup): improve error handling and extract cron availability checks
  src/fetchtastic/download/repository.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

refactor(download, cli, tests): streamline version handling and improve test accuracy
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli_extended.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
Due: Core Downloads, User Interface

refactor(download): add parameters to fetch_recent_repo_commits call
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): improve retry logic, cleanup code, and enhance security
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration, Infrastructure

refactor(cli, download): improve cleanup logic and error handling
  src/fetchtastic/cli.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads, User Interface

refactor(core): enhance system robustness and maintainability
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/setup_config.py
  tests/test_download_orchestrator.py
Due: Core Downloads, User Interface, Configuration

refactor(cli): simplify cron cleanup logic and improve error handling
  src/fetchtastic/cli.py
Due: User Interface

test(cli): update cron job tests to use mocked crontab path
  tests/test_cli.py
  tests/test_cli_extended.py
Due: none

refactor(cli, config): simplify cron cleanup and improve error handling
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/setup_config.py
  tests/test_download_orchestrator.py
Due: Core Downloads, User Interface, Configuration

refactor(cli, config, download): improve file type detection and cron job handling
  src/fetchtastic/cli.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_download_cli_integration.py
  tests/test_download_orchestrator.py
Due: Core Downloads, User Interface, Configuration

refactor(cli, utils, test): improve error handling and pattern matching logic
  src/fetchtastic/cli.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/utils.py
  tests/test_cli_extended.py
Due: Core Downloads, User Interface
