Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

chore(cache): add debug logging for cache comparison details
  src/fetchtastic/download/cache.py
Due: Core Downloads

chore(cache): enhance debug logging with tag name comparison
  src/fetchtastic/download/cache.py
Due: Core Downloads

chore(cache): enhance debug logging for release field differences
  src/fetchtastic/download/cache.py
Due: Core Downloads

perf(cache): improve releases cache comparison by normalizing data
  src/fetchtastic/download/cache.py
Due: Core Downloads

refactor(download): move device manager initialization to class init
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads

chore(cache): ensure UTC timestamps and add debug logging
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/prerelease_history.py
Due: Core Downloads

perf(cache): optimize timestamp consistency in prerelease cache
  src/fetchtastic/download/prerelease_history.py
Due: Core Downloads

refactor(cache): make parse_iso_datetime_utc public and simplify datetime parsing
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_device_hardware_config.py
Due: Core Downloads

perf(cache): optimize cache freshness update to reduce I/O
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_cache_manager_releases_optimization.py
  tests/test_device_hardware_config.py
Due: Core Downloads

refactor(cache): simplify releases cache update logic to always write on freshness extension
  src/fetchtastic/download/cache.py
  tests/test_cache_manager_releases_optimization.py
  tests/test_device_hardware_config.py
Due: Core Downloads

docs(cache): update docstring to reflect always writing cache entry for freshness
  src/fetchtastic/download/cache.py
Due: Core Downloads

test(cache): update assertion to check for extended cache freshness log
  src/fetchtastic/download/cache.py
  tests/test_cache_manager_releases_optimization.py
Due: Core Downloads

feat(cache): include per_page in URL cache key generation
  src/fetchtastic/download/cache.py
  tests/test_cache_management.py
  tests/test_cache_manager_releases_optimization.py
Due: Core Downloads

docs(cache): update docstring to clarify pagination parameter handling in cache key
  src/fetchtastic/download/cache.py
Due: Core Downloads

Cache optimizations (#143)
  pyproject.toml
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_cache_management.py
  tests/test_cache_manager_releases_optimization.py
  tests/test_device_hardware_config.py
  tests/test_repository_downloader.py
Due: Core Downloads, Configuration, Infrastructure

feat(cli): add banner display to main commands
  src/fetchtastic/cli.py
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads, User Interface

refactor(utils): change display_banner to use logger instead of print
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

refactor(utils): update display_banner separator length and format
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

refactor(utils): remove duplicate logging in display_banner
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(utils): extract package version retrieval into helper function
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

test(utils): refactor assertions and banner display tests
  tests/test_utils.py
Due: none

refactor(utils): update banner display format and width
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

refactor(utils): consolidate package version retrieval logic
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

refactor(utils): enhance API summary logging and consolidate imports
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: Core Downloads, Configuration

test(setup_config): update version mocking to use local version function
  tests/test_config_coverage_fixes.py
  tests/test_config_simple.py
  tests/test_setup_config_extended.py
Due: none

refactor(utils): add exception handling to package version retrieval
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

refactor(download): enhance pre-release availability logging
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

Add display_banner utility function to CLI entry points (#145)
  src/fetchtastic/cli.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_config_coverage_fixes.py
  tests/test_config_simple.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_utils.py
Due: Core Downloads, User Interface, Configuration

feat(orchestrator): add config options for saving APKs, firmware, and auto-extraction
  src/fetchtastic/download/orchestrator.py
  tests/test_cli_notifications.py
  tests/test_download_orchestrator.py
Due: Core Downloads

feat(config): add ALLOW_ENV_TOKEN option for GitHub token control
  src/fetchtastic/download/cli_integration.py
  tests/test_allow_env_token.py
Due: Core Downloads

feat(orchestrator): add WIFI_ONLY option to skip downloads on non-Wi-Fi for Termux
  src/fetchtastic/download/orchestrator.py
  tests/test_wifi_only.py
Due: Core Downloads

chore(config): bump version to 0.9.5
  pyproject.toml
Due: none

refactor(tests): improve variable naming and remove unused assignments
  .bandit
  tests/test_allow_env_token.py
  tests/test_wifi_only.py
Due: none

style(repo_downloader): simplify exception handling and adjust comment placement
  src/fetchtastic/repo_downloader.py
Due: none

refactor(orchestrator): replace os.popen with subprocess.run for Wi-Fi check
  src/fetchtastic/download/orchestrator.py
  tests/test_wifi_only.py
Due: Core Downloads

refactor(tests): simplify mocking and remove unused variables in token and wifi tests
  tests/test_allow_env_token.py
  tests/test_wifi_only.py
Due: none

refactor(tests): update is_termux patch paths and simplify mocking in wifi tests
  tests/test_wifi_only.py
Due: none

refactor(tests): update patch paths for is_termux and subprocess.run in wifi tests
  tests/test_wifi_only.py
Due: none

refactor(tests): update patch paths for is_termux in wifi tests
  tests/test_wifi_only.py
Due: none

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
