Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(cache): improve thread safety and code maintainability
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(downloader): improve prerelease asset path handling to support hierarchical structures
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve error handling with specific exception categories and logging
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(api): improve GitHub API response logging with better size info handling
  src/fetchtastic/utils.py
Due: Core Downloads

fix(downloader): prevent path traversal vulnerabilities in asset downloads
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): introduce generic cache clearing helper to reduce duplication
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(api): simplify GitHub API response logging
  src/fetchtastic/utils.py
Due: Core Downloads

perf(downloader): prevent race conditions in commit cache saves
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify cache clearing helpers and improve error handling
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(downloader): simplify asset path handling and enhance security
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(cache): simplify cache initialization by removing double-checked locking pattern
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

perf(cache): optimize cache loading with double-checked locking pattern
  pyproject.toml
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

perf(cache): optimize cache loading and rate limiting mechanisms
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

build(config): remove python version requirement from project config
  pyproject.toml
Due: none

perf(cache): optimize cache loading with atomic operations and improved error handling
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

perf(utils): add fast path check for cache loading optimization
  src/fetchtastic/utils.py
Due: Core Downloads

fix(downloader): prevent accidental cleanup of last good prerelease on failed download
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(utils): update urllib3 retry parameter for v2+ compatibility
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(downloader, utils): improve atomic file write operations and error handling
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(test): use variables for asset names in test_prereleases
  tests/test_prereleases.py
Due: none

fix: resolve inconsistent token warning and logging behavior
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

refactor: remove urllib3 v1 support and enforce v2+ only
  src/fetchtastic/utils.py
Due: Core Downloads

refactor: simplify urllib3 v2+ only implementation
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

test: add coverage for token warning and logging fixes
  tests/test_coverage_fix.py
  tests/test_token_warning_fix.py
Due: none

refactor(auth): simplify token warning function signature
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_coverage_fix.py
  tests/test_token_warning_fix.py
  tests/test_utils.py
Due: Core Downloads

test(auth): update unused mock parameter naming convention
  tests/test_token_warning_fix.py
Due: none

refactor(downloader): add release_type parameter to _get_latest_releases_data
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
Due: Core Downloads

test(test): add coverage tests for fallback URL parsing
  tests/test_coverage_fix.py
Due: none

test(coverage): update unused variable naming convention
  tests/test_coverage_fix.py
Due: none

test(test-coverage-fix): refactor nested context managers and improve test isolation
  tests/test_coverage_fix.py
Due: none

refactor(downloader): optimize release_type handling in cached data retrieval
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
Due: Core Downloads

refactor(api): improve logging behavior and type safety in GitHub API interactions
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

chore(config): bump version to 0.8.1
  setup.cfg
Due: none

feat(api): add comprehensive API request tracking and logging
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

test: add comprehensive test coverage for multiple modules including API tracking, CLI, device hardware, download utilities, and setup config
  tests/test_api_tracking.py
  tests/test_cli_extended.py
  tests/test_cli_focused.py
  tests/test_device_hardware_simple.py
  tests/test_download_utilities.py
  tests/test_download_utilities_focused.py
  tests/test_setup_config_simple.py
Due: none

Looking at the staged changes, I can see:
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

test(cli): refactor test implementations for simplicity and maintainability
  tests/test_cli_extended.py
  tests/test_cli_focused.py
Due: none

test: refactor test files by removing unused imports and consolidating mock declarations
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  tests/test_api_tracking.py
  tests/test_cli_extended.py
  tests/test_cli_focused.py
  tests/test_device_hardware_simple.py
  tests/test_download_utilities.py
  tests/test_download_utilities_focused.py
  tests/test_setup_config_simple.py
Due: Core Downloads, User Interface

refactor(cli): ensure all CLI commands exit with proper status codes
  src/fetchtastic/cli.py
  tests/test_cli.py
  tests/test_cli_focused.py
  tests/test_device_hardware_simple.py
  tests/test_download_utilities.py
Due: User Interface

refactor(cli): ensure proper exit status codes for Windows platform handling and tests
  src/fetchtastic/cli.py
  tests/test_cli.py
Due: User Interface
