Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(download): optimize version tracking and skip handling
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads

fix(config): remove redundant crontab check and fix newline
  src/fetchtastic/setup_config.py
  tests/test_download_cli_integration.py
Due: Configuration

test: use constants for directory names in migration reporting tests
  tests/test_migration_reporting.py
Due: none

refactor(constants): standardize file type and error type identifiers
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
Due: Core Downloads, Infrastructure

fix(download): detect new versions even when downloads are skipped
  src/fetchtastic/download/cli_integration.py
  tests/test_migration_reporting.py
Due: Core Downloads

fix(download): improve type hint for version manager
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/notifications.py
Due: Core Downloads

fix(download): improve type safety for version manager
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/notifications.py
Due: Core Downloads

improve(download): enhance code structure and notification handling
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/notifications.py
Due: Core Downloads

refactor(notifications): simplify timestamp handling and remove redundant code
  src/fetchtastic/notifications.py
Due: none

refactor(download): improve type safety and file type handling
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
Due: Core Downloads, User Interface

test(download): add test for legacy format file type categorization
  tests/test_download_cli_integration.py
Due: none

test: add user_interface pytest marker to test files
  tests/test_download_android.py
  tests/test_menu_apk.py
  tests/test_menu_firmware.py
  tests/test_menu_repo.py
  tests/test_repo_downloader.py
Due: none

test: update test assertions and add pytest markers
  tests/test_cli_extended.py
  tests/test_cli_notifications.py
Due: none

refactor(cli): restructure download results handling
  src/fetchtastic/cli.py
  tests/test_menu_repo.py
Due: User Interface

refactor(download): improve code structure and file type categorization
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads, User Interface, Infrastructure

refactor(download): simplify notification logic and improve test readability
  src/fetchtastic/download/cli_integration.py
  tests/test_cli_notifications.py
  tests/test_download_cli_integration.py
Due: Core Downloads

fix(config): add check for missing crontab command
  src/fetchtastic/setup_config.py
Due: Configuration

test: update test assertions and remove unused mocker fixture
  tests/test_cli_notifications.py
  tests/test_download_cli_integration.py
Due: none

Re-add NTFY-based notification functionality (#139)
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/notifications.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  tests/test_cli_extended.py
  tests/test_cli_notifications.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
  tests/test_menu_apk.py
  tests/test_menu_firmware.py
  tests/test_menu_repo.py
  tests/test_migration_reporting.py
  tests/test_notifications.py
  tests/test_repo_downloader.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

refactor(firmware): update cleanup logic to use release tags from API
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
  tests/test_firmware_downloader_comprehensive.py
Due: Core Downloads

refactor(firmware): improve release tag handling and limit validation
  src/fetchtastic/download/firmware.py
Due: Core Downloads

test(firmware): add tests for cleanup_old_versions edge cases
  tests/test_download_firmware.py
Due: none

fix(firmware): handle zero limit case and remove incorrect slice
  src/fetchtastic/download/firmware.py
Due: Core Downloads

fix(firmware): handle negative limit values and improve cleanup logic
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

test(firmware): add tests for negative limit handling in cleanup and get_releases
  tests/test_download_firmware.py
Due: none

fix(firmware): skip prereleases during cleanup and fix limit validation
  src/fetchtastic/download/firmware.py
Due: Core Downloads

fix(firmware): use proper string formatting in logging statements
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(firmware): replace os.listdir with os.scandir for directory traversal
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(cli): replace os.listdir with os.scandir for directory traversal
  src/fetchtastic/cli.py
  tests/test_cli.py
  tests/test_download_android.py
  tests/test_download_firmware.py
Due: User Interface

refactor(download): replace os.listdir with os.scandir in android downloader
  src/fetchtastic/download/android.py
  tests/test_cli.py
Due: Core Downloads

refactor(download): replace os.listdir with os.scandir for directory traversal
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

refactor: replace os.listdir with os.scandir for directory traversal
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_download_firmware.py
  tests/test_repo_downloader.py
Due: Core Downloads, User Interface

test(cli): remove unused mock fixtures in test_run_clean
  tests/test_cli.py
  tests/test_cli_extended.py
Due: none

test(cli): reorder mock fixtures in test_run_clean
  tests/test_cli.py
Due: none

fix(config): correct file path references in cleanup logic
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_setup_config.py
Due: Configuration

fix(download): skip symlinks and non-directory entries in prerelease cleanup
  src/fetchtastic/download/firmware.py
  tests/test_cli.py
  tests/test_download_firmware.py
Due: Core Downloads

fix(download): handle FileNotFoundError in directory scanning
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/prerelease_history.py
Due: Core Downloads

fix(download): handle FileNotFoundError in directory scanning
  src/fetchtastic/download/firmware.py
Due: Core Downloads

fix(download): clarify firmware cleanup behavior and parameter handling
  src/fetchtastic/download/firmware.py
Due: Core Downloads

fix(config): use pathlib methods for file system operations
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration
