Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

test(prereleases): remove unused mock variable and fix formatting
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

style(test): simplify assertion formatting in test_prereleases.py
  tests/test_prereleases.py
Due: none

style(prereleases): simplify assertion formatting in test file
  tests/test_prereleases.py
Due: none

Fix pre-release handling regressions for firmware and APK downloads (#122)
  pyproject.toml
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor: modernize prerelease tracking system to JSON-only architecture
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_cli.py
  tests/test_constants_module.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
Due: Core Downloads, Infrastructure

chore: bump version to 0.8.9
  pyproject.toml
Due: none

refactor(downloader): extract logging message to variable
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): remove duplicate logging calls and unused remaining_prereleases logic
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

refactor(downloader): restructure firmware release tag validation logic and improve test logging
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

test(downloader): enhance APK download test assertions and add firmware safety test
  tests/test_download_core.py
Due: none

test(downloader): add tests for prerelease cleanup and firmware tracking
  tests/test_download_core.py
Due: none

test(downloader): add tests for prerelease cleanup and tracking handling
  tests/test_download_core.py
Due: none

test(downloader): improve logger propagation control in prerelease cleanup test
  tests/test_download_core.py
Due: none

refactor(downloader): simplify firmware version handling logic
  src/fetchtastic/downloader.py
Due: Core Downloads

test(downloader): improve test parameter handling and documentation clarity
  src/fetchtastic/downloader.py
  tests/test_cli.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

chore(deps): update development tools and linters to latest versions
  .trunk/trunk.yaml
  tests/test_download_core.py
Due: none

refactor(downloader): simplify firmware version handling in cleanup logic
  src/fetchtastic/downloader.py
Due: Core Downloads

fix(downloader): add additional condition check to prevent unnecessary APK prerelease logging
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

test(downloader): improve test assertions for superseded prereleases cleanup
  tests/test_download_core.py
Due: none

fix(downloader): add guard condition for nonexistent prerelease directory
  src/fetchtastic/downloader.py
Due: Core Downloads

test(downloader): add assertions for downloader return values in test
  tests/test_download_core.py
Due: none

refactor: modernize prerelease tracking system to JSON-only architecture (#124)
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_cli.py
  tests/test_constants_module.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads, Infrastructure

feat(download): implement modular download subsystem architecture
  docs/refactoring-plan-downloader.md
  src/fetchtastic/download/__init__.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/migration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
Due: none

feat(download): implement modular download subsystem architecture
  scripts/migrate_legacy_downloader.py
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_download_core.py
Due: Core Downloads, User Interface, Configuration

feat(download): add static check_and_download method for backward compatibility
  src/fetchtastic/download/firmware.py
  tests/test_download_core.py
Due: none

test(download): update import paths to reflect modular architecture
  tests/test_download_core.py
Due: none

chore: remove legacy downloader migration script
  scripts/migrate_legacy_downloader.py
Due: none

feat(download): implement modular repository downloader architecture
  src/fetchtastic/cli.py
  src/fetchtastic/download/__init__.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  tests/test_repo_downloader.py
Due: Core Downloads, User Interface

refactor(download): integrate menu system for repository downloader
  src/fetchtastic/cli.py
Due: User Interface

fix(download): remove forward slash from path traversal check
  src/fetchtastic/constants.py
  src/fetchtastic/download/repository.py
  tests/test_repo_downloader.py
Due: Infrastructure

feat(download): implement platform-specific download paths and asset filtering
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_download_cli_integration.py
  tests/test_download_core.py
  tests/test_setup_config.py
Due: Configuration

feat(download): add path sanitization and improve pattern matching
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/migration.py
  tests/test_download_core.py
Due: none

feat(download): add exclude patterns and safety checks to extraction
  docs/refactoring-plan-downloader.md
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_core.py
Due: none

docs: add refactor remaining work checklist
  docs/refactor-remaining-work.md
Due: none

feat(download): implement extraction validation and safety features
  docs/refactor-implementation-plan.md
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/repository.py
  test_extraction_validation.py
Due: none

docs: update refactor implementation plan with progress tracking
  docs/refactor-implementation-plan.md
Due: none

feat(download): add cache and version tracking utilities
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/version.py
  test_extraction_validation.py
Due: none

feat(download): add prerelease version management utilities
  src/fetchtastic/download/version.py
Due: none

feat(download): enhance prerelease management with pattern filtering and metadata tracking
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
Due: none

Path conditions:
  Core Downloads: any of: src/fetchtastic/downloader.py, src/fetchtastic/repo_downloader.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
