Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

refactor(prerelease): add symlink safety check in cleanup and update hash tracking in tests
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(prerelease): sort prereleases by commit timestamp from GitHub API
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(prerelease): extract helper functions to module level
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(prerelease): simplify tracking data handling
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(prerelease): remove unused version comparison function
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

test(device-hardware): add comprehensive tests for device hardware manager
  tests/test_device_hardware.py
Due: none

test(downloader): add extensive test coverage for downloader
  src/fetchtastic/downloader.py
  tests/test_device_hardware.py
  tests/test_downloader.py
Due: Core Downloads

docs: add testing instructions for development environment
  AGENTS.md
Due: none

refactor(downloader): improve prerelease tracking logic and code style
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(downloader): improve prerelease tracking variable naming and code formatting
  AGENTS.md
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve code style and remove unnecessary cleanup
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve prerelease performance and code style
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(downloader): improve version comparison logic and code formatting
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(downloader): improve code style and formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve code style and prerelease logic
  src/fetchtastic/downloader.py
Due: Core Downloads

style(tests): format test assertions for better readability
  tests/test_downloader.py
Due: none

refactor(downloader): improve code style and test readability
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(downloader): improve commit hash extraction regex
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

refactor(downloader): improve error handling and code readability
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

style(tests): format test assertions and remove trailing whitespace
  tests/test_downloader.py
Due: none

style(downloader): remove trailing whitespace and improve code formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(tests): replace inline mocks with write_dummy_file fixture
  tests/test_downloader.py
Due: none

refactor(tests): split large test file into focused modules
  tests/test_download_core.py
  tests/test_downloader.py
  tests/test_downloader_original.py
  tests/test_extraction.py
  tests/test_notifications.py
  tests/test_prereleases.py
  tests/test_security_paths.py
  tests/test_versions.py
Due: none

fix(downloader): improve new version detection logic
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_extraction.py
  tests/test_notifications.py
  tests/test_security_paths.py
Due: Core Downloads

refactor(tests): improve test code style and add Windows compatibility checks
  tests/test_download_core.py
  tests/test_extraction.py
  tests/test_prereleases.py
  tests/test_security_paths.py
Due: none

refactor: improve code style and readability across downloader and tests
  src/fetchtastic/downloader.py
  tests/test_device_hardware.py
  tests/test_download_core.py
  tests/test_extraction.py
  tests/test_notifications.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(tests): remove redundant test imports and functions
  tests/test_downloader.py
  tests/test_notifications.py
Due: none

refactor(tests): improve test code style and readability
  tests/test_notifications.py
  tests/test_prereleases.py
Due: none

refactor: improve code style and readability across downloader and tests
  src/fetchtastic/utils.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): improve code style and readability
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve code style and readability
  src/fetchtastic/downloader.py
  tests/test_downloader_original.py
Due: Core Downloads

feat(config): add GitHub token configuration to setup
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

test(config): update setup config tests for GitHub token feature
  tests/test_setup_config.py
Due: none

test(config): add unit tests for GitHub token setup
  tests/test_setup_config.py
Due: none

refactor(downloader): add thread-safety to cache operations and improve formatting
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

Path conditions:
  Core Downloads: any of: src/fetchtastic/downloader.py, src/fetchtastic/repo_downloader.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
