Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

refactor(cli): remove unnecessary default in confirmation prompts
  src/fetchtastic/cli.py
Due: User Interface

refactor(config): rename unused parameter and update test assertion
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

Reorganize firmware setup configuration flow (#159)
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  tests/test_channel_suffixes.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_config_edge_cases.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_release_history.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_noninteractive.py
  tests/test_setup_config_patch_coverage.py
Due: Core Downloads, User Interface, Configuration

fix(config): add timeouts to subprocess calls and improve selection handling
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

fix(config): improve error handling and subprocess calls in setup
  src/fetchtastic/setup_config.py
  tests/test_setup_config_extended.py
Due: Configuration

refactor(cli): remove unnecessary string operations in input handling
  src/fetchtastic/cli.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: User Interface

fix(cli): correct config shortcut removal to use base directory
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

refactor(config): remove unnecessary string operations from input handling
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): extract _disable_asset_downloads function and remove unnecessary string operations
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): add optional message parameter to _disable_asset_downloads
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): standardize asset type naming to 'APK
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): simplify topic name assignment in notifications setup
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): enhance input handling and message pluralization
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(repo_downloader): simplify exception handling and input processing
  src/fetchtastic/repo_downloader.py
Due: none

refactor(config): simplify user input handling with _coerce_bool
  src/fetchtastic/setup_config.py
Due: Configuration

Refactor input handling and simplify release channel detection (#161)
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  tests/test_channel_suffixes.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_config_edge_cases.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_release_history.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_noninteractive.py
  tests/test_setup_config_patch_coverage.py
Due: Core Downloads, User Interface, Configuration

feat(firmware): add option to keep most recent beta release during cleanup
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
Due: Core Downloads, Configuration, Infrastructure

test: update firmware and setup tests for keep last beta option
  tests/test_download_firmware.py
  tests/test_setup_config.py
Due: none

fix(config): adjust default for keep last beta prompt on first run
  src/fetchtastic/setup_config.py
Due: Configuration

fix(firmware): refine beta release keeping logic to prevent duplicates and use full release list
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
Due: Core Downloads, Configuration

refactor(firmware): streamline beta release retention and cleanup processes
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

fix(config): refine channel suffix addition logic for firmware
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(download): extract get_release_sorting_key function for consistent release sorting
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

feat(cli): add file logging and enhance cleanup logic
  .trunk/trunk.yaml
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads, User Interface

chore: add type ignore annotations for untyped imports
  src/fetchtastic/cli.py
  src/fetchtastic/device_hardware.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/notifications.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_channel_suffixes.py
  tests/test_cli_extended.py
  tests/test_setup_config_extended.py
Due: Core Downloads, User Interface, Configuration

test(tests): add conftest.py to block network access during tests
  tests/conftest.py
Due: none

feat(download): enhance cleanup logic with cached releases and beta retention
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration

test: enhance isolation in download and orchestrator tests with mocking
  tests/test_download_firmware.py
  tests/test_download_integration.py
  tests/test_orchestrator_comprehensive.py
Due: none

refactor(download): extract firmware keep limit validation into method
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
  tests/test_orchestrator_comprehensive.py
  tests/test_prereleases_modular.py
  tests/test_release_history.py
Due: Core Downloads, Configuration

refactor(download): clean up unused parameters and enhance cleanup logic
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/setup_config.py
  tests/conftest.py
  tests/test_download_firmware.py
Due: Core Downloads, Configuration

refactor(config): make firmware setup non-interactive friendly and improve keep limit validation
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/setup_config.py
  tests/test_release_history.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

test(config): add unit tests for firmware beta retention, windows shortcuts, and channel suffixes
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: none

test(config): update mock inputs for firmware keep beta interactive test
  tests/test_setup_config.py
Due: none

test(config): update mock inputs and add CI env patch for firmware keep beta test
  tests/test_setup_config.py
Due: none

fix: correct config loading and scan count logic
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  tests/conftest.py
  tests/test_download_firmware.py
  tests/test_orchestrator_comprehensive.py
  tests/test_prereleases_modular.py
  tests/test_release_history.py
Due: Core Downloads, User Interface, Configuration

feat(download): add logic to include latest beta firmware release
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads

fix(download): improve beta release logic and error handling
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads, User Interface

test(cli): update assertion to use formatted string for cleanup error message
  tests/test_cli_extended.py
Due: none

refactor(download): simplify beta release limit logic
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
Due: Core Downloads, User Interface

refactor(cli): simplify log level configuration logic
  src/fetchtastic/cli.py
Due: User Interface

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
