Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

fix: display versionCode instead of constant tag in snapshot notifications
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads

fix: gate CHECK_APP_SNAPSHOTS config and improve setup prompt text
  src/fetchtastic/client_app_config.py
  src/fetchtastic/setup_config.py
Due: Configuration

test: add comprehensive snapshot tests covering all PR review findings
  tests/test_cli_notifications.py
  tests/test_snapshots.py
Due: none

docs: document snapshot debug build feature
  README.md
  docs/configuration.md
Due: none

fix: add snapshot-aware semantic asset matching for stable-to-snapshot selection
  src/fetchtastic/constants.py
  src/fetchtastic/download/client_app.py
Due: Core Downloads, Infrastructure

fix: guard None versionCode log and use shared regex + URL query strip
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

fix: gate setup prompt to Android-only selections and enforce retention floor
  src/fetchtastic/client_app_config.py
  src/fetchtastic/setup_config.py
Due: Configuration

test: add realistic asset-selection, orchestrator integration, and setup persistence tests
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_snapshots.py
Due: none

fix: correct ABI wildcard handling, legacy APK support, and explicit stable classification
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

test: add ABI wildcard, legacy APK, stable classification, notification, and desktop prompt tests
  tests/test_cli_notifications.py
  tests/test_setup_config_extended.py
  tests/test_snapshots.py
Due: none

docs: fix README tree formatting, terminology, and document snapshot selection
  README.md
  docs/configuration.md
Due: none

fix: prevent failed snapshots from being reported as downloaded and harden exclusion diagnostics
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
Due: Core Downloads

refactor: extract _clear_client_app_flags helper to eliminate duplicate flag-clearing
  src/fetchtastic/setup_config.py
Due: Configuration

test: fix completeness test, add failed-snapshot/retry/notification/exclusion tests
  tests/test_cli_notifications.py
  tests/test_snapshots.py
Due: none

fix: complete snapshot isolation at direct method boundaries + timestamp dirs
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
Due: Core Downloads

fix: move versions-to-keep question before prerelease/snapshot in setup flow
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
Due: Configuration

fix: preserve snapshot character-class asset selection
  src/fetchtastic/download/client_app.py
  src/fetchtastic/setup_config.py
  tests/test_snapshots.py
Due: Core Downloads, Configuration

feat: disable snapshot notifications by default
  src/fetchtastic/download/cli_integration.py
  tests/test_cli_notifications.py
Due: Core Downloads

fix: clean up old snapshots when a new release or prerelease ships
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

fix: decouple snapshot accounting from NTFY and implement release-triggered cleanup
  docs/configuration.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  tests/test_snapshots.py
Due: Core Downloads, Infrastructure

fix: finalize snapshot notification and review cleanup
  docs/configuration.md
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/setup_config.py
  tests/test_cli_notifications.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
  tests/test_snapshot_release_cleanup.py
  tests/test_snapshots.py
Due: Core Downloads, Configuration

chore: finish snapshot review cleanup
  src/fetchtastic/setup_config.py
  tests/test_cli_notifications.py
  tests/test_snapshot_release_cleanup.py
  tests/test_snapshots.py
Due: Configuration

chore: bump version to 0.11.0
  pyproject.toml
Due: none

Add opt-in Android snapshot debug build downloads and tracking (#226)
  README.md
  docs/configuration.md
  pyproject.toml
  src/fetchtastic/client_app_config.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/notifications.py
  src/fetchtastic/setup_config.py
  tests/test_cli_notifications.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
  tests/test_snapshot_release_cleanup.py
  tests/test_snapshots.py
Due: Core Downloads, Configuration, Infrastructure

Upgrade trunk
  .trunk/trunk.yaml
Due: none

Trunk autofixes
  .github/workflows/pypi-publish.yml
  .github/workflows/test-and-coverage.yml
Due: none

chore: consolidate dependencies into pyproject.toml, fix security CVEs
  AGENTS.md
  README.md
  docs/TESTING_GUIDE.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

@sourcery-ai title (#227)
  .github/workflows/pypi-publish.yml
  .github/workflows/test-and-coverage.yml
  .trunk/trunk.yaml
  AGENTS.md
  README.md
  docs/TESTING_GUIDE.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

fix: restore client app prerelease downloads
  src/fetchtastic/download/client_app.py
  tests/test_client_app_coverage.py
  tests/test_client_app_prerelease_selection.py
  tests/test_download_orchestrator.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads

fix: normalize client app prerelease bases
  src/fetchtastic/download/client_app.py
  tests/test_client_app_prerelease_selection.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads

fix: harden stable ranking and latest-pointer validation
  src/fetchtastic/download/client_app.py
  tests/test_client_app_prerelease_selection.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads

Restore client-app prerelease selection and latest pointer safety (#228)
  src/fetchtastic/download/client_app.py
  tests/test_client_app_coverage.py
  tests/test_client_app_prerelease_selection.py
  tests/test_download_orchestrator.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads

feat: add firmware prerelease and nightly support
  README.md
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/notifications.py
  src/fetchtastic/setup_config.py
  tests/test_cli_notifications.py
  tests/test_download_firmware.py
  tests/test_firmware_nightlies.py
  tests/test_notifications.py
  tests/test_prereleases_modular.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
  tests/test_version_management.py
Due: Core Downloads, Configuration, Infrastructure

fix: harden firmware nightly transactions
  docs/configuration.md
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_firmware_nightlies.py
  tests/test_prereleases_modular.py
  tests/test_version_management.py
Due: Core Downloads

fix: complete firmware nightly transaction safety
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  tests/test_cli_notifications.py
  tests/test_download_firmware.py
  tests/test_firmware_nightlies.py
  tests/test_version_management.py
Due: Core Downloads, Infrastructure

fix: close remaining firmware nightly gaps
  docs/usage-guide.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli_notifications.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, Infrastructure

fix: enforce coherent and safe nightly maintenance
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_firmware_nightlies.py
Due: Core Downloads

fix: reject malformed empty nightly listings
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/version.py
  tests/test_firmware_nightlies.py
  tests/test_version_management.py
Due: Core Downloads

Add opt-in firmware nightlies and fix prerelease selection across version bumps (#229)
  README.md
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/notifications.py
  src/fetchtastic/setup_config.py
  tests/test_cli_notifications.py
  tests/test_download_firmware.py
  tests/test_firmware_nightlies.py
  tests/test_notifications.py
  tests/test_prereleases_modular.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
  tests/test_version_management.py
Due: Core Downloads, Configuration, Infrastructure

chore: bump version to 0.11.1 and remove empty setup.cfg
  .github/workflows/test-and-coverage.yml
  .trunk/trunk.yaml
  pyproject.toml
  setup.cfg
Due: none
