Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

refactor(cli): simplify log level config and add unit test markers
  src/fetchtastic/cli.py
  tests/test_download_firmware.py
Due: User Interface

refactor(download): extract beta release finding logic and simplify limit handling
  src/fetchtastic/download/android.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(cli): disable file logging during tests and enhance test mocks
  src/fetchtastic/cli.py
  tests/test_cli_extended.py
Due: User Interface

test: add fixture to isolate test environment paths
  tests/conftest.py
Due: none

feat(cli): add test safety check for clean operation
  src/fetchtastic/cli.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_cli_extended.py
Due: User Interface

refactor(test): remove unnecessary monkeypatch in isolate fixture
  tests/conftest.py
Due: none

refactor(download): rename keep_limit to keep_limit_for_summary for clarity
  src/fetchtastic/download/orchestrator.py
  tests/conftest.py
Due: Core Downloads

feat(download): add support for downloading firmware and APK prereleases
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/notifications.py
  tests/test_cli.py
  tests/test_cli_notifications.py
Due: Core Downloads, User Interface

refactor(download): make prerelease parameters optional
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/notifications.py
  tests/conftest.py
Due: Core Downloads

test(download): update tests for prerelease download support
  tests/test_cli_extended.py
  tests/test_download_cli_integration.py
  tests/test_migration_reporting.py
Due: none

refactor(download): improve firmware version comparison and keep limit logic
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_migration_reporting.py
Due: Core Downloads

refactor(download): consolidate beta release filtering into ReleaseHistoryManager
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  tests/test_download_firmware.py
Due: Core Downloads

chore(release): bump version to 0.10.0
  pyproject.toml
Due: none

refactor(download): enhance firmware cleanup with base tag matching
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(download): add method to find most recent beta release
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

refactor(download): improve firmware cleanup logic for cached releases and base tags
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

test(download): mock get_releases in cleanup_old_versions tests
  tests/test_download_firmware.py
Due: none

feat(download): add config to preserve legacy firmware base directories
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads, User Interface, Infrastructure

refactor(cli,download): extract comparable base tag method and add test safety for repo clean
  src/fetchtastic/cli.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads, User Interface

test(cli): add environment mocking for repo clean tests
  tests/test_cli_extended.py
Due: none

refactor(download): optimize base tag normalization with regex
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(download): rename tag variables and simplify suffix list construction
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(cli,download): add test safety for clean operations and rename tag variables
  src/fetchtastic/cli.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads, User Interface

refactor(cli,download): simplify clean confirmation logic and rename tag variables
  src/fetchtastic/cli.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads, User Interface

feat(download): add channel suffix handling in firmware cleanup
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(cli,download): extract common clean confirmation logic and firmware suffix pattern
  src/fetchtastic/cli.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads, User Interface

Add beta-aware firmware retention feature (#163)
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/device_hardware.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/notifications.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/conftest.py
  tests/test_channel_suffixes.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_cli_notifications.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
  tests/test_download_integration.py
  tests/test_migration_reporting.py
  tests/test_orchestrator_comprehensive.py
  tests/test_prereleases_modular.py
  tests/test_release_history.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

feat(firmware): add option to filter revoked firmware releases
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration, Infrastructure

feat(firmware): enable filtering of revoked releases by default
  src/fetchtastic/constants.py
Due: Infrastructure

test: update tests for revoked firmware release filtering
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: none

refactor(firmware): centralize revoked release filtering logic
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
Due: Core Downloads, Configuration

refactor(firmware): enhance release fetching logic for revoked filtering
  src/fetchtastic/download/firmware.py
Due: Core Downloads

feat(android): enable filtering of revoked releases
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_download_orchestrator.py
Due: Core Downloads, Configuration

refactor(download): remove revoked release filtering feature for APKs
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_download_orchestrator.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Core Downloads, Configuration

refactor(download): enhance reason logging for release refetching
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(firmware): simplify target assignment in release collection
  src/fetchtastic/download/firmware.py
Due: Core Downloads

feat(firmware): skip extraction for revoked releases
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

feat(firmware): enable filtering of revoked firmware releases
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

test(orchestrator): ensure test validates doubled release scan limit for revoked filtering
  tests/test_orchestrator_comprehensive.py
Due: none

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
