Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

Address code review feedback with targeted improvements
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

Implement performance optimization for prerelease commit tracking
  src/fetchtastic/downloader.py
Due: Core Downloads

Systematically address all remaining code review feedback
  setup.cfg
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

Fix critical pattern matching bug preventing false positives
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix stale directory list issue in prerelease cleanup logic
  src/fetchtastic/downloader.py
Due: Core Downloads

Comprehensively address all remaining code review feedback
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

Refactor tracking data reader to eliminate code duplication
  src/fetchtastic/downloader.py
Due: Core Downloads

Address reviewer feedback - fix cultural sensitivity and improve error handling
  pr_summary_temp.md
  src/fetchtastic/device_hardware.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
Due: Core Downloads, Configuration

Remove temp file
  pr_summary_temp.md
Due: none

Improve code conciseness in exclude pattern deduplication
  src/fetchtastic/setup_config.py
Due: Configuration

Improve test coverage across CLI, setup_config, and utils modules
  tests/test_cli.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: none

Fix failing tests by adjusting assertions for logging output
  tests/test_cli.py
  tests/test_setup_config.py
Due: none

Address code review feedback: improve test precision
  tests/test_setup_config.py
Due: none

Comprehensively address code review feedback
  tests/test_cli.py
  tests/test_utils.py
Due: none

Fix test isolation issues with pytest fixture
  tests/test_setup_config.py
Due: none

Improve test maintainability and code quality
  tests/test_cli.py
  tests/test_utils.py
Due: none

Standardize test mocking patterns for consistency
  tests/test_utils.py
Due: none

Address final code review feedback for test reliability and clarity
  src/fetchtastic/cli.py
  tests/test_cli.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: User Interface

Remove unnecessary module reload from CLI test
  tests/test_cli.py
Due: none

Remove unnecessary input mock from CLI test
  tests/test_cli.py
Due: none

Refactor check_for_prereleases()
  setup.cfg
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Update .coderabbit.yml
  .coderabbit.yml
Due: none

Update trunk.yaml
  .trunk/trunk.yaml
Due: none

Logging/test fixes
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Cached the prerelease root’s real path and restored a concise helper docstring for clarity -- also removed the directory-traversal risk
  src/fetchtastic/downloader.py
Due: Core Downloads

rechecks existing non-zip assets against their expected size, other fixes
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Hardened every filesystem touchpoint; Tightened cleanup and re-download plumbing; Added regression tests
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Fix prerelease processing: Allow non-standard version tags and security improvements
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Perf: Use os.scandir() for better performance in prerelease cleanup
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix code review comments: cleanup logic, fsync, ValueError simplification, Windows symlink guards
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

hardened regular release handling; normalized the prerelease reset to use _sanitize_path_component; added base-directory containment before any download_file_with_retry call
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Update test_downloader.py
  tests/test_downloader.py
Due: none

Fix tests
  tests/test_downloader.py
Due: none

Bump version
  setup.cfg
Due: none

Trunk fixes
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_downloader.py
Due: Core Downloads, Configuration

refactor(downloader): refactor version comparison logic for prereleases
  requirements.txt
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Bump version/upgrade trunk
  .trunk/trunk.yaml
  setup.cfg
Due: none

Revert "refactor(downloader): refactor version comparison logic for prereleases"
  requirements.txt
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

test: add comprehensive unit tests for version normalization functions
  tests/test_downloader.py
Due: none
