Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

fix(download): improve release discovery and prerelease tracking robustness
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/utils.py
  tests/test_client_app_coverage.py
  tests/test_menu_app_coverage.py
  tests/test_orchestrator_line_coverage.py
  tests/test_setup_config_line_coverage.py
Due: Core Downloads

feat(download): handle duplicate files during client app migration
  src/fetchtastic/download/client_app.py
  tests/test_client_app_coverage.py
Due: Core Downloads

chore(download): refine logging for tracked prereleases
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

fix(download): harden prerelease tracking and improve version filtering
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_client_app_coverage.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_line_coverage.py
  tests/test_prerelease_tracking_cleanup.py
  tests/test_setup_config_line_coverage.py
Due: Core Downloads

Bump version
  pyproject.toml
Due: none

feat(firmware): implement fallback for missing prerelease directories
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(firmware): support multiple active prerelease directories
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

chore(notifications): unify client app terminology and reporting
  src/fetchtastic/cli.py
  src/fetchtastic/notifications.py
  tests/test_notifications.py
Due: User Interface

Restore firmware prerelease fallback (#206)
  pyproject.toml
  src/fetchtastic/cli.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/notifications.py
  tests/test_download_firmware.py
  tests/test_notifications.py
Due: Core Downloads, User Interface

fix(firmware): improve prerelease directory detection and filtering
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(firmware): track and expose active prerelease directory
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

Add tests
  tests/test_download_orchestrator.py
Due: none

fix(firmware): improve prerelease directory handling and sorting
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(download): optimize directory lookup and reset pipeline state
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(firmware): prevent active directory override when repo scan fails
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(firmware): filter stale active entries from prerelease history
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

fix(firmware): ensure prerelease summary is generated when active directories exist
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

chore(firmware): refine repo availability verification and summary documentation
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

fix(firmware): prioritize active directories for prerelease tracking
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

test(firmware): remove unused return value in prerelease download test
  tests/test_download_firmware.py
Due: none

Improve directory discovery with deletion metadata filtering (#207)
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
Due: Core Downloads

chore(download): add symlink support for latest release tracking
  src/fetchtastic/constants.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  tests/test_latest_pointer.py
Due: Core Downloads, Infrastructure

feat(config): add configurable toggle for latest symlinks
  src/fetchtastic/constants.py
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Configuration, Infrastructure

fix(download): prevent deletion of non-symlink latest pointers
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_client_app_coverage.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_latest_pointer.py
Due: Core Downloads

refactor(download): improve latest pointer management and symlink handling
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_latest_pointer.py
Due: Core Downloads

fix(download): refine release success criteria and prerelease verification
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
Due: Core Downloads

chore(download): remove unused constants and clean up tests
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/firmware.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(download): prevent symlink creation in symlinked directories
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/latest_pointer.py
  tests/test_client_app_coverage.py
  tests/test_download_firmware.py
  tests/test_latest_pointer.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads

refactor(download): improve latest release selection logic
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

feat(download): ensure correct latest release selection for prereleases
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_latest_pointer.py
Due: Core Downloads

test(download): fix typos in orchestrator test method names
  tests/test_download_orchestrator.py
Due: none

fix(download): ensure latest pointer uses newest successful prerelease
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_latest_pointer.py
Due: Core Downloads

refactor(download): use packaging.version for release sorting
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

refactor(download): improve latest pointer logic and firmware asset validation
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  tests/test_latest_pointer.py
Due: Core Downloads

refactor(download): tighten criteria for latest firmware release eligibility
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(download): exclude releases without payload assets from latest pointer
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

chore(download): harden latest pointer management and config parsing
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  tests/test_client_app_coverage.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_latest_pointer.py
Due: Core Downloads

refactor(download): unify release completion logic and asset filtering
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
