Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(types): enhance type safety with protocol and annotations
  src/fetchtastic/download/files.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

refactor(types): enhance type safety with parameter rename and annotation
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

test(cli): add ssl mocks to prevent system time warnings in download tests
  tests/test_cli.py
  tests/test_cli_extended.py
Due: none

docs: refine docstrings and code formatting across modules
  src/fetchtastic/cli.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/tools/__init__.py
Due: Core Downloads, User Interface, Configuration

refactor(types): update type annotations to use built-in generics
  src/fetchtastic/download/cache.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration

refactor: refine type annotations and docstrings
  src/fetchtastic/download/files.py
  src/fetchtastic/menu_repo.py
Due: Core Downloads, User Interface

docs(menu_repo): fix typo in select_item docstring
  src/fetchtastic/menu_repo.py
Due: User Interface

Add comprehensive type annotations across codebase (#155)
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/tools/__init__.py
  src/fetchtastic/utils.py
  tests/test_cli.py
  tests/test_cli_extended.py
Due: Core Downloads, User Interface, Configuration

feat(download): add optional channel suffixes to release directories
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_channel_suffixes.py
Due: Core Downloads, Configuration, Infrastructure

refactor(download): make channel suffix addition conditional on config
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  tests/test_channel_suffixes.py
  tests/test_download_firmware.py
Due: Core Downloads

test(download): update tests for channel suffix config option
  tests/test_download_firmware.py
  tests/test_setup_config.py
Due: none

test(setup): update test inputs for channel suffix option
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: none

feat(download): enable channel suffixes to directories by default
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_channel_suffixes.py
Due: Core Downloads, Configuration, Infrastructure

refactor(download): centralize storage channel suffixes constant
  src/fetchtastic/constants.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads, Infrastructure

refactor(download): rename parameter in build_storage_tag_with_channel and update prerelease logic
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(download): extract channel suffix logic into shared helper function
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  tests/test_channel_suffixes.py
Due: Core Downloads

refactor(download): extract and simplify prerelease check logic
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(download): update revoked release handling to replace channel suffix with -revoked
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  tests/test_channel_suffixes.py
Due: Core Downloads

refactor(download): extract constant and unify storage tag logic for prereleases
  src/fetchtastic/download/android.py
Due: Core Downloads

refactor(download): remove channel suffix logic for Android APKs
  src/fetchtastic/download/android.py
  tests/test_channel_suffixes.py
Due: Core Downloads

refactor(download): update channel suffix logic for full releases
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(download): move is_release_revoked method to BaseDownloader
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(download): remove unused is_prerelease parameter from build_storage_tag_with_channel
  .bandit
  requirements.txt
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/menu_firmware.py
  tests/test_channel_suffixes.py
  tests/test_download_firmware.py
Due: Core Downloads, User Interface

refactor: update docstring type annotations and modernize test context managers
  src/fetchtastic/download/files.py
  tests/test_prereleases_modular.py
Due: Core Downloads

refactor(download): add type annotations to hash function creation
  src/fetchtastic/download/files.py
Due: Core Downloads

refactor(download): update channel suffix logic for revoked releases
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
Due: Core Downloads

refactor(download): replace channel suffix with -revoked for revoked releases
  src/fetchtastic/download/android.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

Add channel-based directory suffixes to release storage paths (#157)
  .bandit
  requirements.txt
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/setup_config.py
  tests/test_channel_suffixes.py
  tests/test_download_firmware.py
  tests/test_prereleases_modular.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

refactor(download): enhance revoked release tag handling and clean up warnings
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(download): update revoked release tag candidate building logic
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

refactor(download): enhance channel suffix handling for firmware directories
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(download): enhance channel detection for prereleases and hash-tagged releases
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/release_history.py
Due: Core Downloads

refactor(download): remove automatic alpha suffix inference for prereleases
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_release_history.py
Due: Core Downloads

refactor(download): enhance tag candidate ordering and deduplication for revoked releases
  src/fetchtastic/download/firmware.py
Due: Core Downloads

refactor(download): enhance release log suffix formatting for android downloads
  src/fetchtastic/download/android.py
Due: Core Downloads

test(download): update android release log suffix test to omit channel details
  tests/test_download_android.py
Due: none

refactor(download): move ensure_release_notes call to optimize processing
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): remove empty suffix return for matching labels
  src/fetchtastic/download/android.py
Due: Core Downloads

Add configurable channel suffix handling for release directories (#158)
  .bandit
  requirements.txt
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/setup_config.py
  tests/test_channel_suffixes.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_prereleases_modular.py
  tests/test_release_history.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

refactor(setup): reorder download prompts and enhance firmware extraction hints
  src/fetchtastic/setup_config.py
Due: Configuration
