Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

test(download): add closed attribute to mock session in downloader tests
  tests/test_async_downloader.py
  tests/test_base_downloader.py
Due: none

refactor(download): extract zip integrity check into reusable function
  requirements-dev.txt
  requirements.txt
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
Due: Core Downloads

refactor(download): extract magic numbers into named constants
  src/fetchtastic/constants.py
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
Due: Core Downloads, Infrastructure

refactor: add type annotations and improve type safety
  src/fetchtastic/cli.py
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration

refactor(download): use local variable for aiohttp resolution
  src/fetchtastic/download/async_core.py
Due: Core Downloads

chore: bump version to 0.10.4
  pyproject.toml
Due: none

test(download): add tests for async client and core branch coverage
  tests/test_async_client.py
  tests/test_async_core.py
  tests/test_github_source.py
Due: none

fix(download): validate and skip blank tag names and asset fields
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/menu_repo.py
  tests/test_async_client.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

Add async downloads and centralize GitHub release fetching (#180)
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/__init__.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/github_source.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
  tests/conftest.py
  tests/test_android_downloader_comprehensive.py
  tests/test_async_client.py
  tests/test_async_core.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
  tests/test_cache_flow_integration.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_downloader.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_github_source.py
  tests/test_log_utils.py
  tests/test_menu_repo.py
  tests/test_notifications.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

perf(download): accelerate release validation with parallel checks
  src/fetchtastic/cli.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_repo.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_files_operations.py
Due: Core Downloads, User Interface

style(firmware): remove unused import after main rebase
  src/fetchtastic/download/firmware.py
Due: Core Downloads

fix(download): raise AsyncDownloadError instead of returning False on failure
  src/fetchtastic/download/async_core.py
  tests/test_async_core.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
Due: Core Downloads

fix: improve error handling and cleanup across download and config modules
  pyproject.toml
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
  tests/conftest.py
  tests/test_async_client.py
  tests/test_cli_extended.py
Due: Core Downloads, User Interface, Configuration

fix(download): improve error handling and robustness
  pyproject.toml
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/menu_repo.py
  tests/conftest.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

fix(download): improve retry logic and error handling robustness
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/github_source.py
  src/fetchtastic/menu_repo.py
  tests/conftest.py
  tests/test_async_client.py
  tests/test_async_downloader.py
Due: Core Downloads, User Interface

refactor(tests): extract shared async test utility
  src/fetchtastic/download/async_core.py
  src/fetchtastic/menu_repo.py
  tests/async_test_utils.py
  tests/test_async_client.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
Due: Core Downloads, User Interface

build(deps): pin test dependencies to specific versions
  pyproject.toml
  requirements-dev.txt
Due: none

fix(download): make file hash save failures non-fatal
  src/fetchtastic/download/async_core.py
  tests/conftest.py
  tests/test_async_client.py
Due: Core Downloads

fix(download): add hash verification for downloaded assets
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_async_client.py
  tests/test_async_downloader.py
Due: Core Downloads, Configuration

fix(download): handle ValueError from target path validation
  src/fetchtastic/download/async_downloader.py
Due: Core Downloads

fix(download): improve error handling and verification robustness
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/github_source.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  tests/async_test_utils.py
  tests/conftest.py
  tests/test_async_core.py
  tests/test_base_downloader.py
  tests/test_download_orchestrator.py
  tests/test_files_operations.py
  tests/test_github_source.py
  tests/test_log_utils.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

fix(download): improve size validation error handling
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  tests/async_test_utils.py
  tests/test_files_operations.py
  tests/test_log_utils.py
Due: Core Downloads

refactor(test): extract async download mocks into reusable fixture
  tests/test_base_downloader.py
Due: none

fix(download): add integrity verification for non-zip assets
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/files.py
  tests/test_files_operations.py
Due: Core Downloads

fix(download): use inspect.isawaitable for awaitable check
  src/fetchtastic/download/async_core.py
  tests/test_base_downloader.py
  tests/test_files_operations.py
Due: Core Downloads

ci(codecov): update to codecov-action v5 for test results
  .github/workflows/test-and-coverage.yml
Due: none

Add async download support and improve type safety (#182)
  .github/workflows/test-and-coverage.yml
  pyproject.toml
  requirements-dev.txt
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/async_client.py
  src/fetchtastic/download/async_core.py
  src/fetchtastic/download/async_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/github_source.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/setup_config.py
  tests/async_test_utils.py
  tests/conftest.py
  tests/test_async_client.py
  tests/test_async_core.py
  tests/test_async_downloader.py
  tests/test_base_downloader.py
  tests/test_cli_extended.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_files_operations.py
  tests/test_github_source.py
  tests/test_log_utils.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface, Configuration

docs: update README with new features and testing docs
  README.md
Due: none

feat(download): add MeshtasticDesktopDownloader and desktop flow
  .trunk/trunk.yaml
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/__init__.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_desktop.py
  src/fetchtastic/setup_config.py
  tests/test_allow_env_token.py
  tests/test_android_downloader_comprehensive.py
  tests/test_channel_suffixes.py
  tests/test_cli_extended.py
  tests/test_cli_notifications.py
  tests/test_constants.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_migration_reporting.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

feat(download): add desktop releases support and manifest handling
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
  tests/test_download_integration.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads

refactor(apk): return APK asset names and add normalization
  src/fetchtastic/menu_apk.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_cli_extended.py
Due: User Interface, Configuration

feat(desktop): enable desktop downloads and CLI/UX integration
  pyproject.toml
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_desktop.py
  src/fetchtastic/setup_config.py
  tests/test_allow_env_token.py
  tests/test_cli_extended.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_menu_apk.py
  tests/test_menu_comprehensive.py
  tests/test_menu_desktop.py
  tests/test_setup_config.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

feat(core): enable desktop downloads and CLI/UX integration
  pyproject.toml
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_menu_desktop.py
Due: none

refactor(download): improve manifest handling and prerelease tracking
  .trunk/trunk.yaml
  tests/test_download_desktop.py
  tests/test_download_firmware.py
Due: none

test(setup_config): cover uncovered paths and extend desktop test coverage
  tests/test_cli.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_setup_config_uncovered.py
Due: none

chore(deps): bump aiohttp to >=3.13.3 and align tests
  requirements.txt
  tests/test_download_orchestrator.py
  tests/test_setup_config_uncovered.py
Due: none

refactor: unify download pathways and config handling
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_desktop.py
  src/fetchtastic/setup_config.py
  tests/test_download_android.py
  tests/test_menu_desktop.py
Due: Core Downloads, Configuration

test(tests): expand and align test coverage across modules
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_setup_config_uncovered.py
Due: Configuration

refactor(setup_config): implement backward-compatible desktop asset keys
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_desktop.py
  src/fetchtastic/setup_config.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_desktop.py
  tests/test_menu_desktop.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

Address code review feedback: docstring fixes, test cleanups, fixture deduplication, and patch corrections
  .coderabbit.yml
  src/fetchtastic/download/android.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads
