Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(downloader): extract remaining regex patterns to constants
  src/fetchtastic/downloader.py
Due: Core Downloads

test(downloader): add comprehensive test coverage for single-blob cache functions
  tests/test_single_blob_cache.py
Due: none

test(downloader): add downloader utility and error path tests
  tests/test_downloader_utilities.py
Due: none

test(downloader): remove test_downloader_utilities.py
  tests/test_downloader_utilities.py
Due: none

refactor(downloader): extract magic numbers to constants and improve code formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): extract default values to constants and improve code formatting
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

refactor(downloader): extract prerelease summary logic to helper function
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

refactor(config): remove unused default version and permission constants
  src/fetchtastic/constants.py
Due: Infrastructure

refactor(downloader): improve cache tracking logic and reformat code
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve prerelease tracking fallback logic and reformat code
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): extract prerelease constants and improve cache logic
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): extract display label logic and improve prerelease cache handling
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
  tests/test_single_blob_cache.py
Due: Core Downloads

refactor(downloader): improve cache handling and add rate-limit-aware commit detail fetching
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
  tests/test_prereleases.py
Due: Core Downloads, Infrastructure

test(downloader): improve test coverage and pagination mock handling
  tests/test_coverage_fix.py
  tests/test_token_warning_fix.py
Due: none

refactor(downloader): improve auth config and code formatting
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
  tests/test_prereleases.py
Due: Core Downloads

test(prerelease): enhance test naming and assertion consistency
  tests/test_prereleases.py
Due: none

test: cover newest uncertain commits and clarify history docs
  src/fetchtastic/downloader.py
  tests/test_coverage_fix.py
  tests/test_prereleases.py
  tests/test_token_warning_fix.py
Due: Core Downloads

docs(downloader): update docstring return types and improve code formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

perf(downloader): parallelize prerelease commit detail fetching
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_prereleases.py
  tests/test_utils.py
Due: Core Downloads, Infrastructure

feat: add Python 3.13 support and bump version to 0.8.4
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/menu_repo.py
  tests/test_coverage_fix.py
  tests/test_security_paths.py
  tests/test_token_warning_fix.py
Due: User Interface

refactor(downloader): improve commit processing logic and code formatting
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): improve commit processing logic for prerelease history
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): optimize uncertain commit processing with concurrent futures
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): optimize uncertain commit processing with incremental futures submission
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): optimize futures processing to handle dynamic submission
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): fix max commits check logic and simplify exception handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify futures processing in uncertain commit enrichment
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve cache refresh logic and code formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): optimize uncertain commit processing with incremental submission
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): optimize attempt_cap calculation and simplify futures processing
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify commit processing by removing async futures pattern
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): optimize commit processing with incremental submission and futures management
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

fix(downloader): handle Python version compatibility for executor shutdown
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): optimize commit processing with ordered result handling and improved futures management
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): extract attempt multiplier and add rate limit safety
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

fix(downloader): simplify directory change detection logic
  src/fetchtastic/downloader.py
Due: Core Downloads

test(tests): add edge case tests for renamed files and directory info extraction
  tests/test_prereleases.py
Due: none

test(prereleases): add ThreadPoolExecutor edge case and error handling tests
  tests/test_prereleases.py
Due: none

test(downloader): add cache logging and expiry test scenarios
  tests/test_prereleases.py
Due: none

test(prereleases): remove ThreadPoolExecutor edge case and error handling tests
  tests/test_prereleases.py
Due: none
