Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

test(config): migrate android and desktop references to app
  tests/test_automation_config.py
  tests/test_cli.py
  tests/test_cli_additional.py
  tests/test_setup_config.py
  tests/test_setup_config_patch_coverage.py
  tests/test_setup_config_uncovered.py
Due: none

refactor(test-config): update fdroid apk asset validation
  tests/test_setup_config.py
Due: none

fix(config): ensure default asset selection when app is specified
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(download): unify android and desktop into client app pipeline
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_client_app_config.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads, Configuration

chore(download): cleanup legacy android/desktop distinctions
  README.md
  docs/usage-guide.md
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/menu_app.py
  src/fetchtastic/setup_config.py
  tests/test_channel_suffixes.py
  tests/test_client_app_downloader.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_comprehensive.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads, Configuration

refactor(download): standardize version tracking and asset configuration
  src/fetchtastic/download/android.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_android.py
  tests/test_download_desktop.py
Due: Core Downloads, Configuration

fix(download): improve prerelease handling and client app validation
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_app.py
  src/fetchtastic/setup_config.py
  tests/test_client_app_downloader.py
  tests/test_orchestrator_retry.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads, Configuration

refactor(config): unify client app prerelease and validation logic
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/orchestrator.py
  tests/test_android_downloader_comprehensive.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads

fix(download): refine client app asset selection and validation
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_client_app_downloader.py
  tests/test_desktop_asset_patterns.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads, Configuration

refactor(download): unify client app statistics and asset filtering
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_orchestrator.py
  tests/test_setup_config.py
Due: Core Downloads

refactor(download): extract asset exclusion logic and clean up orchestrator
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/release_history.py
  src/fetchtastic/menu_app.py
  src/fetchtastic/setup_config.py
  tests/test_client_app_downloader.py
  tests/test_download_firmware.py
  tests/test_orchestrator_comprehensive.py
  tests/test_orchestrator_retry.py
Due: Core Downloads, Configuration

docs: normalize capitalization of desktop installers and relocate note
  README.md
  docs/usage-guide.md
Due: none

refactor(config): remove redundant constant import in setup_config
  src/fetchtastic/setup_config.py
  tests/test_setup_config_uncovered.py
Due: Configuration

fix(download): improve path security and asset handling
  src/fetchtastic/download/base.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_app.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_config_coverage_fixes.py
  tests/test_config_simple.py
  tests/test_constants.py
  tests/test_orchestrator_comprehensive.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_first_run.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

refactor(config): streamline client app asset classification and prerelease logic
  docs/usage-guide.md
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_client_app_config.py
  tests/test_client_app_downloader.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_comprehensive.py
  tests/test_setup_config_first_run.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads, Configuration

chore(config): align apk save flag with client app settings
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(download): unify android and desktop into client app downloader
  docs/usage-guide.md
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_app.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cli.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
Due: Core Downloads, Configuration

fix(download): refine client app configuration and security checks
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/desktop.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cli.py
  tests/test_client_app_config.py
  tests/test_client_app_downloader.py
  tests/test_download_android.py
  tests/test_download_cli_integration.py
  tests/test_download_desktop.py
  tests/test_migration_reporting.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads, Configuration

test(config): update expected prerelease flag in setup tests
  tests/test_setup_config_uncovered.py
Due: none

chore(download): add debug logging for unclassified assets and refine orchestrator tests
  src/fetchtastic/download/cli_integration.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(config): refine client app asset normalization and validation
  docs/usage-guide.md
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli.py
  tests/test_client_app_config.py
  tests/test_client_app_downloader.py
  tests/test_download_cli_integration.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads

refactor(config): optimize selection key detection in client app normalization
  src/fetchtastic/client_app_config.py
  tests/test_client_app_config.py
Due: none

refactor(download): validate release assets before processing
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(download): strengthen directory validation for client apps
  src/fetchtastic/download/client_app.py
  tests/test_client_app_downloader.py
Due: Core Downloads

feat(download): implement beta retention and refine client app logic
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads, Configuration

chore: update python requirements and refine config handling
  README.md
  src/fetchtastic/constants.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_download_orchestrator.py
  tests/test_migration_reporting.py
  tests/test_setup_config.py
  tests/test_setup_config_first_run.py
  tests/test_setup_config_uncovered.py
Due: Configuration, Infrastructure

feat(download): improve prerelease tracking and asset pattern matching
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/utils.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_orchestrator.py
  tests/test_prerelease_tracking_cleanup.py
  tests/test_unified_storage_cleanup.py
Due: Core Downloads

fix(download): prevent premature deletion of current prerelease metadata
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/setup_config.py
  tests/test_prerelease_tracking_cleanup.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration

refactor(download): refine client app config normalization and fix timezone handling
  docs/usage-guide.md
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_cli.py
  tests/test_client_app_config.py
  tests/test_client_app_downloader.py
  tests/test_desktop_asset_patterns.py
  tests/test_download_android.py
  tests/test_download_desktop.py
  tests/test_download_orchestrator.py
  tests/test_prerelease_tracking_cleanup.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads

test(config): update expected value for apk prerelease check in setup tests
  tests/test_setup_config_extended.py
Due: none

fix(config): force disable legacy save flags when no assets are selected
  src/fetchtastic/client_app_config.py
  tests/test_client_app_config.py
  tests/test_download_android.py
  tests/test_download_desktop.py
  tests/test_download_orchestrator.py
  tests/test_setup_config_uncovered.py
Due: none

chore: refine terminology and fix subprocess call for clipboard
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
Due: Core Downloads, Configuration

feat(download): isolate prerelease tracking files into subdirectory
  src/fetchtastic/download/prerelease_history.py
  tests/test_prerelease_tracking_cleanup.py
Due: Core Downloads

fix(download): handle FileNotFoundError when creating tracking subdirectory
  src/fetchtastic/download/prerelease_history.py
  tests/test_config_coverage_fixes.py
  tests/test_config_simple.py
  tests/test_setup_config_extended.py
Due: Core Downloads

test: expand test coverage for core application modules
  tests/test_client_app_coverage.py
  tests/test_menu_app_coverage.py
  tests/test_orchestrator_line_coverage.py
  tests/test_prerelease_history_coverage.py
  tests/test_setup_config_line_coverage.py
Due: none

style(tests): clean up unused imports and variables in coverage tests
  tests/test_client_app_coverage.py
  tests/test_menu_app_coverage.py
  tests/test_orchestrator_line_coverage.py
  tests/test_prerelease_history_coverage.py
  tests/test_setup_config_line_coverage.py
Due: none

refactor(download): refine prerelease tracking file filtering and cleanup
  src/fetchtastic/download/prerelease_history.py
  tests/test_prerelease_tracking_cleanup.py
Due: Core Downloads

test(download): update prerelease history test data and cases
  tests/test_prerelease_history_coverage.py
Due: none

refactor(download): simplify prerelease backfill logic in orchestrator
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

chore(utils): add dot-separated variant to meshtastic desktop patterns
  src/fetchtastic/utils.py
Due: Core Downloads
