Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

test(cli): wrap CLI main() calls with pytest.raises(SystemExit)
  tests/test_cli.py
Due: none

refactor(downloader): enhance version normalization and atomic file writing flexibility
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  tests/test_device_hardware_simple.py
Due: Core Downloads, User Interface

refactor(downloader): enhance version normalization with dash-separated hash suffix support
  src/fetchtastic/downloader.py
  tests/test_cli_extended.py
  tests/test_download_utilities.py
Due: Core Downloads

refactor(downloader): return version objects instead of strings from _normalize_version
  src/fetchtastic/downloader.py
  tests/test_download_utilities.py
Due: Core Downloads

test(refactor): remove redundant test files and simplify CLI test patterns
  tests/test_api_tracking.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_cli_focused.py
  tests/test_device_hardware_simple.py
  tests/test_download_utilities.py
  tests/test_download_utilities_focused.py
  tests/test_setup_config_simple.py
Due: none

refactor(api): enhance API request logging and clean up tracking utilities
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

refactor: consolidate imports and clean up code organization
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

refactor(api): move API tracking to finally block and add release_type parameter
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

json:api/validation): enhance data integrity with defensive validation and comprehensive test suite
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  tests/test_download_core.py
  tests/test_utils.py
  tests/test_versions.py
Due: Core Downloads, User Interface

test(menu): add comprehensive error handling and debugging tests
  tests/test_menu_apk.py
  tests/test_menu_firmware.py
  tests/test_menu_repo.py
Due: none

build(deps): specify minimum urllib3 version as 2.0
  setup.cfg
Due: none

fix(menu): fix apk extension matching to be case-insensitive
  src/fetchtastic/menu_apk.py
  tests/test_menu_apk.py
Due: User Interface

refactor(downloader): improve version sorting with numeric tuple fallback
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  tests/test_download_core.py
  tests/test_versions.py
Due: Core Downloads, User Interface

refactor(clean): improve selectivity of clean operation to only remove managed directories and files
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  tests/test_cli.py
Due: User Interface, Infrastructure

test: enhance test coverage for clean operation and menu logging
  tests/test_cli.py
  tests/test_menu_apk.py
  tests/test_menu_firmware.py
Due: none

refactor(cli): improve selectivity of clean operation to only remove managed directories and files
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/menu_apk.py
  tests/test_menu_apk.py
  tests/test_menu_firmware.py
  tests/test_menu_repo.py
Due: User Interface, Infrastructure

refactor(constants): extract hardcoded clean operation messages to constants
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
Due: User Interface, Infrastructure

test(refactor): refactor tests to use centralized API requests and add edge case tests
  tests/test_cli.py
  tests/test_menu_apk.py
  tests/test_menu_firmware.py
  tests/test_menu_repo.py
Due: none

refactor(downloader,cli,constants): improve variable usage and add progress logging for GitHub API requests
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, User Interface, Infrastructure

feat(downloader): add prerelease tracking support and enhanced rate limit logging
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_coverage_fix.py
  tests/test_token_warning_fix.py
  tests/test_utils.py
Due: Core Downloads

refactor(cli,constants,downloader): improve error messaging and add download fallback logic
  src/fetchtastic/cli.py
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_cli.py
Due: Core Downloads, User Interface, Infrastructure

refactor(cli,downloader,tests): improve code organization and symlink handling
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  tests/test_cli.py
  tests/test_menu_repo.py
Due: Core Downloads, User Interface

test(tests): add security comments and improve error message assertions
  tests/test_cli.py
  tests/test_menu_repo.py
Due: none

refactor(cli,downloader): extract duplicate file removal logic and improve logging
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
Due: Core Downloads, User Interface

refactor(cli,downloader): replace print statements with structured logging
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
Due: Core Downloads, User Interface

refactor(downloader): make cache statistics conditional in log message
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): move API summary formatting to helper function
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  tests/test_utils.py
Due: Core Downloads, User Interface

fix(menu): add safety check for non-list API responses
  src/fetchtastic/menu_repo.py
Due: User Interface

style: remove trailing whitespace and add missing newlines
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
  tests/test_cli.py
  tests/test_coverage_fix.py
  tests/test_download_core.py
  tests/test_menu_apk.py
  tests/test_versions.py
Due: Core Downloads, User Interface

refactor(test): simplify future time calculation in test_format_api_summary
  tests/test_utils.py
Due: none

refactor(test): simplify time calculation in test_format_api_summary
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads, User Interface

test(refactor): simplify test functions and remove unnecessary mocks
  tests/test_cli.py
  tests/test_download_core.py
  tests/test_utils.py
Due: none

fix(downloader): remove error cache marking to allow retries
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(config): use constant for apk extension instead of hardcoded string
  src/fetchtastic/menu_apk.py
Due: User Interface

refactor(downloader): add total cache lookups to summary logging
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): simplify API summary logging messages
  src/fetchtastic/downloader.py
Due: Core Downloads

feat(api): add cache miss tracking for API requests
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  tests/test_utils.py
Due: User Interface

refactor(downloader): hide cache stats when no cache hits occur
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

refactor(downloader): show cache statistics even when no cache hits occur
  src/fetchtastic/downloader.py
  tests/test_utils.py
Due: Core Downloads

refactor(api): remove cache miss tracking from API request functions
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
Due: User Interface
