Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

feat(download): add prerelease tracking management
  src/fetchtastic/download/orchestrator.py
Due: none

feat(download): add repository downloader integration
  src/fetchtastic/download/orchestrator.py
  test_prerelease_functionality.py
  test_repository_integration.py
Due: none

docs(plan): reflect completion of critical P1 milestones and prioritize P2 tasks
  docs/refactor-implementation-plan.md
Due: none

feat(download): implement enhanced retry logic with exponential backoff and metadata tracking
  docs/refactor-implementation-plan.md
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/orchestrator.py
Due: none

feat(download): enhance download results with metadata and retry support
  docs/refactor-remaining-work.md
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  tests/test_repo_downloader.py
Due: none

feat(download): implement real retry logic using stored metadata
  docs/refactor-remaining-work.md
  src/fetchtastic/download/orchestrator.py
  tests/test_orchestrator_retry.py
Due: none

refactor(download): unify prerelease tracking and cache management
  docs/refactor-remaining-work.md
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/version.py
Due: none

feat(download): implement release data caching for android and firmware
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
Due: none

feat(download): enhance prerelease filtering and migration metadata
  src/fetchtastic/download/android.py
  src/fetchtastic/download/migration.py
Due: none

feat(download): enhance failure logging and commit history caching
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/migration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
Due: none

docs: add refactor parity audit document
  docs/refactor-parity-audit.md
Due: none

feat(download): enhance android and firmware release handling
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
Due: none

feat(download): enhance asset validation and prerelease filtering
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
Due: none

feat(download): enhance prerelease filtering with repo directory validation
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
Due: none

feat(download): enhance prerelease handling and API caching
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/migration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

feat(download): enhance prerelease handling and API caching
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/version.py
  src/fetchtastic/downloaders/__init__.py
  src/fetchtastic/downloaders/core.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_download_core.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

docs: add refactor handoff document and update parity tracking
  docs/refactor-handoff.md
  docs/refactor-implementation-plan.md
  docs/refactor-parity-audit.md
  docs/refactor-remaining-work.md
Due: none

fix(parity): prerelease caching, extraction skips, cli reporting
  docs/refactor-handoff.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/migration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/menu_repo.py
  tests/test_cache_repo_directories.py
  tests/test_download_core.py
  tests/test_migration_reporting.py
  tests/test_orchestrator_retry.py
Due: User Interface

docs: update remaining-work status
  docs/refactor-remaining-work.md
Due: none

refactor(cache): unify commit timestamp cache expiry handling
  src/fetchtastic/download/cache.py
Due: none

feat(download): implement legacy downloader with comprehensive parity fixes
  docs/refactor-parity-audit.md
  legacy_downloader.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/utils.py
Due: Core Downloads

fix(download): correct prerelease base version selection
  docs/refactor-parity-audit.md
  src/fetchtastic/download/orchestrator.py
Due: none

refactor(download): improve error handling and logging consistency
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
Due: none

refactor(download): remove unused imports
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
Due: none

refactor(download): improve type safety and path handling
  src/fetchtastic/download/interfaces.py
  src/fetchtastic/download/migration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
Due: none

refactor(download): improve path handling and remove unused code
  src/fetchtastic/download/version.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  test_prerelease_functionality.py
  test_repository_integration.py
  tests/test_repo_downloader.py
Due: Core Downloads, User Interface

refactor(download): complete P1 functional parity and improve code quality
  docs/refactor-implementation-plan.md
  docs/refactor-parity-audit.md
  docs/refactoring-plan-downloader.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/migration.py
  src/fetchtastic/download/version.py
  src/fetchtastic/downloaders/core.py
  src/fetchtastic/utils.py
  test_prerelease_functionality.py
  test_repository_integration.py
Due: Core Downloads, User Interface

refactor(download): improve code readability and type safety
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/version.py
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(download): improve type safety and path handling
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/migration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

test(download): update test assertions and refactor version extraction
  tests/test_download_core.py
  tests/test_orchestrator_retry.py
Due: none

refactor(download): simplify failure handling and type mapping
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/migration.py
Due: none

refactor(download): safeguard against None file_type in failure processing
  src/fetchtastic/download/migration.py
Due: none

refactor(download): extract prerelease history management into dedicated module
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/download/version.py
Due: User Interface

refactor(download): enhance version.py with legacy compatibility and prerelease handling
  docs/refactor-implementation-plan.md
  docs/refactor-remaining-work.md
  docs/version-refactoring-summary.md
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  src/fetchtastic/repo_downloader.py
Due: Core Downloads

refactor(download): improve path handling and error management
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
Due: none

refactor(download): update test migration plan and enhance path validation
  docs/refactor-remaining-work.md
  docs/test-migration-plan.md
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/version.py
  src/fetchtastic/repo_downloader.py
Due: Core Downloads

fix(utils): add empty pattern check in matches_extract_patterns
  src/fetchtastic/utils.py
  test_prerelease_functionality.py
  test_repository_integration.py
  tests/test_repo_downloader.py
Due: Core Downloads

refactor(download): remove legacy downloader and improve version handling
  legacy_downloader.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/version.py
  tests/test_download_core.py
Due: none

test(download): add comprehensive unit tests for download modules
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
Due: none

test(download): update orchestrator tests to use mock downloaders
  tests/test_download_orchestrator.py
Due: none
