Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/downloader.py
        - src/fetchtastic/repo_downloader.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 80%
          threshold: 3%
        - type: patch
          target: 80%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 95%
          threshold: 2%
        - type: patch
          target: 95%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

Expand configuration component test coverage significantly
  coverage.xml
  tests/test_setup_config.py
Due: none

Fix all test warnings and failures systematically
  coverage.xml
  pytest.ini
  tests/test_setup_config.py
Due: none

Fix all trunk linting issues and upgrade tools
  .trunk/trunk.yaml
  coverage.xml
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_constants.py
  tests/test_menu_apk.py
  tests/test_menu_firmware.py
  tests/test_menu_repo.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: Core Downloads, Configuration

Fix security warnings in test files
  coverage.xml
  src/fetchtastic/cli.py
  tests/test_cli.py
  tests/test_downloader.py
  tests/test_setup_config.py
Due: User Interface

Dramatically improve repo_downloader.py test coverage to 94%
  coverage.xml
  tests/test_repo_downloader.py
Due: none

Fix linting issues in repo_downloader tests
  tests/test_repo_downloader.py
Due: none

Lower codecov targets to 60% and expand UI test coverage
  codecov.yml
  coverage.xml
  tests/test_cli.py
  tests/test_menu_repo.py
Due: none

Address review comments: standardize patterns, fix tests, consolidate config
  .coveragerc
  pyproject.toml
  pytest.ini
  src/fetchtastic/menu_apk.py
  tests/test_downloader.py
  tests/test_menu_apk.py
Due: User Interface

Fix test_run_menu mock to return correct dict format
  tests/test_menu_apk.py
Due: none

Address CodeRabbit review comments: fix critical bugs and improve code quality
  .gitignore
  requirements.txt
  src/fetchtastic/downloader.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  tests/test_menu_repo.py
Due: Core Downloads, Configuration

Fix test_select_assets to expect dict format
  tests/test_menu_apk.py
Due: none

Restore and improve help functionality with comprehensive tests
  src/fetchtastic/cli.py
  tests/test_cli.py
Due: User Interface

Address CodeRabbit review comments: fix critical bugs and improve code quality
  pyproject.toml
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, User Interface, Configuration

Fix test for dynamic help command lists
  tests/test_cli.py
Due: none

Address high/medium priority CodeRabbit review issues
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  tests/test_cli.py
Due: Core Downloads, User Interface

Remove unused argparse import from test file
  tests/test_cli.py
Due: none

Address Gemini review: Consolidate extract_base_name functions
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/utils.py
  tests/test_downloader.py
Due: Core Downloads, User Interface

Remove unused re imports from menu modules
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
Due: User Interface

Address CodeRabbit comprehensive review: Fix version comparison and regex pattern
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

Address additional CodeRabbit review comments: Improve robustness and consistency
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
Due: Core Downloads

Fix regex pattern in version comparison: Remove double backslashes
  src/fetchtastic/downloader.py
Due: Core Downloads

Address Gemini review issues: Fix extract_base_name and improve CLI help
  src/fetchtastic/cli.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

Address additional review comments: Fix prerelease filtering and improve robustness
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix security issue: Replace bare except with specific exceptions
  src/fetchtastic/downloader.py
Due: Core Downloads

Address latest CodeRabbit review comments: Fix resource handling and improve CLI help
  codecov.yml
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  tests/test_cli.py
Due: Core Downloads, User Interface

Address additional CodeRabbit review comments: Enhance retry policy and prerelease handling
  src/fetchtastic/cli.py
  src/fetchtastic/utils.py
Due: Core Downloads, User Interface

Address final CodeRabbit review comments: Improve UX, compatibility, and performance
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_cli.py
Due: Core Downloads, User Interface

Fix lint issue: Remove duplicate os import
  src/fetchtastic/downloader.py
Due: Core Downloads

Add comprehensive tests for new functionality to improve patch coverage
  tests/test_downloader.py
  tests/test_utils.py
Due: none

Fix security warning: Replace try/except/pass with proper exception handling
  tests/test_utils.py
Due: none

Improve show_help function maintainability by removing hardcoded command lists
  src/fetchtastic/cli.py
  tests/test_cli.py
Due: User Interface

Remove redundant shutil import inside function
  src/fetchtastic/downloader.py
Due: Core Downloads

Address Gemini code review feedback with robustness improvements
  src/fetchtastic/cli.py
  tests/test_cli.py
Due: User Interface

Improve test coverage and address Gemini review feedback
  tests/test_downloader.py
Due: none

Address additional Gemini code review feedback
  src/fetchtastic/downloader.py
Due: Core Downloads

Remove unused imports after refactoring prerelease downloads
  src/fetchtastic/downloader.py
Due: Core Downloads

Address final Gemini review feedback
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

Address all 11 Gemini nitpick comments with comprehensive improvements
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Fix import order for compiled regex
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix test for removed PRERELEASE_CHUNK_SIZE constant
  tests/test_constants_module.py
Due: none
