Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

refactor(download, config): improve error handling and pattern matching logic
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/setup_config.py
  tests/test_download_orchestrator.py
Due: Core Downloads, Configuration

test(cli): refactor test assertions and logging
  tests/test_cli.py
  tests/test_config_coverage_fixes.py
  tests/test_config_simple.py
  tests/test_setup_config_extended.py
Due: none

conventional-commit refactor(download)!: standardize method naming and streamline asset handling
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_config_simple.py
  tests/test_download_cli_integration.py
Due: Core Downloads

refactor(download)!: remove legacy release filtering and improve error handling
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  tests/test_cli.py
  tests/test_download_cli_integration.py
Due: Core Downloads

test(download): remove redundant release filtering tests
  tests/test_android_downloader_comprehensive.py
  tests/test_download_orchestrator.py
  tests/test_orchestrator_comprehensive.py
Due: none

refactor(config): remove redundant crontab availability checks
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(download)!: standardize file operations and improve security
  .bandit
  src/fetchtastic/cli.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cli.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads, User Interface, Configuration

refactor(download): extract failure result creation into reusable method
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

refactor(download): improve cleanup reporting and pattern validation
  src/fetchtastic/cli.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/version.py
  tests/test_android_downloader_comprehensive.py
  tests/test_cli.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads, User Interface

refactor(cli): extract update reminder logic into reusable function
  src/fetchtastic/cli.py
  src/fetchtastic/download/version.py
  tests/test_cli.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads, User Interface

refactor(version): simplify version increment logic and improve error handling
  src/fetchtastic/download/version.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_orchestrator_comprehensive.py
  tests/test_version_management.py
Due: Core Downloads, Configuration

refactor(config): optimize cron availability check
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): move crontab availability check to module level
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(version): change return type from empty string to None for prerelease calculation
  src/fetchtastic/download/version.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_download_core.py
  tests/test_orchestrator_comprehensive.py
  tests/test_version_management.py
  tests/test_versions.py
Due: Core Downloads, Configuration

refactor(cli): remove redundant cron job removal message
  src/fetchtastic/cli.py
Due: User Interface

refactor(cache): extract generic github data fetching logic
  src/fetchtastic/cli.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/version.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads, User Interface, Configuration

test(orchestrator): enhance download result validation and statistics
  tests/test_orchestrator_comprehensive.py
Due: none

refactor: streamline cache operations and test infrastructure
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/version.py
  src/fetchtastic/setup_config.py
  tests/test_orchestrator_comprehensive.py
Due: Core Downloads, Configuration

refactor(config): optimize cron job checking logic
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): simplify cron job checking logic
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(config): improve cron job error handling and logging
  src/fetchtastic/setup_config.py
Due: Configuration

test(config): add timeout to crontab subprocess calls
  tests/test_cli.py
  tests/test_cli_extended.py
Due: none

refactor(config): simplify cron job handling and test assertions
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_cli_extended.py
Due: Configuration

refactor(config): pass crontab path explicitly to cron functions
  src/fetchtastic/setup_config.py
Due: Configuration

fix(config): handle non-string crontab path and improve cron job detection
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(utils): extract pattern matching logic into separate functions
  src/fetchtastic/utils.py
Due: Core Downloads

refactor(cache)!: introduce dedicated cache management system
  README.md
  docs/usage-guide.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  tests/test_cli.py
  tests/test_cli_additional.py
  tests/test_download_cli_integration.py
Due: Core Downloads, User Interface

refactor(config): extract config loading and migration logic into reusable function
  src/fetchtastic/cli.py
  tests/test_cli.py
Due: User Interface

fix(config): handle config loading errors in download command
  src/fetchtastic/cli.py
Due: User Interface

refactor(config)!: consolidate cache update logic and improve error handling
  README.md
  docs/usage-guide.md
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
  tests/test_cli_additional.py
Due: Core Downloads, User Interface

refactor(config): consolidate config loading and migration logic
  src/fetchtastic/cli.py
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads, User Interface

chore(deps): remove unused yaml import
  src/fetchtastic/cli.py
Due: User Interface

fix(config): handle config loading errors in cli module
  src/fetchtastic/cli.py
Due: User Interface

refactor(config): extract command preparation logic into reusable function
  src/fetchtastic/cli.py
Due: User Interface

refactor(cli): extract download logic into reusable function
  src/fetchtastic/cli.py
Due: User Interface

refactor(cli): improve windows module availability check
  src/fetchtastic/cli.py
Due: User Interface

refactor(cli): add type hints to function signatures
  src/fetchtastic/cli.py
Due: User Interface

refactor(cli): remove config auto-loading and require explicit config
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads

refactor(cli): require explicit config and improve cache update logic
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads
