Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

test(downloader): add unit tests for core downloader utilities
  tests/test_download_core.py
Due: none

refactor(downloader): improve exception handling and SHA robustness
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(prereleases): simplify cache handling and improve code formatting
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): improve prerelease history merge logic
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): add skip_history_lookup parameter to improve fallback logic
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(test): simplify prerelease history test
  tests/test_prereleases.py
Due: none

refactor(downloader): improve metadata merge logic and exception handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve prerelease history merge logic and eliminate code duplication
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(test): replace explicit parameters with **kwargs in _dir_aware_contents
  tests/test_prereleases.py
Due: none

refactor(downloader): improve commit history refresh logic
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve datetime parsing, path validation, and history merge logic
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(downloader): improve error handling for network failures
  src/fetchtastic/downloader.py
Due: Core Downloads

prerelease commit history cache work / add pattern validation to verify extraction matching (#118)
  pyproject.toml
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  tests/test_download_core.py
  tests/test_extraction.py
  tests/test_prereleases.py
  tests/test_security_paths.py
Due: Core Downloads, User Interface, Infrastructure

fix(downloader): improve version parsing and firmware tag handling
  src/fetchtastic/downloader.py
Due: Core Downloads

test(downloader): add firmware release persistence and cleanup tests
  tests/test_download_core.py
Due: none

refactor(downloader): simplify release tuple return logic and add edge case tests
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

feat(downloader): add assume_latest_is_official parameter for enhanced prerelease cleanup
  src/fetchtastic/downloader.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

refactor: remove legacy .txt file support and migrate to JSON-only tracking
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_cli.py
  tests/test_constants_module.py
  tests/test_download_core.py
Due: Core Downloads, Infrastructure

chore(version): bump version to 0.8.8
  pyproject.toml
Due: none

chore(deps): update linting and security tool versions
  .trunk/trunk.yaml
  tests/test_prereleases.py
Due: none

refactor(downloader): improve history entry display formatting
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): improve error handling and variable naming
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
Due: Core Downloads, Configuration

refactor(downloader): improve cleanup functionality and variable naming
  src/fetchtastic/downloader.py
  tests/test_cli.py
  tests/test_download_core.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): simplify commit resolution logic and improve formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

test(downloader, utils): add comprehensive test coverage for error handling and API tracking
  tests/test_download_core.py
  tests/test_utils.py
Due: none

feat(downloader, utils): add version tracking when no matching assets and API request tracking
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_cli.py
  tests/test_download_core.py
Due: Core Downloads

fix(downloader): correct version tracking when no assets match patterns
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_download_core.py
Due: Core Downloads, Configuration

Analyzing the staged changes, I can see this is primarily a refactoring effort focused on code quality improvements and test cleanup. The changes include:
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_download_core.py
  tests/test_prereleases.py
  tests/test_utils.py
Due: Core Downloads, Configuration

fix(downloader): handle non-standard version formats in prerelease cleanup
  src/fetchtastic/downloader.py
Due: Core Downloads

fix(downloader): return longest version tuple when multiple formats available
  src/fetchtastic/downloader.py
Due: Core Downloads

fix(downloader): improve APK prerelease regex handling and fix None checks
  src/fetchtastic/downloader.py
Due: Core Downloads

test(prereleases): add comprehensive tests for APK and firmware prerelease cleanup
  pyproject.toml
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): clean up code formatting and remove unused function call
  src/fetchtastic/downloader.py
Due: Core Downloads

test(prereleases): add comprehensive tests for APK and firmware prerelease cleanup
  tests/test_prereleases.py
Due: none

test(prereleases): add comprehensive tests for APK and firmware prerelease handling
  tests/test_prereleases.py
Due: none

fix(downloader): simplify APK prerelease cleanup logic and fix regressions
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

refactor(downloader): remove unused APK prerelease base version regex constant
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

test(prereleases): remove obsolete regex constant tests and simplify test code
  tests/test_prereleases.py
Due: none

refactor(downloader): streamline APK prerelease cleanup logic
  src/fetchtastic/downloader.py
Due: Core Downloads

Path conditions:
  Core Downloads: any of: src/fetchtastic/downloader.py, src/fetchtastic/repo_downloader.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
