Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

Fix duplicate logging message in repo browser
  src/fetchtastic/menu_repo.py
Due: User Interface

Bump version, trunk fixes
  setup.cfg
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/log_utils.py
  src/fetchtastic/menu_apk.py
  src/fetchtastic/menu_firmware.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_constants_module.py
  tests/test_downloader.py
  tests/test_utils.py
Due: Core Downloads, User Interface, Configuration, Infrastructure

setup: surface concise pattern selection tips during asset selection
  src/fetchtastic/setup_config.py
Due: Configuration

tests: add legacy normalizer and log level formatter tests; all green
  tests/test_downloader.py
  tests/test_log_utils_level.py
  tests/test_utils.py
Due: none

feat(extraction): align zip extraction matching with legacy-aware selection; suppress misleading up-to-date log; gate setup tips for firmware; docs touch-ups
  docs/usage-guide.md
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

tests(core): cover extraction matcher and no-up-to-date log; fix test artifact; all tests passing
  tests/test_downloader.py
Due: none

chore(tests): minor tidy for stability (no functional change)
  tests/test_downloader.py
Due: none

ci(codecov): set default patch coverage target to 60%
  codecov.yml
Due: none

docs/tests/ci: docstring clarifications, test adjustments, workflow fix for Codecov inputs
  .github/workflows/test-and-coverage.yml
  .trunk/trunk.yaml
  src/fetchtastic/downloader.py
  tests/test_downloader.py
  tests/test_log_utils_level.py
  tests/test_utils.py
Due: Core Downloads

Update src/fetchtastic/downloader.py
  src/fetchtastic/downloader.py
Due: Core Downloads

feat(logging): add progress breadcrumbs during release scans; tests updated; bump to 0.6.5
  setup.cfg
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

fix(downloader): align docstrings, Wi‑Fi-skip newer-tag logic; mark newest no-match as processed; adjust tests; push
  src/fetchtastic/downloader.py
  tests/test_downloader.py
  tests/test_utils.py
Due: Core Downloads

feat(prereleases): add uniform scan breadcrumbs; all tests pass
  src/fetchtastic/downloader.py
Due: Core Downloads

Update src/fetchtastic/utils.py
  src/fetchtastic/utils.py
Due: Core Downloads

Update tests/test_downloader.py
  tests/test_downloader.py
Due: none

tests: stabilize no-match log assertion using stdout normalization; add prerelease download call-count assertion; doc/nit fixes
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Changes
  src/fetchtastic/downloader.py
  tests/test_utils.py
Due: Core Downloads

Changes
  src/fetchtastic/downloader.py
Due: Core Downloads

.
  src/fetchtastic/downloader.py
  tests/test_utils.py
Due: Core Downloads

refactor(downloader): extract newer-tags logic into helper and simplify index lookup; tests: remove duplicate urllib3 v1 assertions
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_log_utils_level.py
Due: Core Downloads

Address feedback
  src/fetchtastic/downloader.py
Due: Core Downloads

extract_files: treat empty pattern list as no-op; check_extraction_needed mirrors behavior. Update docstrings. Add test to ensure no extraction when EXTRACT_PATTERNS is empty with AUTO_EXTRACT.
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Refactor: use Pythonic empty-list checks (if not patterns) in extract_files and check_extraction_needed; simplify latest-tag update condition to if idx == 1.
  src/fetchtastic/downloader.py
Due: Core Downloads

Fix indentation and formatting in extract_files after preserving directory structure.
  src/fetchtastic/downloader.py
  tests/test_downloader.py
Due: Core Downloads

Add test: check_extraction_needed respects nested archive paths and empty-pattern no-op behavior.
  tests/test_downloader.py
Due: none

utils: remove stale .sha256 when clearing empty non-zip; manage Response explicitly and simplify session closing. tests: drop unused capsys fixture, rely on caplog for assertions.
  src/fetchtastic/utils.py
  tests/test_downloader.py
Due: Core Downloads

utils: also remove stale .sha256 when deleting corrupted or pre-check-failed ZIPs; ensure parent directory exists before writing temp file.
  src/fetchtastic/utils.py
Due: Core Downloads

utils: clarify session comment; add PID+timestamp to temp file to avoid collisions; add status= in urllib3 v1 Retry fallback for parity.
  src/fetchtastic/utils.py
Due: Core Downloads

tests: relax Windows temp file assertion to allow unique .tmp suffix; assert prefix and destination instead of exact temp path.
  tests/test_utils.py
Due: none

Trunk autofixes
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_downloader.py
  tests/test_log_utils_level.py
Due: Core Downloads, Configuration

Create .coderabbit.yml
  .coderabbit.yml
Due: none

Update .coderabbit.yml
  .coderabbit.yml
Due: none

Improve release logs and add setup section selection
  src/fetchtastic/cli.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_cli.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: Core Downloads, User Interface, Configuration

Fix CLI argument parsing for setup sections
  src/fetchtastic/cli.py
Due: User Interface

Add test for invalid positional sections validation
  tests/test_cli.py
Due: none

Improve log_utils test coverage to 100%
  tests/test_log_utils.py
Due: none

Address code review feedback and improve CLI validation
  src/fetchtastic/cli.py
  src/fetchtastic/utils.py
  tests/test_cli.py
Due: Core Downloads, User Interface

Improve asset matching heuristic for better compatibility
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

Add comprehensive tests for setup section selection functionality
  tests/test_setup_config.py
Due: none

Path conditions:
  Core Downloads: any of: src/fetchtastic/downloader.py, src/fetchtastic/repo_downloader.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
