Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

docs: add configuration reference and update documentation links
  README.md
  docs/configuration.md
  docs/usage-guide.md
Due: none

feat(download): implement chronological selection for firmware prereleases
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
Due: Core Downloads

refactor(download): harden prerelease directory validation and identification
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

chore(download): replace hardcoded revoked release string with constant
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads, Infrastructure

refactor(config): canonicalize download directory and refine prerelease sorting
  docs/configuration.md
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

fix(config): ensure BASE_DIR is always synced with DOWNLOAD_DIR
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(download): prioritize history-backed entries in prerelease selection
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

test(firmware): update prerelease selection test to match history-backed priority
  tests/test_download_firmware.py
Due: none

docs(config): clarify prerelease selection and update config mirroring
  docs/configuration.md
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

fix(config): expand user home directory in download path
  docs/configuration.md
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_setup_config.py
Due: Configuration

fix(download): prevent deleted prerelease directories from being selected
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
Due: Core Downloads, Configuration

refactor(download): exclude repo_scan entries from history-backed ranking
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

Add secure `latest` symlinks for completed downloads; apply several bugfixes (#208)
  README.md
  docs/configuration.md
  docs/usage-guide.md
  src/fetchtastic/constants.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  tests/test_client_app_coverage.py
  tests/test_download_firmware.py
  tests/test_download_orchestrator.py
  tests/test_latest_pointer.py
  tests/test_setup_config.py
  tests/test_setup_config_uncovered.py
Due: Core Downloads, Configuration, Infrastructure

build: bump version to 0.10.10
  pyproject.toml
Due: none

fix formatting
  README.md
Due: none

build(ci): update trunk configuration and ignore .omo directory
  .gitignore
  .trunk/trunk.yaml
Due: none

feat(download): implement automatic re-extraction of firmware assets
  .trunk/trunk.yaml
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

fix(download): handle string type for SELECTED_FIRMWARE_ASSETS
  src/fetchtastic/download/firmware.py
  tests/test_firmware_get_zips_extraction.py
  tests/test_orchestrator_reextraction.py
Due: Core Downloads

test(orchestrator): refactor firmware downloader mocks
  tests/test_orchestrator_reextraction.py
Due: none

Add firmware ZIP extraction re-checking for completed releases (#212)
  .gitignore
  .trunk/trunk.yaml
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_firmware_get_zips_extraction.py
  tests/test_orchestrator_reextraction.py
Due: Core Downloads

chore(version): bump version to 0.10.11
  pyproject.toml
Due: none

test: handle pytest 9 caplog handlers in log_utils tests
  .github/workflows/test-and-coverage.yml
  pyproject.toml
  requirements-dev.txt
  tests/test_log_utils.py
Due: none

test: address review feedback on log_utils handler filtering
  tests/test_log_utils.py
Due: none

Add Python 3.13/3.14 to CI matrix and upgrade pytest to 9.1.0 (#218)
  .github/workflows/test-and-coverage.yml
  pyproject.toml
  requirements-dev.txt
  tests/test_log_utils.py
Due: none

fix: expand default firmware extraction patterns
  docs/usage-guide.md
  src/fetchtastic/constants.py
  tests/test_default_extraction_patterns.py
Due: Infrastructure

test: address review feedback on factory_erase negative control
  tests/test_default_extraction_patterns.py
Due: none

test: lock production extraction path for new firmware patterns
  tests/test_default_extraction_patterns.py
Due: none

fix: Expand default firmware extraction patterns (#224)
  docs/usage-guide.md
  src/fetchtastic/constants.py
  tests/test_default_extraction_patterns.py
Due: Infrastructure

fix: skip extraction for archives with no matching members
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_files_operations.py
  tests/test_firmware_get_zips_extraction.py
Due: Core Downloads

test: tighten log assertions and align with project logger-patching style
  src/fetchtastic/download/files.py
  tests/test_download_orchestrator.py
  tests/test_files_operations.py
Due: Core Downloads

fix: skip latest-pointer replacement when symlink already points at target
  src/fetchtastic/download/latest_pointer.py
  tests/test_latest_pointer.py
Due: Core Downloads

test: lock full INFO-demotion contract for orchestrator completion lines
  tests/test_download_orchestrator.py
Due: none

fix: skip extraction for archives with no matching members (#225)
  src/fetchtastic/download/files.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/latest_pointer.py
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
  tests/test_files_operations.py
  tests/test_firmware_get_zips_extraction.py
  tests/test_latest_pointer.py
Due: Core Downloads

feat: add snapshot debug build constants and config normalization
  src/fetchtastic/client_app_config.py
  src/fetchtastic/constants.py
Due: Infrastructure

feat: add snapshot downloader methods to MeshtasticClientAppDownloader
  src/fetchtastic/download/client_app.py
Due: Core Downloads

feat: add snapshot debug build setup question
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
Due: Configuration

feat: wire snapshot flow into download pipeline and notifications
  src/fetchtastic/download/cli_integration.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/notifications.py
  tests/test_cli_notifications.py
Due: Core Downloads

test: add snapshot debug build test suite
  tests/test_snapshots.py
Due: none

fix: isolate snapshots from prerelease flow and harden downloader
  src/fetchtastic/constants.py
  src/fetchtastic/download/client_app.py
Due: Core Downloads, Infrastructure

fix: make snapshot tracking transactional and add retry/statistics support
  src/fetchtastic/download/orchestrator.py
Due: Core Downloads

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
