Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

fix(config): simplify directory existence check in cleanup
  src/fetchtastic/cli.py
Due: User Interface

fix(config): narrow exception handling to OSError in cleanup
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Configuration

fix(config): add type hints and error handling improvements
  src/fetchtastic/setup_config.py
Due: Configuration

fix(config): improve clipboard handling with fallback for older win32com versions
  src/fetchtastic/setup_config.py
Due: Configuration

fix(config): remove duplicate type ignore comment and improve error handling
  src/fetchtastic/setup_config.py
Due: Configuration

fix(firmware): include prerelease tags in cleanup retention logic
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

fix(firmware): treat no extraction matches as skipped rather than error
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

fix(firmware): treat GitHub prerelease flags as stable for firmware
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
  tests/test_firmware_downloader_comprehensive.py
Due: Core Downloads, Configuration

fix(firmware): include prerelease tags in cleanup retention logic
  src/fetchtastic/download/firmware.py
  src/fetchtastic/setup_config.py
  tests/test_download_firmware.py
Due: Core Downloads, Configuration

fix(cli): remove redundant directory existence check
  src/fetchtastic/cli.py
  src/fetchtastic/setup_config.py
Due: User Interface, Configuration

fix(config): remove redundant type ignore comments
  src/fetchtastic/setup_config.py
Due: Configuration

fix(config): improve error handling in version recording
  src/fetchtastic/setup_config.py
Due: Configuration

fix(config): improve error handling and remove redundant type ignores
  src/fetchtastic/setup_config.py
Due: Configuration

fix(config): improve error handling for package version detection
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(firmware): update cleanup logic to use release tags from API (#140)
  src/fetchtastic/cli.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/prerelease_history.py
  src/fetchtastic/download/repository.py
  src/fetchtastic/repo_downloader.py
  src/fetchtastic/setup_config.py
  tests/test_cli.py
  tests/test_cli_extended.py
  tests/test_download_android.py
  tests/test_download_firmware.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_repo_downloader.py
  tests/test_setup_config.py
Due: Core Downloads, User Interface, Configuration

refactor(hash): migrate from sidecar files to centralized cache storage
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_config_edge_cases.py
  tests/test_files_operations.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: Core Downloads, Configuration

Bump version
  pyproject.toml
Due: none

test: add comprehensive tests for file operations and utils
  tests/test_files_operations.py
  tests/test_utils.py
Due: none

fix(utils): skip removal of orphaned hash sidecar files
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

test(utils): add legacy hash migration and download retry tests
  tests/test_utils.py
Due: none

fix(utils): specify encoding when reading hash files
  src/fetchtastic/utils.py
Due: Core Downloads

style(utils): normalize whitespace and formatting in docstrings
  src/fetchtastic/utils.py
  tests/test_utils.py
Due: Core Downloads

Migrate hash persistence from sidecars to cache directory (#141)
  pyproject.toml
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_config_edge_cases.py
  tests/test_files_operations.py
  tests/test_setup_config.py
  tests/test_utils.py
Due: Core Downloads, Configuration

refactor(cache): improve debug logging to distinguish data updates from timestamp refreshes
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/prerelease_history.py
Due: Core Downloads

refactor(cache): optimize cache writes and improve debug logging
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/prerelease_history.py
Due: Core Downloads

feat(firmware): add configurable options for device hardware manager
  src/fetchtastic/download/firmware.py
Due: Core Downloads

test(repository): add comprehensive tests for repository downloader
  tests/test_repository_downloader.py
Due: none

test(repository): update repository downloader tests for refactored initialization
  tests/test_repository_downloader.py
Due: none

test(firmware): add tests for device hardware manager configuration
  tests/test_device_hardware_config.py
Due: none

test(cache): add tests for prerelease cache optimization
  tests/test_prerelease_cache_optimization.py
Due: none

test(cache): add tests for cache write optimization and history handling
  tests/test_prerelease_cache_optimization.py
Due: none

chore: bump version to 0.9.4
  pyproject.toml
  src/fetchtastic/download/base.py
  src/fetchtastic/download/files.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/utils.py
  tests/test_device_hardware_config.py
  tests/test_prerelease_cache_optimization.py
Due: Core Downloads, Configuration

perf(download): optimize prerelease tracking with cached releases and in-memory commits
  src/fetchtastic/constants.py
  src/fetchtastic/download/android.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_prerelease_cache_optimization.py
Due: Core Downloads, Infrastructure

refactor(download): extract device API config variable and update cache tests
  src/fetchtastic/download/firmware.py
  tests/test_prerelease_cache_optimization.py
Due: Core Downloads

refactor(download): simplify prerelease cache writing by removing unchanged check
  src/fetchtastic/download/prerelease_history.py
  tests/test_prerelease_cache_optimization.py
Due: Core Downloads

perf(download): add timeout to prerelease API requests
  src/fetchtastic/download/prerelease_history.py
  tests/test_cache_manager_releases_optimization.py
Due: Core Downloads

refactor(cache): exclude pagination parameters from URL cache keys
  src/fetchtastic/download/android.py
  src/fetchtastic/download/base.py
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  src/fetchtastic/download/prerelease_history.py
  tests/test_cache_management.py
  tests/test_cache_manager_releases_optimization.py
  tests/test_device_hardware_config.py
  tests/test_repository_downloader.py
Due: Core Downloads

refactor(download): remove duplicate prerelease directory listing call
  src/fetchtastic/download/firmware.py
  tests/test_repository_downloader.py
Due: Core Downloads

perf(cache): add expiry check to in-memory prerelease commits cache
  src/fetchtastic/download/prerelease_history.py
Due: Core Downloads

perf(cache): optimize releases cache to skip writes when data unchanged
  src/fetchtastic/download/cache.py
  src/fetchtastic/download/firmware.py
  tests/test_cache_manager_releases_optimization.py
Due: Core Downloads

Path conditions:
  Core Downloads: any of: src/fetchtastic/download/*.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
