Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_downloads
      name: Core Downloads
      paths:
        - src/fetchtastic/download/*.py
        - src/fetchtastic/utils.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: user_interface
      name: User Interface
      paths:
        - src/fetchtastic/cli.py
        - src/fetchtastic/menu_apk.py
        - src/fetchtastic/menu_firmware.py
        - src/fetchtastic/menu_repo.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/fetchtastic/setup_config.py
      statuses:
        - type: project
          target: 50%
          threshold: 2%
        - type: patch
          target: 50%
          threshold: 2%
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/fetchtastic/constants.py
        - src/fetchtastic/log_utils.py
        - src/fetchtastic/__init__.py
      statuses:
        - type: project
          target: 60%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

Drop the dead pre-scan from firmware prerelease tracking management (#268)
  src/fetchtastic/download/firmware.py
  tests/test_download_firmware.py
Due: Core Downloads

Clear result lists at the start of every orchestrator run
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

Clear result lists at the start of every orchestrator run (#266)
  src/fetchtastic/download/orchestrator.py
  tests/test_download_orchestrator.py
Due: Core Downloads

Bump version to 0.11.4 and upgrade trunk linters
  .trunk/trunk.yaml
  pyproject.toml
  tests/test_cleanup_retention_reconciliation.py
Due: none

Bump version to 0.11.4 and upgrade trunk linters (#270)
  .trunk/trunk.yaml
  pyproject.toml
  tests/test_cleanup_retention_reconciliation.py
Due: none

fix(termux): make cron automation reliable
  docs/termux-installation.md
  src/fetchtastic/setup_config.py
  tests/test_automation_config.py
  tests/test_setup_config.py
  tests/test_setup_config_line_coverage.py
  tests/test_setup_config_uncovered.py
Due: Configuration

fix(termux): preserve cron during reconfiguration
  src/fetchtastic/setup_config.py
  tests/test_automation_config.py
  tests/test_setup_config.py
  tests/test_setup_config_line_coverage.py
Due: Configuration

Improve reliability of cron automation in Termux (#271)
  docs/termux-installation.md
  src/fetchtastic/setup_config.py
  tests/test_automation_config.py
  tests/test_setup_config.py
  tests/test_setup_config_line_coverage.py
  tests/test_setup_config_uncovered.py
Due: Configuration

Summarize latest version of every configured asset type with download age
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads

Fix CodeRabbit findings in download-run latest-version summary
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads

fix(summary): harden local asset status reporting
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads

docs(summary): correct stale snapshot-selection docstring
  src/fetchtastic/download/cli_integration.py
Due: Core Downloads

fix(summary): harden payload detection and snapshot error handling
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads

Report configured firmware and client asset versions in summary (#274)
  src/fetchtastic/download/cli_integration.py
  tests/test_download_cli_integration.py
Due: Core Downloads

fix(firmware): reuse the run's release list for cleanup
  src/fetchtastic/download/firmware.py
  tests/test_firmware_downloader_comprehensive.py
Due: Core Downloads

fix(firmware): warn once per target for absent nightly manifests
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, Infrastructure

fix(download): hold the run lock on lock-capable private storage
  src/fetchtastic/constants.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/run_lock.py
  tests/test_run_lock.py
Due: Core Downloads, Infrastructure

test(firmware): cover nightly absence-state edge cases
  tests/test_firmware_nightlies.py
Due: none

fix(download): hold the run lock on lock-capable private storage (#283)
  src/fetchtastic/constants.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/download/run_lock.py
  tests/test_run_lock.py
Due: Core Downloads, Infrastructure

fix(firmware): warn once per absent nightly manifest and reuse the run's release list (#284)
  src/fetchtastic/constants.py
  src/fetchtastic/download/firmware.py
  tests/test_firmware_downloader_comprehensive.py
  tests/test_firmware_nightlies.py
Due: Core Downloads, Infrastructure

ci: drop stale action pins glued into pin comments
  .github/workflows/pypi-publish.yml
  .github/workflows/test-and-coverage.yml
Due: none

ci: drop stale action pins glued into pin comments (#285)
  .github/workflows/pypi-publish.yml
  .github/workflows/test-and-coverage.yml
Due: none

feat(client): download selected desktop snapshot installers
  README.md
  docs/configuration.md
  src/fetchtastic/client_app_config.py
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  src/fetchtastic/notifications.py
  src/fetchtastic/setup_config.py
  tests/test_desktop_snapshots.py
  tests/test_setup_config_extended.py
  tests/test_setup_config_uncovered.py
  tests/test_snapshots.py
Due: Core Downloads, Configuration

fix(packaging): ship and resolve platform installer resources
  pyproject.toml
  src/fetchtastic/tools/__init__.py
  tests/test_install_resources.py
Due: none

fix(client): distinguish failed snapshot checks and protect managed builds
  src/fetchtastic/download/client_app.py
  src/fetchtastic/download/orchestrator.py
  tests/test_snapshots.py
Due: Core Downloads

feat(install): prefer uv and preserve pip environment upgrades
  docs/linux-installation.md
  docs/macos-installation.md
  docs/termux-installation.md
  docs/windows-installation.md
  src/fetchtastic/installation.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/tools/setup_fetchtastic.ps1
  src/fetchtastic/tools/setup_fetchtastic.sh
  tests/test_config_edge_cases.py
  tests/test_install_scripts.py
  tests/test_installation.py
  tests/test_pip_migration.py
  tests/test_setup_config.py
  tests/test_setup_config_line_coverage.py
  tests/test_setup_config_uncovered.py
Due: Configuration

ci(python): lock development with uv and retain pip compatibility jobs
  .github/workflows/test-and-coverage.yml
  .gitignore
  AGENTS.md
  README.md
  docs/TESTING_GUIDE.md
  pyproject.toml
  renovate.json
  scripts/build_and_check.py
  scripts/check_installed_package.py
  uv.lock
Due: none

ci(release): publish checked distributions after release publication
  .github/workflows/pypi-publish.yml
Due: none

docs(audit): record client app history and Python workflow contracts
  docs/client-app-and-python-audit.md
Due: none

feat(install): prefer uv and preserve pip environment upgrades
  README.md
  docs/linux-installation.md
  docs/macos-installation.md
  docs/termux-installation.md
  docs/windows-installation.md
  src/fetchtastic/installation.py
  src/fetchtastic/setup_config.py
  src/fetchtastic/tools/setup_fetchtastic.ps1
  src/fetchtastic/tools/setup_fetchtastic.sh
  tests/test_config_edge_cases.py
  tests/test_install_scripts.py
  tests/test_installation.py
  tests/test_pip_migration.py
  tests/test_setup_config.py
  tests/test_setup_config_line_coverage.py
  tests/test_setup_config_uncovered.py
  tests/windows_installer_regressions.ps1
Due: Configuration

ci(python): lock development with uv and retain pip compatibility jobs
  .github/workflows/test-and-coverage.yml
  .gitignore
  AGENTS.md
  docs/TESTING_GUIDE.md
  pyproject.toml
  renovate.json
  scripts/build_and_check.py
  scripts/check_installed_package.py
  tests/test_build_and_check.py
  uv.lock
Due: none
