Repository jeremiah-k/fetchtastic: changes, and which Codecov flags are due for each by the changed paths.
All: Core Downloads, User Interface, Configuration, Infrastructure

test(prereleases): reformat assertions and update cache test structure
  tests/test_prereleases.py
Due: none

style(formatting): fix whitespace formatting and add missing newlines at EOF
  src/fetchtastic/menu_repo.py
  tests/test_coverage_fix.py
  tests/test_security_paths.py
  tests/test_token_warning_fix.py
Due: User Interface

style(test/prereleases): fix whitespace formatting and restructure assertions
  tests/test_prereleases.py
Due: none

style(downloader): fix whitespace formatting and restructure exception handling
  src/fetchtastic/downloader.py
  src/fetchtastic/utils.py
  tests/test_prereleases.py
  tests/test_security_paths.py
  tests/test_token_warning_fix.py
Due: Core Downloads

style(downloader, test/prereleases): improve code formatting and exception handling structure
  src/fetchtastic/downloader.py
  tests/test_prereleases.py
Due: Core Downloads

perf(downloader): parallelize prerelease commit detail fetching (#109)
  .trunk/trunk.yaml
  pyproject.toml
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  src/fetchtastic/menu_repo.py
  src/fetchtastic/utils.py
  tests/test_coverage_fix.py
  tests/test_prereleases.py
  tests/test_security_paths.py
  tests/test_token_warning_fix.py
  tests/test_utils.py
Due: Core Downloads, User Interface, Infrastructure

feat(automation): enhance cron job setup with configurable frequency options
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Configuration

docs: add venv activation note to test section
  AGENTS.md
Due: none

test(automation): add comprehensive test coverage for cron job setup and frequency handling
  tests/test_setup_config.py
Due: none

test(automation): add test for Linux automation cron job setup
  tests/test_setup_config.py
Due: none

feat(automation): enhance cron job setup with hourly default and improved validation
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Configuration

refactor(automation): consolidate cron job configuration logic into reusable function
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(automation): consolidate cron job setup logic by removing frequency-specific branches
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(automation): consolidate cron frequency conditional logic into dictionary lookup
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(test): use reload_setup_config_module fixture instead of manual importlib.reload
  tests/test_setup_config.py
Due: none

feat(config): add hourly cron job support (#111)
  AGENTS.md
  src/fetchtastic/setup_config.py
  tests/test_setup_config.py
Due: Configuration

feat(apk): add support for downloading and managing APK prereleases
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_download_core.py
Due: Core Downloads, Configuration

test(config): add test inputs for APK prerelease and GitHub token setup
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads

test(config): add additional mock input for test scenario
  tests/test_setup_config.py
Due: none

test(apk): add tests for enhanced APK download processing with prerelease support
  tests/test_download_core.py
Due: none

test(download): add android releases URL to test configurations
  tests/test_download_core.py
Due: none

refactor(apk): enhance APK download processing with dynamic scan count for prereleases
  src/fetchtastic/downloader.py
Due: Core Downloads

After analyzing the staged changes, I can see this involves refactoring APK download processing with several improvements:
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(apk): simplify scan count logic and improve code formatting
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_download_core.py
  tests/test_setup_config.py
Due: Core Downloads, Configuration

refactor(apk): simplify code logic and improve formatting
  src/fetchtastic/downloader.py
Due: Core Downloads

feat: add android prerelease json file handling
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

feat(firmware): add firmware prerelease JSON file handling
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
Due: Core Downloads, Infrastructure

refactor(apk): improve APK release processing logic and test coverage
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads

refactor(apk): improve APK release processing with better scan logic and error handling
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads

test(apk,config): remove unused imports and add null checks to tests
  tests/test_download_core.py
  tests/test_setup_config.py
Due: none

chore(config): update linting tools versions
  .trunk/trunk.yaml
Due: none

refactor(apk): improve APK release processing with scan logic and constant usage
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads, Infrastructure

test: fix firmware versions test expectation from 4 to 3
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads

refactor(downloader): separate firmware and APK prerelease version handling
  src/fetchtastic/downloader.py
Due: Core Downloads

refactor(apk): refine APK processing logic and cleanup handling
  src/fetchtastic/downloader.py
Due: Core Downloads

docs: improve function docstrings for clarity and consistency
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
Due: Core Downloads, Configuration

refactor(apk): filter out superseded prereleases to avoid unnecessary downloads
  src/fetchtastic/downloader.py
  tests/test_download_core.py
Due: Core Downloads

refactor(apk): improve APK prerelease detection with GitHub flag support
  src/fetchtastic/constants.py
  src/fetchtastic/downloader.py
  src/fetchtastic/setup_config.py
  tests/test_download_core.py
Due: Core Downloads, Configuration, Infrastructure

refactor(config): move subprocess imports to module level in setup_config
  src/fetchtastic/setup_config.py
Due: Configuration

refactor(downloader): add perform_cleanup parameter to control version cleanup behavior
  src/fetchtastic/downloader.py
  tests/test_setup_config.py
Due: Core Downloads

Path conditions:
  Core Downloads: any of: src/fetchtastic/downloader.py, src/fetchtastic/repo_downloader.py, src/fetchtastic/utils.py
  User Interface: any of: src/fetchtastic/cli.py, src/fetchtastic/menu_apk.py, src/fetchtastic/menu_firmware.py, src/fetchtastic/menu_repo.py
  Configuration: any of: src/fetchtastic/setup_config.py
  Infrastructure: any of: src/fetchtastic/constants.py, src/fetchtastic/log_utils.py, src/fetchtastic/__init__.py
